.header {
    gap: var(--dl-space-space-twounits);
    flex: 1;
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    align-self: flex-start;
    align-items: flex-start;
    border-radius: var(--dl-radius-radius-radius8);
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: column;

    .containerImage {
        background-image: url("/playground_assets/grid_0%20%5B4%5D-1500w.webp");
        background-position: top;
    }

    .containerInner {
        position: auto !important;

        > div:first-child {
            flex: 0 0 auto;
            width: 100%;
            height: 100%;
            display: flex;
            z-index: 100;
            align-self: flex-start;
            padding-top: var(--dl-space-space-twounits);
            padding-left: var(--dl-space-space-threeunits);
            border-radius: var(--dl-radius-radius-radius4);
            padding-right: var(--dl-space-space-threeunits);
            flex-direction: column;
            padding-bottom: var(--dl-space-space-twounits);
            justify-content: flex-end;
        }

        .headline {
            width: 100%;
            height: auto;
            display: flex;
            align-self: flex-start;
            align-items: flex-start;
            flex-direction: column;
            justify-content: flex-start;

            h1 {
                color: var(--dl-color-dark-white);
                font-style: normal;
                transition: 0.3s;
                margin-bottom: var(--dl-space-space-halfunit);
                    
                
                &:hover {
                    color: var(--dl-color-dark-green-200);
                }
            }

            h3 {
                color: var(--dl-color-dark-green-200);
                font-style: normal;
                font-weight: 500;
                margin-bottom: var(--dl-space-space-twounits);
            }

            .content {
                width: 100%;
                height: 60px;
                display: flex;
                align-items: flex-start;
                flex-direction: row;
                justify-content: space-between;

                > :first-child {
                    gap: var(--dl-space-space-unit);
                    height: 100%;
                    display: flex;
                    align-items: flex-start;
                    flex-direction: row;
                    justify-content: flex-start;

                    > :first-child {
                        gap: var(--dl-space-space-unit);
                        width: auto;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        padding-top: 2px;
                        padding-left: 22px;
                        border-radius: var(--dl-radius-radius-radius12);
                        padding-right: 22px;
                        padding-bottom: 0px;
                        backdrop-filter: blur(8px);
                        justify-content: flex-start;
                        background-color: rgba(255, 255, 255, 0.2);

                        span {
                            color: var(--dl-color-dark-white);
                            font-style: normal;
                            font-weight: 600;
                            text-transform: uppercase;
                        }
                    }

                    > :nth-child(2) {
                        gap: var(--dl-space-space-unit);
                        width: auto;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        padding-top: 2px;
                        padding-left: 22px;
                        border-radius: var(--dl-radius-radius-radius12);
                        padding-right: 22px;
                        padding-bottom: 0px;
                        backdrop-filter: blur(8px);
                        justify-content: flex-start;
                        background-color: rgba(255, 255, 255, 0.2);

                        span {
                            color: var(--dl-color-dark-white);
                            font-style: normal;
                            font-weight: 600;
                            text-transform: uppercase;
                        }
                    }
                }

                > :nth-child(2) {
                    gap: var(--dl-space-space-unit);
                    width: auto;
                    height: 100%;
                    display: flex;
                    transition: 0.3s;
                    align-items: center;
                    padding-top: 2px;
                    padding-left: 22px;
                    border-radius: var(--dl-radius-radius-radius12);
                    padding-right: 22px;
                    padding-bottom: 0px;
                    backdrop-filter: blur(8px);
                    justify-content: flex-start;
                    background-color: rgba(255, 255, 255, 0.2);

                    &:hover {
                        background-color: rgba(35, 255, 189, 0.5);
                    }

                    span {
                        color: var(--dl-color-dark-white);
                        align-self: center;
                        font-style: normal;
                        font-weight: 600;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}
.dot {
    flex: 0 0 auto;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: flex-start;
    border-radius: var(--dl-radius-radius-round);
    flex-direction: column;
    justify-content: center;
    background-color: var(--dl-color-dark-green-200);
}

@media(max-width: 1200px) {
    .header {
        .containerInner {
            > div:first-child {
                height: auto;
            }
        }
    }
}

@media(max-width: 991px) {
    .header {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 767px) {
    .header {
        gap: var(--dl-space-space-unit);
        margin-bottom: var(--dl-space-space-twounits);

        .container {
            border-radius: var(--dl-radius-radius-radius8);

            .containerImage {
                border-radius: var(--dl-radius-radius-radius8);
            }

            .containerInner {
                > div:first-child {
                    padding-left: var(--dl-space-space-unit);
                    padding-right: var(--dl-space-space-unit);
                    padding-bottom: var(--dl-space-space-unit);
                }

                .headline {
                    height: auto;

                    h1 {
                        font-size: 20px;
                    }

                    .h3 {
                        font-size: 14px;
                    }

                    .content {
                        gap: var(--dl-space-space-halfunit);
                        height: 50px;

                        > :first-child {
                            gap: var(--dl-space-space-halfunit);

                            > :first-child {
                                height: 100%;
                                padding-top: 12px;
                                border-radius: var(--dl-radius-radius-radius8);
                                padding-bottom: 10px;

                                span {
                                    font-size: 13px;
                                }
                            }

                            > :nth-child(2) {
                                height: 100%;
                                padding-top: 12px;
                                border-radius: var(--dl-radius-radius-radius8);
                                padding-bottom: 10px;

                                span {
                                    font-size: 13px;
                                }
                            }
                        }

                        > :nth-child(2) {
                            height: 100%;
                            display: none;
                            padding-top: 12px;
                            border-radius: var(--dl-radius-radius-radius8);
                            padding-bottom: 10px;

                            span {
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
    }
    .dot {
        width: 14px;
        height: 14px;
    }
}