.name {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    align-self: flex-start;
    margin-top: var(--dl-space-space-twounits);
    justify-content: flex-start;

    >div {
        gap: var(--dl-space-space-halfunit);
        flex: 0 0 auto;
        width: auto;
        height: auto;
        display: flex;
        align-self: center;
        align-items: flex-start;
        padding-top: var(--dl-space-space-twounits);
        border-radius: var(--dl-radius-radius-radius12);
        flex-direction: column;
        padding-bottom: var(--dl-space-space-unit);

        >h1 {
            color: var(--dl-color-dark-white);
            font-size: 30px;
            font-family: Poppins;
            font-weight: 700;
            line-height: 1.15;
            text-transform: none;
            text-decoration: none;
        }

        >div {
            gap: var(--dl-space-space-halfunit);
            display: flex;
            align-items: flex-start;
            flex-direction: row;

            .navlink {
                display: contents;

                >p {
                    color: var(--dl-color-dark-green-200);
                    font-size: 16px;
                    font-style: normal;
                    font-family: Poppins;
                    font-weight: 600;
                    line-height: 1.15;
                    text-transform: none;
                    text-decoration: none;
                }
            }

            .text1 {
                color: var(--dl-color-dark-gray-400);
                font-size: 16px;
                font-style: normal;
                font-family: Poppins;
                font-weight: 600;
                line-height: 1.15;
                text-transform: none;
                text-decoration: none;
            }

            .text2 {
                color: var(--dl-color-dark-green-200);
                font-size: 16px;
                font-style: normal;
                font-family: Poppins;
                font-weight: 600;
                line-height: 1.15;
                text-transform: none;
                text-decoration: none;
            }
        }
    }
}



@media(max-width: 1200px) {
    .name {
        flex-direction: column;

        >div {
            padding-top: var(--dl-space-space-twounits);
        }
    }
}

@media(max-width: 991px) {
    .name {
        gap: var(--dl-space-space-unit);
        align-self: flex-start;
        margin-left: 0px;
        flex-direction: column;

        >div {
            gap: var(--dl-space-space-halfunit);
            height: auto;
            padding-top: var(--dl-space-space-halfunit);
        }
    }
}

@media(max-width: 767px) {
    .name {
        gap: var(--dl-space-space-halfunit);
        align-self: flex-start;
        margin-top: var(--dl-space-space-unit);
        align-items: center;
        justify-content: flex-start;

        >div {
            gap: var(--dl-space-space-halfunit);
            height: auto;
            padding-top: var(--dl-space-space-halfunit);
            padding-left: var(--dl-space-space-halfunit);
            padding-bottom: var(--dl-space-space-halfunit);

            >h1 {
                font-size: 18px;
            }

            >div {
                .navlink {
                    >p {
                        font-size: 13px;
                    }
                }

                .text1 {
                    font-size: 13px;
                }

                .text2 {
                    font-size: 13px;
                }
            }
        }
    }
}