.smallStats {
    gap: var(--dl-space-space-halfunit);
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: flex-start;

    .card {
        flex: 0 0 auto;
        width: auto;
        height: auto;
        display: flex;
        align-items: flex-start;
        padding-top: 12px;
        padding-left: var(--dl-space-space-unit);
        border-radius: var(--dl-radius-radius-radius8);
        padding-right: var(--dl-space-space-unit);
        flex-direction: column;
        padding-bottom: 8px;
        background-color: var(--dl-color-dark-gray-300);

        span:nth-child(1) {
            color: var(--dl-color-dark-green-200);
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
        }

        span:nth-child(2) {
            color: var(--dl-color-dark-gray-400);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
        }
    }
}


@media(max-width: 767px) {

    .smallStats {
        flex-wrap: wrap;

        .card {
            padding-top: 10px;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 6px;

            span:nth-child(1) {
                font-size: 16px;
            }

            span:nth-child(2) {
                font-size: 13px;
            }
        }
    }
}