.container {
    flex: 0 0 auto;
    width: auto;
    display: flex;
    align-items: center;

    >div {
        flex: 1;
        width: auto;
        height: 100px;
        display: flex;
        align-self: center;
        align-items: center;
        padding-left: var(--dl-space-space-unit);
        padding-right: var(--dl-space-space-unit);
        justify-content: flex-end;

        .link {
            color: var(--dl-color-dark-white);
            transition: 0.3s;
            padding-top: 12px;
            border-width: 0px;
            padding-left: var(--dl-space-space-unit);
            padding-right: var(--dl-space-space-unit);
            padding-bottom: 12px;
            text-decoration: none;
            background-color: transparent;
        }

        .link:hover {
            color: var(--dl-color-dark-green-200);
        }

        .link:active {
            color: var(--dl-color-dark-green-200);
        }
    }
}


@media(max-width: 991px) {
    .container {
        >div {
            display: none;
        }
    }
}