.collectionItemsContainerCollectionItemsContainer {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  margin: TwoUnits;
  display: flex;
  position: relative;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: 0px;
  padding-top: var(--dl-space-space-unit);
  margin-right: 0px;
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius12);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}

.collectionItemsContainerContainer {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}