.addItemContainerForm {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 0px;
    align-items: flex-start;
    border-radius: var(--dl-radius-radius-radius8);
    flex-direction: column;
}

.addItemUnderHeader {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.addItemCard {
    gap: var(--dl-space-space-sixunits);
    width: 100%;
    height: auto;
    display: flex;
    align-self: flex-end;
    align-items: flex-start;
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-twounits);
    border-radius: var(--dl-radius-radius-radius12);
    padding-right: var(--dl-space-space-twounits);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-threeunits);
    justify-content: flex-start;
    background-color: var(--dl-color-dark-gray-250);
}

@media(max-width: 991px) {
    .addItemCard {
        gap: var(--dl-space-space-twounits);
    }
}

@media(max-width: 767px) {
    .addItemContainerForm {
        gap: var(--dl-space-space-twounits);
        margin-top: 0px;
    }

    .addItemUnderHeader {
        height: auto;
    }

    .addItemCard {
        gap: 4px;
        width: auto;
        align-self: flex-start;
        padding-top: var(--dl-space-space-twounits);
        padding-left: var(--dl-space-space-halfunit);
        border-radius: var(--dl-radius-radius-radius8);
        padding-right: var(--dl-space-space-halfunit);
    }
}