.select {
    .control {
        background-color: #191919;
        padding: 7px;
        border-color: var(--dl-color-dark-gray-360);
        border-radius: var(--dl-radius-radius-radius12);
        border-width: 2px;
        outline: none;
        box-shadow: none;
        cursor: pointer;

        &:hover {
            border-color: var(--dl-color-dark-green-200);
        }
    }

    .placeholder {
        color: var(--dl-color-dark-white);
        font-size: 16px;
        font-style: normal;
        text-align: center;
        font-weight: 600;
        margin-right: 4px;
        vertical-align: middle;
        pointer-events: none;
    }

    .menu {
        background-color: #191919;
        border-color: var(--dl-color-dark-gray-360);
        border-radius: var(--dl-radius-radius-radius12);
        border-width: 2px;
        color: var(--dl-color-dark-white);

        >div>div {
            background-color: #191919;
            cursor: pointer;

            &:hover {
                background-color: #191919;
                color: var(--dl-color-dark-green-200);
            }
        }
    }

    .indicatorSeparator {
        background-color: var(--dl-color-dark-gray-360);
    }
}
@media(max-width: 767px) {
    .select {
        .control {
            max-height: 38px;
            padding: 0px;
            border-radius: var(--dl-radius-radius-radius8);
        }
        .placeholder {
            font-size: 13px;
        }
    }
}