.nft-item {
  flex: 1;
  display: flex;
  position: relative;
  transition: 0.3s;
  align-items: flex-start;
  border-color: var(--dl-color-dark-gray-360);
  border-width: 5px;
  border-radius: var(--dl-radius-radius-radius12);
  flex-direction: column;
  background-color: var(--dl-color-dark-gray-360);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;

  &:hover {
    transform: translateY(-5px);
    border-color: var(--dl-color-dark-green-200);
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 5px;
  }

  .nft-image-header {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    aspect-ratio: 3/2;
    border-radius: var(--dl-radius-radius-radius12);
    background-size: cover;
    background-image: url("/playground_assets/vlad__foton.is__radix.stream_pirate_crew_member_illustration_352025ba-0bac-4b8e-9a47-9d8da5bb2ceb-200h.png");
  }
}


.item1-text-box {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: flex-start;
}
.item1-container {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.item1-text {
  color: var(--dl-color-dark-white);
  width: 100%;
  height: auto;
  display: inline-block;
  overflow: hidden;
  font-size: 18px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: none;
  text-decoration: none;
}
.item1-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.item1-floor {
  gap: 3px;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.item1-text1 {
  color: var(--dl-color-dark-gray-400);
}
.item1-text2 {
  color: var(--dl-color-dark-white);
}
.item1-volume24 {
  gap: 3px;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.item1-text3 {
  color: var(--dl-color-dark-gray-400);
}
.item1-text4 {
  color: var(--dl-color-dark-green-200);
}
@media(max-width: 767px) {
  .nft-item {
    border-radius: var(--dl-radius-radius-radius8);
    
    .nft-image-header {
      border-radius: var(--dl-radius-radius-radius8);
    }
  }
  .item1-text {
    font-size: 16px;
  }
  .item1-text1 {
    font-size: 11px;
  }
  .item1-text2 {
    font-size: 13px;
  }
  .item1-text3 {
    font-size: 11px;
  }
  .item1-text4 {
    font-size: 13px;
  }
}
@media(max-width: 479px) {
  .item1-text-box {
    padding: 12px;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
}
