.gridItems {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;

    .container {
        gap: var(--dl-space-space-unit);
        flex: 0 0 auto;
        width: 100%;
        display: grid;
        align-items: flex-end;
        grid-row-gap: var(--dl-space-space-unit);
        justify-content: flex-start;
        grid-auto-columns: minmax(200px, auto);
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}



@media(max-width: 767px) {
    .gridItems {
        .container {
            gap: var(--dl-space-space-halfunit);
            align-items: stretch;
            grid-row-gap: var(--dl-space-space-unit);
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media(max-width: 1200px) {
    .gridItems {
        .container {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

@media(max-width: 991px) {
    .gridItems {
        .container {
            grid-template-columns: 1fr 1fr;
        }
    }
}