.addItemsSelectorHeaderCreator {
    flex: 0 0 auto;
    width: 100%;
    height: 200px;
    display: flex;
    position: relative;
    box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.3);
    margin-top: var(--dl-space-space-twounits);
    align-items: flex-start;
    margin-left: 0px;
    padding-top: var(--dl-space-space-twounits);
    margin-right: 0px;
    padding-left: var(--dl-space-space-twounits);
    border-radius: var(--dl-radius-radius-radius12);
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    background-size: cover;
    justify-content: flex-end;
    background-image: url("/playground_assets/vlad__foton.is__radix.stream_launch_of_a_geometric_rocket_with__07d686d1-ac67-4445-8604-8ef1e9f56803-1500w.png");
    background-position: center;
}

.addItemsSelectorContainer01 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    z-index: 130;
    align-items: flex-end;
    justify-content: space-between;
}

.addItemsSelectorContainer02 {
    gap: var(--dl-space-space-unit);
    display: flex;
    align-self: center;
    align-items: center;
}

.addItemsSelectorContainer03 {
    gap: var(--dl-space-space-unit);
    flex: 0 0 auto;
    width: auto;
    height: 160px;
    display: flex;
    align-items: flex-start;
    padding-top: var(--dl-space-space-fourunits);
    border-radius: var(--dl-radius-radius-radius12);
    flex-direction: column;
    justify-content: flex-end;
}

.addItemsSelectorText {
    color: var(--dl-color-dark-white);
    font-size: 24px;
    font-family: Poppins;
    font-weight: 700;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
}

.addItemsSelectorMaskOverlay {
    top: 0px;
    flex: 0 0 auto;
    left: 0px;
    right: 0px;
    width: 100%;
    bottom: 0px;
    height: 100%;
    margin: auto;
    display: flex;
    position: absolute;
    align-items: flex-start;
    background-color: rgba(24, 24, 24, 0.36);
}

@media(max-width: 767px) {
    .addItemsSelectorHeaderCreator {
        height: 160px;
        margin-top: var(--dl-space-space-unit);
        padding-top: var(--dl-space-space-unit);
        padding-left: var(--dl-space-space-unit);
        border-radius: var(--dl-radius-radius-radius8);
        margin-bottom: var(--dl-space-space-unit);
        padding-bottom: var(--dl-space-space-unit);
    }

    .addItemsSelectorContainer01 {
        z-index: 100;
        align-items: flex-start;
        flex-direction: column;
    }

    .addItemsSelectorContainer02 {
        gap: var(--dl-space-space-unit);
        align-self: flex-start;
        align-items: center;
        justify-content: flex-start;
    }

    .addItemsSelectorContainer03 {
        gap: var(--dl-space-space-halfunit);
        height: auto;
        padding-top: var(--dl-space-space-unit);
    }

    .addItemsSelectorText {
        font-size: 18px;
    }

    .addItemsSelectorMaskOverlay {
        height: 100%;
    }
}