.add-project-container {
  width: 100%;
  display: flex;
  overflow: visible;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-dark-gray-200);
}
.add-project-header-creator {
  flex: 0 0 auto;
  width: 100%;
  height: 200px;
  display: flex;
  position: relative;
  box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.3);
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  padding-top: var(--dl-space-space-twounits);
  margin-right: 0px;
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius12);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-size: cover;
  justify-content: flex-end;
  background-image: url("/playground_assets/vlad__foton.is__radix.stream_launch_of_a_geometric_rocket_with__07d686d1-ac67-4445-8604-8ef1e9f56803-1500w.png");
  background-position: center;
}
.add-project-container01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  z-index: 130;
  align-items: flex-end;
  justify-content: space-between;
}
.add-project-container02 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: center;
  align-items: center;
}
.add-project-container03 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: auto;
  height: 160px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius12);
  flex-direction: column;
  justify-content: flex-end;
}
.add-project-text {
  color: var(--dl-color-dark-white);
  font-size: 24px;
  font-family: Poppins;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.add-project-mask-overlay {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  background-color: rgba(24, 24, 24, 0.36);
}
.add-project-tabs-row {
  top: 80px;
  flex: 0 0 auto;
  width: 100%;
  height: 60px;
  display: flex;
  z-index: 100;
  position: sticky;
  align-items: center;
  border-color: var(--dl-color-dark-gray-300);
  border-width: 0px;
  padding-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-halfunit);
  justify-content: space-between;
  background-color: var(--dl-color-dark-gray-200);
  border-bottom-width: 1px;
}
.add-project-container04 {
  gap: var(--dl-space-space-twounits);
  height: 100%;
  display: flex;
  align-items: center;
}
.add-project-navlink {
  color: var(--dl-color-dark-gray-400);
  height: 100%;
  font-style: normal;
  transition: 0.05s;
  font-weight: 600;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: var(--dl-color-dark-gray-200);
  border-width: 0px;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
  border-bottom-width: 2px;
}
.add-project-navlink:hover {
  color: var(--dl-color-dark-green-200);
}
.add-project-text01 {
  color: var(--dl-color-dark-white);
  height: 100%;
  font-style: normal;
  font-weight: 600;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: var(--dl-color-dark-gray-200);
  border-width: 0px;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  border-bottom-width: 2px;
}
.add-project-container-form {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
}
.add-project-under-header {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.add-project-card {
  gap: var(--dl-space-space-sixunits);
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-end;
  align-items: flex-start;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius12);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: flex-start;
  background-color: var(--dl-color-dark-gray-250);
}
.add-project-form {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  height: auto;
  display: flex;
  flex-direction: column;
}
.add-project-field {
  gap: var(--dl-space-space-unit);
  display: flex;
  flex-direction: column;
}
.add-project-text02 {
  color: var(--dl-color-dark-white);
}
.add-project-textinput {
  color: var(--dl-color-dark-white);
  height: 50px;
  transition: 0.3s;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-dark-gray-300);
}
.add-project-textinput:focus {
  border-color: var(--dl-color-dark-gray-400);
  background-color: var(--dl-color-dark-gray-360);
}
.add-project-area {
  gap: var(--dl-space-space-unit);
  display: flex;
  flex-direction: column;
}
.add-project-text03 {
  color: var(--dl-color-dark-white);
}
.add-project-textarea {
  color: var(--dl-color-dark-white);
  height: auto;
  min-height: 100px;
  transition: 0.3s;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-dark-gray-300);
}
.add-project-textarea:focus {
  border-color: var(--dl-color-dark-gray-400);
  background-color: var(--dl-color-dark-gray-360);
}
.add-project-area1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  flex-direction: column;
}
.add-project-text04 {
  color: var(--dl-color-dark-white);
}
.add-project-textarea1 {
  color: var(--dl-color-dark-white);
  height: auto;
  min-height: 100px;
  transition: 0.3s;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-dark-gray-300);
}
.add-project-textarea1:focus {
  border-color: var(--dl-color-dark-gray-400);
  background-color: var(--dl-color-dark-gray-360);
}
.add-project-field-image {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.add-project-text05 {
  color: var(--dl-color-dark-white);
}
.add-project-container05 {
  gap: 0;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.add-project-textinput1 {
  color: var(--dl-color-dark-white);
  width: 100%;
  height: 50px;
  transition: 0.3s;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-dark-gray-300);
  border-right-width: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.add-project-textinput1:focus {
  border-color: var(--dl-color-dark-gray-400);
  background-color: var(--dl-color-dark-gray-360);
}
.add-project-button {
  gap: 4px;
  color: var(--dl-color-dark-white);
  width: 70px;
  height: 50px;
  display: flex;
  align-self: center;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-360);
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.add-project-button:hover {
  background-color: var(--dl-color-dark-gray-370);
}
.add-project-icon {
  fill: var(--dl-color-dark-gray-400);
  width: 24px;
  height: 24px;
}
.add-project-container06 {
  width: 160px;
  height: 160px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  transition: 0.1s;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: solid;
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: center;
}
.add-project-container06:hover {
  background-color: var(--dl-color-dark-gray-300);
}
.add-project-icon02 {
  fill: var(--dl-color-dark-gray-370);
  width: 50px;
  height: 50px;
}
.add-project-field-image1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.add-project-text06 {
  color: var(--dl-color-dark-white);
}
.add-project-container07 {
  gap: 0;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.add-project-textinput2 {
  color: var(--dl-color-dark-white);
  width: 100%;
  height: 50px;
  transition: 0.3s;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-dark-gray-300);
  border-right-width: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.add-project-textinput2:focus {
  border-color: var(--dl-color-dark-gray-400);
  background-color: var(--dl-color-dark-gray-360);
}
.add-project-button01 {
  gap: 4px;
  color: var(--dl-color-dark-white);
  width: 70px;
  height: 50px;
  display: flex;
  align-self: center;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-360);
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.add-project-button01:hover {
  background-color: var(--dl-color-dark-gray-370);
}
.add-project-icon04 {
  fill: var(--dl-color-dark-gray-400);
  width: 24px;
  height: 24px;
}
.add-project-container08 {
  width: 50%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  transition: 0.1s;
  align-items: center;
  aspect-ratio: 3/2;
  border-color: var(--dl-color-dark-gray-370);
  border-style: solid;
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: center;
}
.add-project-container08:hover {
  background-color: var(--dl-color-dark-gray-300);
}
.add-project-icon06 {
  fill: var(--dl-color-dark-gray-370);
  width: 50px;
  height: 50px;
}
.add-project-tags {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.add-project-text07 {
  color: var(--dl-color-dark-white);
}
.add-project-container09 {
  gap: var(--dl-space-space-unit);
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}
.add-project-button02 {
  gap: 4px;
  color: var(--dl-color-dark-white);
  width: auto;
  height: 50px;
  display: flex;
  min-width: 70px;
  align-self: center;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-360);
}
.add-project-button02:hover {
  border-color: var(--dl-color-dark-green-200);
  background-color: var(--dl-color-dark-gray-370);
}
.add-project-text08 {
  color: var(--dl-color-dark-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.add-project-button03 {
  gap: 4px;
  color: var(--dl-color-dark-white);
  width: auto;
  height: 50px;
  display: flex;
  min-width: 70px;
  align-self: center;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-360);
}
.add-project-button03:hover {
  border-color: var(--dl-color-dark-green-200);
  background-color: var(--dl-color-dark-gray-370);
}
.add-project-text11 {
  color: var(--dl-color-dark-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.add-project-button04 {
  gap: 4px;
  color: var(--dl-color-dark-white);
  width: auto;
  height: 50px;
  display: flex;
  min-width: 70px;
  align-self: center;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-360);
}
.add-project-button04:hover {
  border-color: var(--dl-color-dark-green-200);
  background-color: var(--dl-color-dark-gray-370);
}
.add-project-text14 {
  color: var(--dl-color-dark-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.add-project-button05 {
  gap: 4px;
  color: var(--dl-color-dark-white);
  width: auto;
  height: 50px;
  display: flex;
  min-width: 70px;
  align-self: center;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-360);
}
.add-project-button05:hover {
  border-color: var(--dl-color-dark-green-200);
  background-color: var(--dl-color-dark-gray-370);
}
.add-project-text17 {
  color: var(--dl-color-dark-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.add-project-button06 {
  gap: 4px;
  color: var(--dl-color-dark-white);
  width: auto;
  height: 50px;
  display: flex;
  min-width: 70px;
  align-self: center;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-360);
}
.add-project-button06:hover {
  border-color: var(--dl-color-dark-green-200);
  background-color: var(--dl-color-dark-gray-370);
}
.add-project-text20 {
  color: var(--dl-color-dark-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.add-project-button07 {
  gap: 4px;
  color: var(--dl-color-dark-white);
  width: auto;
  height: 50px;
  display: flex;
  min-width: 70px;
  align-self: center;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-360);
}
.add-project-button07:hover {
  border-color: var(--dl-color-dark-green-200);
  background-color: var(--dl-color-dark-gray-370);
}
.add-project-text23 {
  color: var(--dl-color-dark-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.add-project-button08 {
  gap: 4px;
  color: var(--dl-color-dark-white);
  width: auto;
  height: 50px;
  display: flex;
  min-width: 70px;
  align-self: center;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-360);
}
.add-project-button08:hover {
  border-color: var(--dl-color-dark-green-200);
  background-color: var(--dl-color-dark-gray-370);
}
.add-project-text26 {
  color: var(--dl-color-dark-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.add-project-button09 {
  gap: 4px;
  color: var(--dl-color-dark-white);
  width: auto;
  height: 50px;
  display: flex;
  min-width: 70px;
  align-self: center;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-360);
}
.add-project-button09:hover {
  border-color: var(--dl-color-dark-green-200);
  background-color: var(--dl-color-dark-gray-370);
}
.add-project-text29 {
  color: var(--dl-color-dark-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.add-project-button10 {
  gap: 4px;
  color: var(--dl-color-dark-white);
  width: auto;
  height: 50px;
  display: flex;
  min-width: 70px;
  align-self: center;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-360);
}
.add-project-button10:hover {
  border-color: var(--dl-color-dark-green-200);
  background-color: var(--dl-color-dark-gray-370);
}
.add-project-text32 {
  color: var(--dl-color-dark-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.add-project-button11 {
  gap: 4px;
  color: var(--dl-color-dark-white);
  width: auto;
  height: 50px;
  display: flex;
  min-width: 70px;
  align-self: center;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-360);
}
.add-project-button11:hover {
  border-color: var(--dl-color-dark-green-200);
  background-color: var(--dl-color-dark-gray-370);
}
.add-project-text35 {
  color: var(--dl-color-dark-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.add-project-button12 {
  gap: 4px;
  color: var(--dl-color-dark-white);
  width: auto;
  height: 50px;
  display: flex;
  min-width: 70px;
  align-self: center;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-360);
}
.add-project-button12:hover {
  border-color: var(--dl-color-dark-green-200);
  background-color: var(--dl-color-dark-gray-370);
}
.add-project-text38 {
  color: var(--dl-color-dark-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.add-project-button13 {
  gap: 4px;
  color: var(--dl-color-dark-white);
  width: auto;
  height: 50px;
  display: flex;
  min-width: 70px;
  align-self: center;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-360);
}
.add-project-button13:hover {
  border-color: var(--dl-color-dark-green-200);
  background-color: var(--dl-color-dark-gray-370);
}
.add-project-text41 {
  color: var(--dl-color-dark-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.add-project-button14 {
  gap: 4px;
  color: var(--dl-color-dark-white);
  width: auto;
  height: 50px;
  display: flex;
  min-width: 70px;
  align-self: center;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-360);
}
.add-project-button14:hover {
  border-color: var(--dl-color-dark-green-200);
  background-color: var(--dl-color-dark-gray-370);
}
.add-project-text44 {
  color: var(--dl-color-dark-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.add-project-button15 {
  gap: 4px;
  color: var(--dl-color-dark-white);
  width: auto;
  height: 50px;
  display: flex;
  min-width: 70px;
  align-self: center;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-360);
}
.add-project-button15:hover {
  border-color: var(--dl-color-dark-green-200);
  background-color: var(--dl-color-dark-gray-370);
}
.add-project-text47 {
  color: var(--dl-color-dark-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.add-project-button16 {
  gap: 4px;
  color: var(--dl-color-dark-white);
  width: auto;
  height: 50px;
  display: flex;
  min-width: 70px;
  align-self: center;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-360);
}
.add-project-button16:hover {
  border-color: var(--dl-color-dark-green-200);
  background-color: var(--dl-color-dark-gray-370);
}
.add-project-text50 {
  color: var(--dl-color-dark-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.add-project-button17 {
  gap: 4px;
  color: var(--dl-color-dark-white);
  width: auto;
  height: 50px;
  display: flex;
  min-width: 70px;
  align-self: center;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-360);
}
.add-project-button17:hover {
  border-color: var(--dl-color-dark-green-200);
  background-color: var(--dl-color-dark-gray-370);
}
.add-project-text53 {
  color: var(--dl-color-dark-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.add-project-button18 {
  gap: 4px;
  color: var(--dl-color-dark-white);
  width: auto;
  height: 50px;
  display: flex;
  min-width: 70px;
  align-self: center;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-360);
}
.add-project-button18:hover {
  border-color: var(--dl-color-dark-green-200);
  background-color: var(--dl-color-dark-gray-370);
}
.add-project-text56 {
  color: var(--dl-color-dark-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.add-project-button19 {
  gap: 4px;
  color: var(--dl-color-dark-white);
  width: auto;
  height: 50px;
  display: flex;
  min-width: 70px;
  align-self: center;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-360);
}
.add-project-button19:hover {
  border-color: var(--dl-color-dark-green-200);
  background-color: var(--dl-color-dark-gray-370);
}
.add-project-text59 {
  color: var(--dl-color-dark-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.add-project-button20 {
  gap: 4px;
  color: var(--dl-color-dark-white);
  width: auto;
  height: 50px;
  display: flex;
  min-width: 70px;
  align-self: center;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-360);
}
.add-project-button20:hover {
  border-color: var(--dl-color-dark-green-200);
  background-color: var(--dl-color-dark-gray-370);
}
.add-project-text62 {
  color: var(--dl-color-dark-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.add-project-button21 {
  gap: 4px;
  color: var(--dl-color-dark-white);
  width: auto;
  height: 50px;
  display: flex;
  min-width: 70px;
  align-self: center;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-360);
}
.add-project-button21:hover {
  border-color: var(--dl-color-dark-green-200);
  background-color: var(--dl-color-dark-gray-370);
}
.add-project-text65 {
  color: var(--dl-color-dark-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.add-project-bottom-buttons {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
}
.add-project-button22 {
  color: var(--dl-color-dark-white);
  height: 60px;
  display: flex;
  font-size: 18px;
  align-self: flex-end;
  font-style: normal;
  text-align: center;
  transition: 0;
  align-items: center;
  font-weight: 600;
  padding-top: 13px;
  border-color: var(--dl-color-dark-gray-400);
  border-width: 2px;
  padding-left: var(--dl-space-space-twounits);
  align-content: center;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: 13px;
  background-color: var(--dl-color-dark-gray-360);
}
.add-project-button22:hover {
  background-color: var(--dl-color-dark-gray-370);
}
.add-project-button23 {
  gap: var(--dl-space-space-halfunit);
  color: var(--dl-color-dark-white);
  height: 60px;
  display: flex;
  font-size: 18px;
  align-self: flex-end;
  font-style: normal;
  text-align: center;
  transition: 0;
  align-items: center;
  font-weight: 600;
  padding-top: 13px;
  border-color: var(--dl-color-dark-darkergreen);
  border-width: 2px;
  padding-left: var(--dl-space-space-twounits);
  align-content: center;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: 13px;
  background-color: var(--dl-color-dark-darkgreenbtn);
}
.add-project-button23:hover {
  border-color: var(--dl-color-dark-green-200);
  background-color: var(--dl-color-dark-darkergreen);
}
.add-project-icon08 {
  fill: var(--dl-color-dark-white);
  width: 20px;
  height: 20px;
}
.add-project-info-box {
  flex: 0.8;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.add-project-container10 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  border-color: var(--dl-color-dark-gray-370);
  border-style: solid;
  border-width: 2px;
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-start;
}
.add-project-text74 {
  color: var(--dl-color-dark-darkergreen);
  font-style: normal;
}
.add-project-text77 {
  color: var(--dl-color-dark-white);
  line-height: 1.4;
}
@media(max-width: 1200px) {
  .add-project-text01 {
    color: var(--dl-color-dark-white);
  }
}
@media(max-width: 991px) {
  .add-project-container02 {
    gap: var(--dl-space-space-unit);
  }
}
@media(max-width: 767px) {
  .add-project-header-creator {
    height: 160px;
    margin-top: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-radius8);
    margin-bottom: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .add-project-container01 {
    z-index: 100;
    align-items: flex-start;
    flex-direction: column;
  }
  .add-project-container02 {
    gap: var(--dl-space-space-unit);
    align-self: flex-start;
    align-items: center;
    justify-content: flex-start;
  }
  .add-project-container03 {
    gap: var(--dl-space-space-halfunit);
    height: auto;
    padding-top: var(--dl-space-space-unit);
  }
  .add-project-text {
    font-size: 18px;
  }
  .add-project-mask-overlay {
    height: 100%;
  }
  .add-project-tabs-row {
    top: 70px;
  }
  .add-project-navlink {
    font-size: 13px;
    font-weight: 600;
  }
  .add-project-text01 {
    font-size: 13px;
    font-weight: 600;
  }
  .add-project-container-form {
    gap: var(--dl-space-space-twounits);
    margin-top: 0px;
  }
  .add-project-under-header {
    height: auto;
  }
  .add-project-card {
    gap: 4px;
    width: auto;
    align-self: flex-start;
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-halfunit);
    border-radius: var(--dl-radius-radius-radius8);
    padding-right: var(--dl-space-space-halfunit);
  }
  .add-project-form {
    width: 100%;
  }
  .add-project-area {
    flex-wrap: wrap;
  }
  .add-project-area1 {
    flex-wrap: wrap;
  }
  .add-project-text05 {
    color: var(--dl-color-dark-white);
  }
  .add-project-container06 {
    margin-top: 0px;
  }
  .add-project-container08 {
    width: 100%;
    margin-top: 0px;
  }
  .add-project-tags {
    flex-wrap: wrap;
  }
  .add-project-button02 {
    height: 42px;
  }
  .add-project-text08 {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-project-button03 {
    height: 42px;
  }
  .add-project-text11 {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-project-button04 {
    height: 42px;
  }
  .add-project-text14 {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-project-button05 {
    height: 42px;
  }
  .add-project-text17 {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-project-button06 {
    height: 42px;
  }
  .add-project-text20 {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-project-button07 {
    height: 42px;
  }
  .add-project-text23 {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-project-button08 {
    height: 42px;
  }
  .add-project-text26 {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-project-button09 {
    height: 42px;
  }
  .add-project-text29 {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-project-button10 {
    height: 42px;
  }
  .add-project-text32 {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-project-button11 {
    height: 42px;
  }
  .add-project-text35 {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-project-button12 {
    height: 42px;
  }
  .add-project-text38 {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-project-button13 {
    height: 42px;
  }
  .add-project-text41 {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-project-button14 {
    height: 42px;
  }
  .add-project-text44 {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-project-button15 {
    height: 42px;
  }
  .add-project-text47 {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-project-button16 {
    height: 42px;
  }
  .add-project-text50 {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-project-button17 {
    height: 42px;
  }
  .add-project-text53 {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-project-button18 {
    height: 42px;
  }
  .add-project-text56 {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-project-button19 {
    height: 42px;
  }
  .add-project-text59 {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-project-button20 {
    height: 42px;
  }
  .add-project-text62 {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-project-button21 {
    height: 42px;
  }
  .add-project-text65 {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-project-bottom-buttons {
    gap: var(--dl-space-space-unit);
    margin-top: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .add-project-button22 {
    width: 100%;
    padding-top: 10px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: 10px;
    justify-content: center;
  }
  .add-project-text68 {
    font-size: 16px;
  }
  .add-project-button23 {
    width: 100%;
    align-items: center;
    padding-top: 10px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: 10px;
    justify-content: center;
  }
  .add-project-text71 {
    font-size: 16px;
  }
  .add-project-info-box {
    display: none;
  }
}
