.add-items-sets-container {
  width: 100%;
  display: flex;
  overflow: visible;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-dark-gray-200);
}
.add-items-sets-header-creator {
  flex: 0 0 auto;
  width: 100%;
  height: 200px;
  display: flex;
  position: relative;
  box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.3);
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  padding-top: var(--dl-space-space-twounits);
  margin-right: 0px;
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius12);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-size: cover;
  justify-content: flex-end;
  background-image: url("/vlad__foton.is__radix.stream_launch_of_a_geometric_rocket_with__07d686d1-ac67-4445-8604-8ef1e9f56803-1500w.png");
  background-repeat: no-repeat;
  background-position: center;
}
.add-items-sets-container01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  z-index: 130;
  align-items: flex-end;
  justify-content: space-between;
}
.add-items-sets-container02 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: center;
  align-items: center;
}
.add-items-sets-container03 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: auto;
  height: 160px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius12);
  flex-direction: column;
  justify-content: flex-end;
}
.add-items-sets-text {
  color: var(--dl-color-dark-white);
  font-size: 24px;
  font-family: Poppins;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.add-items-sets-buttons {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: auto;
  height: 160px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius12);
  flex-direction: row;
}
.add-items-sets-navlink {
  color: var(--dl-color-dark-white);
  height: 50px;
  display: flex;
  font-size: 18px;
  align-self: flex-end;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  font-style: normal;
  text-align: center;
  transition: 0;
  font-weight: 600;
  padding-top: 11px;
  border-color: var(--dl-color-dark-green-200);
  border-width: 2px;
  padding-left: var(--dl-space-space-twounits);
  align-content: center;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: 11px;
  text-decoration: none;
  background-color: var(--dl-color-dark-darkergreenhighlight);
}
.add-items-sets-navlink:hover {
  background-color: var(--dl-color-dark-darkergreen);
}
.add-items-sets-mask-overlay {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  background-color: rgba(24, 24, 24, 0.36);
}
.add-items-sets-tabs-row {
  top: 80px;
  flex: 0 0 auto;
  width: 100%;
  height: 60px;
  display: flex;
  z-index: 100;
  position: sticky;
  align-items: center;
  border-color: var(--dl-color-dark-gray-300);
  border-width: 0px;
  padding-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-halfunit);
  justify-content: space-between;
  background-color: var(--dl-color-dark-gray-200);
  border-bottom-width: 1px;
}
.add-items-sets-container04 {
  gap: var(--dl-space-space-twounits);
  height: 100%;
  display: flex;
  align-items: center;
}
.add-items-sets-navlink1 {
  color: var(--dl-color-dark-gray-400);
  height: 100%;
  font-style: normal;
  transition: 0.05s;
  font-weight: 600;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: var(--dl-color-dark-gray-200);
  border-width: 0px;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
  border-bottom-width: 2px;
}
.add-items-sets-navlink1:hover {
  color: var(--dl-color-dark-green-200);
}
.add-items-sets-text04 {
  color: var(--dl-color-dark-white);
  height: 100%;
  font-style: normal;
  font-weight: 600;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: var(--dl-color-dark-gray-200);
  border-width: 0px;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  border-bottom-width: 2px;
}
.add-items-sets-container05 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: grid;
  align-items: flex-end;
  justify-content: flex-start;
  grid-template-columns: 1fr 1fr 1fr;
}
.add-items-sets-collection {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  height: 100%;
  display: flex;
  min-height: 160px;
  transition: 0.1s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-dark-gray-360);
  border-width: 2px;
  padding-left: 20px;
  border-radius: var(--dl-radius-radius-radius12);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-dark-gray-360);
}
.add-items-sets-collection:hover {
  border-color: var(--dl-color-dark-green-200);
  border-width: 2px;
  background-color: var(--dl-color-dark-gray-360);
}
.add-items-sets-container06 {
  width: 100;
  height: 100px;
  display: flex;
  position: relative;
  align-items: center;
  aspect-ratio: 1/1;
  border-radius: var(--dl-radius-radius-radius12);
  flex-direction: column;
  justify-content: center;
}
.add-items-sets-icon {
  width: 50px;
  height: 50px;
  display: none;
}
.add-items-sets-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.add-items-sets-container07 {
  gap: 0;
  flex: 2;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius12);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.add-items-sets-text05 {
  color: var(--dl-color-dark-white);
  line-height: 1.15;
  margin-bottom: 12px;
}
.add-items-sets-text06 {
  color: var(--dl-color-dark-green-200);
  font-style: normal;
  margin-bottom: 4px;
}
.add-items-sets-collection1 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  height: 100%;
  display: flex;
  min-height: 160px;
  transition: 0.1s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-dark-gray-360);
  border-width: 2px;
  padding-left: 20px;
  border-radius: var(--dl-radius-radius-radius12);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-dark-gray-360);
}
.add-items-sets-collection1:hover {
  border-color: var(--dl-color-dark-green-200);
  border-width: 2px;
  background-color: var(--dl-color-dark-gray-360);
}
.add-items-sets-container08 {
  width: 100;
  height: 100px;
  display: flex;
  position: relative;
  align-items: center;
  aspect-ratio: 1/1;
  border-radius: var(--dl-radius-radius-radius12);
  flex-direction: column;
  justify-content: center;
}
.add-items-sets-icon04 {
  width: 50px;
  height: 50px;
  display: none;
}
.add-items-sets-image1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.add-items-sets-container09 {
  gap: 0;
  flex: 2;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius12);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.add-items-sets-text09 {
  color: var(--dl-color-dark-white);
  line-height: 1.15;
  margin-bottom: 12px;
}
.add-items-sets-text10 {
  color: var(--dl-color-dark-green-200);
  font-style: normal;
  margin-bottom: 4px;
}
.add-items-sets-collection2 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  height: 100%;
  display: flex;
  min-height: 160px;
  transition: 0.1s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-dark-gray-360);
  border-width: 2px;
  padding-left: 20px;
  border-radius: var(--dl-radius-radius-radius12);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-dark-gray-360);
}
.add-items-sets-collection2:hover {
  border-color: var(--dl-color-dark-green-200);
  border-width: 2px;
  background-color: var(--dl-color-dark-gray-360);
}
.add-items-sets-container10 {
  width: 100;
  height: 100px;
  display: flex;
  position: relative;
  align-items: center;
  aspect-ratio: 1/1;
  border-radius: var(--dl-radius-radius-radius12);
  flex-direction: column;
  justify-content: center;
}
.add-items-sets-icon08 {
  width: 50px;
  height: 50px;
  display: none;
}
.add-items-sets-image2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.add-items-sets-container11 {
  gap: 0;
  flex: 2;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius12);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.add-items-sets-text13 {
  color: var(--dl-color-dark-white);
  line-height: 1.15;
  margin-bottom: 12px;
}
.add-items-sets-text14 {
  color: var(--dl-color-dark-green-200);
  font-style: normal;
  margin-bottom: 4px;
}
.add-items-sets-tabs-row2 {
  top: 80px;
  flex: 0 0 auto;
  width: 100%;
  height: 60px;
  display: flex;
  z-index: 100;
  position: sticky;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  border-color: var(--dl-color-dark-gray-300);
  border-width: 0px;
  padding-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-halfunit);
  justify-content: space-between;
  background-color: var(--dl-color-dark-gray-200);
  border-bottom-width: 1px;
}
.add-items-sets-container12 {
  gap: var(--dl-space-space-twounits);
  height: 100%;
  display: flex;
  align-items: center;
}
.add-items-sets-text17 {
  color: var(--dl-color-dark-white);
  height: 100%;
  font-style: normal;
  font-weight: 600;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: var(--dl-color-dark-gray-200);
  border-width: 0px;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  border-bottom-width: 2px;
}
.add-items-sets-resources {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  margin: TwoUnits;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: 0px;
  padding-top: var(--dl-space-space-unit);
  margin-right: 0px;
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius12);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-end;
}
.add-items-sets-container13 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: grid;
  align-items: flex-end;
  justify-content: flex-start;
  grid-template-columns: 1fr 1fr 1fr;
}
.add-items-sets-item {
  gap: var(--dl-space-space-unit);
  flex: 1;
  height: 160px;
  display: flex;
  transition: 0.1s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-dark-gray-360);
  border-width: 2px;
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius12);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-dark-gray-360);
}
.add-items-sets-item:hover {
  border-color: var(--dl-color-dark-green-200);
  border-width: 2px;
  background-color: var(--dl-color-dark-gray-360);
}
.add-items-sets-container14 {
  gap: 0;
  flex: 2;
  width: auto;
  height: 160px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-radius: var(--dl-radius-radius-radius12);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.add-items-sets-container15 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.add-items-sets-text18 {
  color: var(--dl-color-dark-gray-400);
  font-style: normal;
  line-height: 1.15;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.add-items-sets-text21 {
  color: var(--dl-color-dark-white);
  line-height: 1.15;
  margin-bottom: 12px;
}
.add-items-sets-text22 {
  color: var(--dl-color-dark-green-200);
  font-style: normal;
  margin-bottom: 4px;
}
@media(max-width: 1200px) {
  .add-items-sets-text04 {
    color: var(--dl-color-dark-white);
  }
  .add-items-sets-container05 {
    grid-template-columns: 1fr 1fr;
  }
  .add-items-sets-text17 {
    color: var(--dl-color-dark-white);
  }
  .add-items-sets-container13 {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 991px) {
  .add-items-sets-container02 {
    gap: var(--dl-space-space-unit);
  }
  .add-items-sets-buttons {
    gap: var(--dl-space-space-unit);
    height: auto;
    padding-top: var(--dl-space-space-twounits);
  }
  .add-items-sets-container06 {
    width: 100px;
    height: 100px;
  }
  .add-items-sets-container08 {
    width: 100px;
    height: 100px;
  }
  .add-items-sets-container10 {
    width: 100px;
    height: 100px;
  }
}
@media(max-width: 767px) {
  .add-items-sets-header-creator {
    height: 160px;
    margin-top: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-radius8);
    margin-bottom: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .add-items-sets-container01 {
    z-index: 100;
    align-items: flex-start;
    flex-direction: column;
  }
  .add-items-sets-container02 {
    gap: var(--dl-space-space-unit);
    align-self: flex-start;
    align-items: center;
    justify-content: flex-start;
  }
  .add-items-sets-container03 {
    gap: var(--dl-space-space-halfunit);
    height: auto;
    padding-top: var(--dl-space-space-unit);
  }
  .add-items-sets-text {
    font-size: 18px;
  }
  .add-items-sets-buttons {
    gap: var(--dl-space-space-halfunit);
    height: auto;
    padding-top: var(--dl-space-space-unit);
  }
  .add-items-sets-navlink {
    height: 42px;
    padding-top: 8px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 8px;
  }
  .add-items-sets-text01 {
    font-size: 16px;
  }
  .add-items-sets-mask-overlay {
    height: 100%;
  }
  .add-items-sets-tabs-row {
    top: 70px;
  }
  .add-items-sets-navlink1 {
    font-size: 13px;
    font-weight: 600;
  }
  .add-items-sets-text04 {
    font-size: 13px;
    font-weight: 600;
  }
  .add-items-sets-container05 {
    align-items: stretch;
    grid-template-columns: 1fr;
  }
  .add-items-sets-collection {
    min-height: 110px;
    padding-top: var(--dl-space-space-halfunit);
    border-radius: var(--dl-radius-radius-radius8);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .add-items-sets-container06 {
    width: 80px;
    height: 80px;
  }
  .add-items-sets-container07 {
    height: auto;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: 0px;
  }
  .add-items-sets-text05 {
    font-size: 16px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .add-items-sets-text06 {
    font-size: 13px;
  }
  .add-items-sets-collection1 {
    min-height: 110px;
    padding-top: var(--dl-space-space-halfunit);
    border-radius: var(--dl-radius-radius-radius8);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .add-items-sets-container08 {
    width: 80px;
    height: 80px;
  }
  .add-items-sets-container09 {
    height: auto;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: 0px;
  }
  .add-items-sets-text09 {
    font-size: 16px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .add-items-sets-text10 {
    font-size: 13px;
  }
  .add-items-sets-collection2 {
    min-height: 110px;
    padding-top: var(--dl-space-space-halfunit);
    border-radius: var(--dl-radius-radius-radius8);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .add-items-sets-container10 {
    width: 80px;
    height: 80px;
  }
  .add-items-sets-container11 {
    height: auto;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: 0px;
  }
  .add-items-sets-text13 {
    font-size: 16px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .add-items-sets-text14 {
    font-size: 13px;
  }
  .add-items-sets-tabs-row2 {
    top: 70px;
  }
  .add-items-sets-text17 {
    font-size: 13px;
    font-weight: 600;
  }
  .add-items-sets-container13 {
    align-items: stretch;
    grid-template-columns: 1fr;
  }
  .add-items-sets-item {
    height: 110px;
    padding-top: var(--dl-space-space-halfunit);
    border-radius: var(--dl-radius-radius-radius8);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .add-items-sets-container14 {
    height: auto;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .add-items-sets-container15 {
    margin-bottom: var(--dl-space-space-halfunit);
    justify-content: flex-start;
  }
  .add-items-sets-text18 {
    margin-bottom: 0px;
  }
  .add-items-sets-text21 {
    font-size: 16px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .add-items-sets-text22 {
    font-size: 13px;
  }
}
@media(max-width: 479px) {
  .add-items-sets-container07 {
    padding-top: var(--dl-space-space-unit);
  }
  .add-items-sets-container09 {
    padding-top: var(--dl-space-space-unit);
  }
  .add-items-sets-container11 {
    padding-top: var(--dl-space-space-unit);
  }
}
