.add-collection2-container {
  width: 100%;
  display: flex;
  overflow: visible;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-dark-gray-200);
}
.add-collection2-header-creator {
  flex: 0 0 auto;
  width: 100%;
  height: 200px;
  display: flex;
  position: relative;
  box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.3);
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  padding-top: var(--dl-space-space-twounits);
  margin-right: 0px;
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius12);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-size: cover;
  justify-content: flex-end;
  background-image: url("/playground_assets/vlad__foton.is__radix.stream_launch_of_a_geometric_rocket_with__07d686d1-ac67-4445-8604-8ef1e9f56803-1500w.png");
  background-position: center;
}
.add-collection2-container01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  z-index: 130;
  align-items: flex-end;
  justify-content: space-between;
}
.add-collection2-container02 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: center;
  align-items: center;
}
.add-collection2-container03 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: auto;
  height: 160px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius12);
  flex-direction: column;
  justify-content: flex-end;
}
.add-collection2-text {
  color: var(--dl-color-dark-white);
  font-size: 24px;
  font-family: Poppins;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.add-collection2-mask-overlay {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  background-color: rgba(24, 24, 24, 0.36);
}
.add-collection2-tabs-row {
  top: 80px;
  flex: 0 0 auto;
  width: 100%;
  height: 60px;
  display: flex;
  z-index: 100;
  position: sticky;
  align-items: center;
  border-color: var(--dl-color-dark-gray-300);
  border-width: 0px;
  padding-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-halfunit);
  justify-content: space-between;
  background-color: var(--dl-color-dark-gray-200);
  border-bottom-width: 1px;
}
.add-collection2-container04 {
  gap: var(--dl-space-space-twounits);
  height: 100%;
  display: flex;
  align-items: center;
}
.add-collection2-navlink {
  color: var(--dl-color-dark-gray-400);
  height: 100%;
  font-style: normal;
  transition: 0.05s;
  font-weight: 600;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: var(--dl-color-dark-gray-200);
  border-width: 0px;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
  border-bottom-width: 2px;
}
.add-collection2-navlink:hover {
  color: var(--dl-color-dark-green-200);
}
.add-collection2-container05 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
}
.add-collection2-button {
  gap: var(--dl-space-space-halfunit);
  color: var(--dl-color-dark-white);
  height: 52px;
  display: flex;
  font-size: 14px;
  font-style: normal;
  transition: 0.3s;
  align-items: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.15;
  padding-top: 16px;
  border-color: var(--dl-color-dark-green-200);
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius12);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: 14px;
  text-transform: none;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-dark-gray-200);
}
.add-collection2-button:hover {
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection2-button:active {
  border-color: var(--dl-color-dark-green-200);
}
.add-collection2-icon {
  width: 24px;
  height: 24px;
}
.add-collection2-text01 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.add-collection2-button01 {
  gap: var(--dl-space-space-halfunit);
  color: var(--dl-color-dark-white);
  height: 52px;
  display: flex;
  font-size: 14px;
  font-style: normal;
  transition: 0.3s;
  align-items: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.15;
  padding-top: 16px;
  border-color: var(--dl-color-dark-gray-360);
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius12);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: 14px;
  text-transform: none;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-dark-gray-200);
}
.add-collection2-button01:hover {
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection2-button01:active {
  border-color: var(--dl-color-dark-green-200);
}
.add-collection2-icon02 {
  width: 24px;
  height: 24px;
}
.add-collection2-text04 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.add-collection2-button02 {
  gap: var(--dl-space-space-halfunit);
  color: var(--dl-color-dark-white);
  height: 52px;
  display: flex;
  font-size: 14px;
  font-style: normal;
  transition: 0.3s;
  align-items: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.15;
  padding-top: 16px;
  border-color: var(--dl-color-dark-gray-360);
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius12);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: 14px;
  text-transform: none;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-dark-gray-200);
}
.add-collection2-button02:hover {
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection2-button02:active {
  border-color: var(--dl-color-dark-green-200);
}
.add-collection2-icon04 {
  width: 24px;
  height: 24px;
}
.add-collection2-text07 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.add-collection2-button03 {
  gap: var(--dl-space-space-halfunit);
  color: var(--dl-color-dark-white);
  height: 52px;
  display: flex;
  font-size: 14px;
  font-style: normal;
  transition: 0.3s;
  align-items: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.15;
  padding-top: 16px;
  border-color: var(--dl-color-dark-gray-360);
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius12);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: 14px;
  text-transform: none;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-dark-gray-200);
}
.add-collection2-button03:hover {
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection2-button03:active {
  border-color: var(--dl-color-dark-green-200);
}
.add-collection2-icon06 {
  width: 24px;
  height: 24px;
}
.add-collection2-text10 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.add-collection2-container-form {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
}
.add-collection2-under-header {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.add-collection2-card {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: 2854px;
  display: flex;
  align-self: flex-end;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius12);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
  background-color: var(--dl-color-dark-gray-250);
}
.add-collection2-side-layers {
  gap: var(--dl-space-space-threeunits);
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.add-collection2-field-image {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.add-collection2-text13 {
  color: var(--dl-color-dark-white);
}
.add-collection2-container06 {
  gap: 0;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.add-collection2-textinput {
  color: var(--dl-color-dark-white);
  width: 100%;
  height: 50px;
  transition: 0.3s;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-dark-gray-300);
  border-right-width: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.add-collection2-textinput:focus {
  border-color: var(--dl-color-dark-gray-400);
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection2-button04 {
  gap: 4px;
  color: var(--dl-color-dark-white);
  width: 70px;
  height: 50px;
  display: flex;
  align-self: center;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-360);
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.add-collection2-button04:hover {
  background-color: var(--dl-color-dark-gray-370);
}
.add-collection2-icon08 {
  fill: var(--dl-color-dark-gray-400);
  width: 24px;
  height: 24px;
}
.add-collection2-container-layer {
  gap: 0;
  height: 60px;
  display: flex;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: flex-start;
}
.add-collection2-container07 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: solid;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: space-between;
  border-right-width: 0px;
  border-top-right-radius: var(--dl-radius-radius-radius16);
  border-bottom-right-radius: 0;
}
.add-collection2-container08 {
  gap: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.add-collection2-text16 {
  color: var(--dl-color-dark-white);
  align-self: flex-start;
  font-style: normal;
}
.add-collection2-text19 {
  color: var(--dl-color-dark-green-200);
  font-size: 12px;
  align-self: flex-start;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.add-collection2-icon10 {
  width: 24px;
  height: 24px;
}
.add-collection2-button05 {
  gap: 4px;
  color: var(--dl-color-dark-white);
  width: 70px;
  height: 60px;
  display: flex;
  align-self: center;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-360);
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.add-collection2-button05:hover {
  background-color: var(--dl-color-dark-gray-370);
}
.add-collection2-icon12 {
  width: 24px;
  height: 24px;
}
.add-collection2-container-layer1 {
  gap: 0;
  height: 60px;
  display: flex;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: flex-start;
}
.add-collection2-container09 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: solid;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: space-between;
  border-right-width: 0px;
  border-top-right-radius: var(--dl-radius-radius-radius16);
  border-bottom-right-radius: 0;
}
.add-collection2-container10 {
  gap: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.add-collection2-text22 {
  color: var(--dl-color-dark-white);
  align-self: flex-start;
  font-style: normal;
}
.add-collection2-text25 {
  color: var(--dl-color-dark-green-200);
  font-size: 12px;
  align-self: flex-start;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.add-collection2-icon14 {
  width: 24px;
  height: 24px;
}
.add-collection2-button06 {
  gap: 4px;
  color: var(--dl-color-dark-white);
  width: 70px;
  height: 60px;
  display: flex;
  align-self: center;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-360);
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.add-collection2-button06:hover {
  background-color: var(--dl-color-dark-gray-370);
}
.add-collection2-icon16 {
  width: 24px;
  height: 24px;
}
.add-collection2-container-layer2 {
  gap: 0;
  height: 60px;
  display: flex;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: flex-start;
}
.add-collection2-container11 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: solid;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: space-between;
  border-right-width: 0px;
  border-top-right-radius: var(--dl-radius-radius-radius16);
  border-bottom-right-radius: 0;
}
.add-collection2-container12 {
  gap: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.add-collection2-text28 {
  color: var(--dl-color-dark-white);
  align-self: flex-start;
  font-style: normal;
}
.add-collection2-text31 {
  color: var(--dl-color-dark-green-200);
  font-size: 12px;
  align-self: flex-start;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.add-collection2-icon18 {
  width: 24px;
  height: 24px;
}
.add-collection2-button07 {
  gap: 4px;
  color: var(--dl-color-dark-white);
  width: 70px;
  height: 60px;
  display: flex;
  align-self: center;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-360);
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.add-collection2-button07:hover {
  background-color: var(--dl-color-dark-gray-370);
}
.add-collection2-icon20 {
  width: 24px;
  height: 24px;
}
.add-collection2-text34 {
  color: var(--dl-color-dark-gray-400);
  font-size: 13px;
  margin-top: var(--dl-space-space-threeunits);
}
.add-collection2-container-images {
  flex: 1;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.add-collection2-tabs-row1 {
  top: 80px;
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  z-index: 100;
  position: sticky;
  align-items: flex-start;
  border-color: var(--dl-color-dark-gray-300);
  border-width: 0px;
  padding-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-halfunit);
  justify-content: space-between;
  background-color: var(--dl-color-dark-gray-250);
  border-bottom-width: 1px;
}
.add-collection2-container13 {
  gap: var(--dl-space-space-twounits);
  height: 100%;
  display: flex;
  align-items: center;
}
.add-collection2-text35 {
  color: var(--dl-color-dark-white);
  height: 100%;
  font-style: normal;
  font-weight: 400;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: var(--dl-color-dark-gray-250);
  border-width: 0px;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  border-bottom-width: 2px;
}
.add-collection2-filter-buttons {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: flex-start;
}
.add-collection2-container14 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.add-collection2-button08 {
  gap: var(--dl-space-space-halfunit);
  color: var(--dl-color-dark-white);
  height: 52px;
  display: flex;
  font-size: 14px;
  font-style: normal;
  transition: 0.05s;
  align-items: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.15;
  padding-top: 16px;
  border-color: var(--dl-color-dark-gray-400);
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius12);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: 14px;
  text-transform: none;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-dark-gray-370);
}
.add-collection2-button08:hover {
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection2-icon22 {
  width: 24px;
  height: 24px;
}
.add-collection2-text36 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.add-collection2-button09 {
  gap: var(--dl-space-space-halfunit);
  color: var(--dl-color-dark-white);
  height: 52px;
  display: flex;
  font-size: 14px;
  font-style: normal;
  transition: 0.05s;
  align-items: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.15;
  padding-top: 16px;
  border-color: var(--dl-color-dark-gray-400);
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius12);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: 14px;
  text-transform: none;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-dark-gray-370);
}
.add-collection2-button09:hover {
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection2-icon24 {
  width: 24px;
  height: 24px;
}
.add-collection2-text39 {
  color: var(--dl-color-dark-gray-400);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.add-collection2-button10 {
  gap: var(--dl-space-space-halfunit);
  color: var(--dl-color-dark-white);
  height: 52px;
  display: flex;
  font-size: 14px;
  font-style: normal;
  transition: 0.05s;
  align-items: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.15;
  padding-top: 16px;
  border-color: var(--dl-color-dark-green-200);
  border-width: 2px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: var(--dl-radius-radius-radius12);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: 14px;
  text-transform: none;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-dark-darkgreenbtn);
}
.add-collection2-button10:hover {
  background-color: var(--dl-color-dark-darkergreen);
}
.add-collection2-text42 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.add-collection2-icon26 {
  width: 24px;
  height: 24px;
}
.add-collection2-container15 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: grid;
  align-items: flex-end;
  grid-row-gap: var(--dl-space-space-unit);
  justify-content: flex-start;
  grid-auto-columns: minmax(200px, auto);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.add-collection2-item1 {
  flex: 1;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: var(--dl-color-dark-gray-360);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection2-item1:hover {
  border-color: var(--dl-color-dark-green-200);
}
.add-collection2-image-header {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  aspect-ratio: 1/1;
  border-color: var(--dl-color-dark-gray-360);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-size: cover;
  justify-content: flex-end;
  background-image: url("/playground_assets/vlad__foton.is__radix.stream_isometric_tile_with_rts_game_like__a0871e9c-34d4-42d0-a1c6-0fb4288d0a1e-1500w.png");
}
.add-collection2-checkbox {
  width: 18px;
  height: 18px;
  opacity: 0.8;
  margin-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  background-color: var(--dl-color-dark-blue-100);
}
.add-collection2-text-box {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: 8px;
  padding-left: 12px;
  padding-right: 12px;
  flex-direction: column;
  padding-bottom: 8px;
  justify-content: flex-start;
}
.add-collection2-container16 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.add-collection2-floor {
  gap: 3px;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.add-collection2-text45 {
  color: var(--dl-color-dark-gray-400);
}
.add-collection2-text46 {
  color: var(--dl-color-dark-white);
}
.add-collection2-volume24 {
  gap: 3px;
  flex: 1;
  height: 100%;
  display: flex;
  align-self: flex-end;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
}
.add-collection2-text47 {
  color: var(--dl-color-dark-gray-400);
}
.add-collection2-container17 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.add-collection2-text48 {
  color: var(--dl-color-dark-green-200);
}
.add-collection2-item11 {
  flex: 1;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: var(--dl-color-dark-gray-360);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection2-item11:hover {
  border-color: var(--dl-color-dark-green-200);
}
.add-collection2-image-header1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  aspect-ratio: 1/1;
  border-color: var(--dl-color-dark-gray-360);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-size: cover;
  justify-content: flex-end;
  background-image: url("/playground_assets/vlad__foton.is__radix.stream_isometric_tile_with_rts_game_like__a0871e9c-34d4-42d0-a1c6-0fb4288d0a1e-1500w.png");
}
.add-collection2-checkbox1 {
  width: 18px;
  height: 18px;
  opacity: 0.8;
  margin-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  background-color: var(--dl-color-dark-blue-100);
}
.add-collection2-text-box1 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: 8px;
  padding-left: 12px;
  padding-right: 12px;
  flex-direction: column;
  padding-bottom: 8px;
  justify-content: flex-start;
}
.add-collection2-container18 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.add-collection2-floor1 {
  gap: 3px;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.add-collection2-text49 {
  color: var(--dl-color-dark-gray-400);
}
.add-collection2-text50 {
  color: var(--dl-color-dark-white);
}
.add-collection2-volume241 {
  gap: 3px;
  flex: 1;
  height: 100%;
  display: flex;
  align-self: flex-end;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
}
.add-collection2-text51 {
  color: var(--dl-color-dark-gray-400);
}
.add-collection2-container19 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.add-collection2-text52 {
  color: var(--dl-color-dark-green-200);
}
.add-collection2-item12 {
  flex: 1;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: var(--dl-color-dark-gray-360);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection2-item12:hover {
  border-color: var(--dl-color-dark-green-200);
}
.add-collection2-image-header2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  aspect-ratio: 1/1;
  border-color: var(--dl-color-dark-gray-360);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-size: cover;
  justify-content: flex-end;
  background-image: url("/playground_assets/vlad__foton.is__radix.stream_isometric_tile_with_rts_game_like__a0871e9c-34d4-42d0-a1c6-0fb4288d0a1e-1500w.png");
}
.add-collection2-checkbox2 {
  width: 18px;
  height: 18px;
  opacity: 0.8;
  margin-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  background-color: var(--dl-color-dark-blue-100);
}
.add-collection2-text-box2 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: 8px;
  padding-left: 12px;
  padding-right: 12px;
  flex-direction: column;
  padding-bottom: 8px;
  justify-content: flex-start;
}
.add-collection2-container20 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.add-collection2-floor2 {
  gap: 3px;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.add-collection2-text53 {
  color: var(--dl-color-dark-gray-400);
}
.add-collection2-text54 {
  color: var(--dl-color-dark-white);
}
.add-collection2-volume242 {
  gap: 3px;
  flex: 1;
  height: 100%;
  display: flex;
  align-self: flex-end;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
}
.add-collection2-text55 {
  color: var(--dl-color-dark-gray-400);
}
.add-collection2-container21 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.add-collection2-text56 {
  color: var(--dl-color-dark-green-200);
}
.add-collection2-item13 {
  flex: 1;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: var(--dl-color-dark-gray-360);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection2-item13:hover {
  border-color: var(--dl-color-dark-green-200);
}
.add-collection2-image-header3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  aspect-ratio: 1/1;
  border-color: var(--dl-color-dark-gray-360);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-size: cover;
  justify-content: flex-end;
  background-image: url("/playground_assets/vlad__foton.is__radix.stream_isometric_tile_with_rts_game_like__a0871e9c-34d4-42d0-a1c6-0fb4288d0a1e-1500w.png");
}
.add-collection2-checkbox3 {
  width: 18px;
  height: 18px;
  opacity: 0.8;
  margin-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  background-color: var(--dl-color-dark-blue-100);
}
.add-collection2-text-box3 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: 8px;
  padding-left: 12px;
  padding-right: 12px;
  flex-direction: column;
  padding-bottom: 8px;
  justify-content: flex-start;
}
.add-collection2-container22 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.add-collection2-floor3 {
  gap: 3px;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.add-collection2-text57 {
  color: var(--dl-color-dark-gray-400);
}
.add-collection2-text58 {
  color: var(--dl-color-dark-white);
}
.add-collection2-volume243 {
  gap: 3px;
  flex: 1;
  height: 100%;
  display: flex;
  align-self: flex-end;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
}
.add-collection2-text59 {
  color: var(--dl-color-dark-gray-400);
}
.add-collection2-container23 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.add-collection2-text60 {
  color: var(--dl-color-dark-green-200);
}
.add-collection2-item14 {
  flex: 1;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: var(--dl-color-dark-gray-360);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection2-item14:hover {
  border-color: var(--dl-color-dark-green-200);
}
.add-collection2-image-header4 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  aspect-ratio: 1/1;
  border-color: var(--dl-color-dark-gray-360);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-size: cover;
  justify-content: flex-end;
  background-image: url("/playground_assets/vlad__foton.is__radix.stream_isometric_tile_with_rts_game_like__a0871e9c-34d4-42d0-a1c6-0fb4288d0a1e-1500w.png");
}
.add-collection2-checkbox4 {
  width: 18px;
  height: 18px;
  opacity: 0.8;
  margin-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  background-color: var(--dl-color-dark-blue-100);
}
.add-collection2-text-box4 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: 8px;
  padding-left: 12px;
  padding-right: 12px;
  flex-direction: column;
  padding-bottom: 8px;
  justify-content: flex-start;
}
.add-collection2-container24 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.add-collection2-floor4 {
  gap: 3px;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.add-collection2-text61 {
  color: var(--dl-color-dark-gray-400);
}
.add-collection2-text62 {
  color: var(--dl-color-dark-white);
}
.add-collection2-volume244 {
  gap: 3px;
  flex: 1;
  height: 100%;
  display: flex;
  align-self: flex-end;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
}
.add-collection2-text63 {
  color: var(--dl-color-dark-gray-400);
}
.add-collection2-container25 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.add-collection2-text64 {
  color: var(--dl-color-dark-green-200);
}
.add-collection2-item15 {
  flex: 1;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: var(--dl-color-dark-gray-360);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection2-item15:hover {
  border-color: var(--dl-color-dark-green-200);
}
.add-collection2-image-header5 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  aspect-ratio: 1/1;
  border-color: var(--dl-color-dark-gray-360);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-size: cover;
  justify-content: flex-end;
  background-image: url("/playground_assets/vlad__foton.is__radix.stream_isometric_tile_with_rts_game_like__a0871e9c-34d4-42d0-a1c6-0fb4288d0a1e-1500w.png");
}
.add-collection2-checkbox5 {
  width: 18px;
  height: 18px;
  opacity: 0.8;
  margin-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  background-color: var(--dl-color-dark-blue-100);
}
.add-collection2-text-box5 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: 8px;
  padding-left: 12px;
  padding-right: 12px;
  flex-direction: column;
  padding-bottom: 8px;
  justify-content: flex-start;
}
.add-collection2-container26 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.add-collection2-floor5 {
  gap: 3px;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.add-collection2-text65 {
  color: var(--dl-color-dark-gray-400);
}
.add-collection2-text66 {
  color: var(--dl-color-dark-white);
}
.add-collection2-volume245 {
  gap: 3px;
  flex: 1;
  height: 100%;
  display: flex;
  align-self: flex-end;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
}
.add-collection2-text67 {
  color: var(--dl-color-dark-gray-400);
}
.add-collection2-container27 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.add-collection2-text68 {
  color: var(--dl-color-dark-green-200);
}
.add-collection2-item16 {
  flex: 1;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: var(--dl-color-dark-gray-360);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection2-item16:hover {
  border-color: var(--dl-color-dark-green-200);
}
.add-collection2-image-header6 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  aspect-ratio: 1/1;
  border-color: var(--dl-color-dark-gray-360);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-size: cover;
  justify-content: flex-end;
  background-image: url("/playground_assets/vlad__foton.is__radix.stream_isometric_tile_with_rts_game_like__a0871e9c-34d4-42d0-a1c6-0fb4288d0a1e-1500w.png");
}
.add-collection2-checkbox6 {
  width: 18px;
  height: 18px;
  opacity: 0.8;
  margin-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  background-color: var(--dl-color-dark-blue-100);
}
.add-collection2-text-box6 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: 8px;
  padding-left: 12px;
  padding-right: 12px;
  flex-direction: column;
  padding-bottom: 8px;
  justify-content: flex-start;
}
.add-collection2-container28 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.add-collection2-floor6 {
  gap: 3px;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.add-collection2-text69 {
  color: var(--dl-color-dark-gray-400);
}
.add-collection2-text70 {
  color: var(--dl-color-dark-white);
}
.add-collection2-volume246 {
  gap: 3px;
  flex: 1;
  height: 100%;
  display: flex;
  align-self: flex-end;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
}
.add-collection2-text71 {
  color: var(--dl-color-dark-gray-400);
}
.add-collection2-container29 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.add-collection2-text72 {
  color: var(--dl-color-dark-green-200);
}
.add-collection2-item17 {
  flex: 1;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: var(--dl-color-dark-gray-360);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection2-item17:hover {
  border-color: var(--dl-color-dark-green-200);
}
.add-collection2-image-header7 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  aspect-ratio: 1/1;
  border-color: var(--dl-color-dark-gray-360);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-size: cover;
  justify-content: flex-end;
  background-image: url("/playground_assets/vlad__foton.is__radix.stream_isometric_tile_with_rts_game_like__a0871e9c-34d4-42d0-a1c6-0fb4288d0a1e-1500w.png");
}
.add-collection2-checkbox7 {
  width: 18px;
  height: 18px;
  opacity: 0.8;
  margin-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  background-color: var(--dl-color-dark-blue-100);
}
.add-collection2-text-box7 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: 8px;
  padding-left: 12px;
  padding-right: 12px;
  flex-direction: column;
  padding-bottom: 8px;
  justify-content: flex-start;
}
.add-collection2-container30 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.add-collection2-floor7 {
  gap: 3px;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.add-collection2-text73 {
  color: var(--dl-color-dark-gray-400);
}
.add-collection2-text74 {
  color: var(--dl-color-dark-white);
}
.add-collection2-volume247 {
  gap: 3px;
  flex: 1;
  height: 100%;
  display: flex;
  align-self: flex-end;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
}
.add-collection2-text75 {
  color: var(--dl-color-dark-gray-400);
}
.add-collection2-container31 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.add-collection2-text76 {
  color: var(--dl-color-dark-green-200);
}
.add-collection2-item18 {
  flex: 1;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: var(--dl-color-dark-gray-360);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection2-item18:hover {
  border-color: var(--dl-color-dark-green-200);
}
.add-collection2-image-header8 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  aspect-ratio: 1/1;
  border-color: var(--dl-color-dark-gray-360);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-size: cover;
  justify-content: flex-end;
  background-image: url("/playground_assets/vlad__foton.is__radix.stream_isometric_tile_with_rts_game_like__a0871e9c-34d4-42d0-a1c6-0fb4288d0a1e-1500w.png");
}
.add-collection2-checkbox8 {
  width: 18px;
  height: 18px;
  opacity: 0.8;
  margin-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  background-color: var(--dl-color-dark-blue-100);
}
.add-collection2-text-box8 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: 8px;
  padding-left: 12px;
  padding-right: 12px;
  flex-direction: column;
  padding-bottom: 8px;
  justify-content: flex-start;
}
.add-collection2-container32 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.add-collection2-floor8 {
  gap: 3px;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.add-collection2-text77 {
  color: var(--dl-color-dark-gray-400);
}
.add-collection2-text78 {
  color: var(--dl-color-dark-white);
}
.add-collection2-volume248 {
  gap: 3px;
  flex: 1;
  height: 100%;
  display: flex;
  align-self: flex-end;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
}
.add-collection2-text79 {
  color: var(--dl-color-dark-gray-400);
}
.add-collection2-container33 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.add-collection2-text80 {
  color: var(--dl-color-dark-green-200);
}
@media(max-width: 1200px) {
  .add-collection2-tabs-row1 {
    justify-content: space-between;
  }
  .add-collection2-text35 {
    color: var(--dl-color-dark-white);
    font-style: normal;
    font-weight: 400;
  }
  .add-collection2-container15 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media(max-width: 991px) {
  .add-collection2-container02 {
    gap: var(--dl-space-space-unit);
  }
  .add-collection2-button08 {
    padding-right: var(--dl-space-space-unit);
  }
  .add-collection2-text36 {
    display: none;
  }
  .add-collection2-button09 {
    padding-right: var(--dl-space-space-unit);
  }
  .add-collection2-text39 {
    display: none;
  }
  .add-collection2-button10 {
    padding-left: var(--dl-space-space-unit);
  }
  .add-collection2-text42 {
    display: none;
  }
  .add-collection2-container15 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media(max-width: 767px) {
  .add-collection2-header-creator {
    height: 160px;
    margin-top: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-radius8);
    margin-bottom: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .add-collection2-container01 {
    z-index: 100;
    align-items: flex-start;
    flex-direction: column;
  }
  .add-collection2-container02 {
    gap: var(--dl-space-space-unit);
    align-self: flex-start;
    align-items: center;
    justify-content: flex-start;
  }
  .add-collection2-container03 {
    gap: var(--dl-space-space-halfunit);
    height: auto;
    padding-top: var(--dl-space-space-unit);
  }
  .add-collection2-text {
    font-size: 18px;
  }
  .add-collection2-mask-overlay {
    height: 100%;
  }
  .add-collection2-tabs-row {
    top: 70px;
  }
  .add-collection2-navlink {
    font-size: 13px;
    font-weight: 600;
  }
  .add-collection2-button {
    height: 39px;
    padding-top: 0px;
    padding-left: var(--dl-space-space-halfunit);
    border-radius: var(--dl-radius-radius-radius8);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: 0px;
  }
  .add-collection2-text01 {
    display: none;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-collection2-button01 {
    height: 39px;
    padding-top: 0px;
    padding-left: var(--dl-space-space-halfunit);
    border-radius: var(--dl-radius-radius-radius8);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: 0px;
  }
  .add-collection2-text04 {
    display: none;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-collection2-button02 {
    height: 39px;
    padding-top: 0px;
    padding-left: var(--dl-space-space-halfunit);
    border-radius: var(--dl-radius-radius-radius8);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: 0px;
  }
  .add-collection2-text07 {
    display: none;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-collection2-button03 {
    height: 39px;
    padding-top: 0px;
    padding-left: var(--dl-space-space-halfunit);
    border-radius: var(--dl-radius-radius-radius8);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: 0px;
  }
  .add-collection2-text10 {
    display: none;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-collection2-container-form {
    gap: var(--dl-space-space-twounits);
    margin-top: 0px;
  }
  .add-collection2-under-header {
    height: auto;
  }
  .add-collection2-card {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    height: auto;
    align-self: flex-start;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-halfunit);
    border-radius: var(--dl-radius-radius-radius8);
    padding-right: var(--dl-space-space-halfunit);
    flex-direction: column;
  }
  .add-collection2-side-layers {
    width: 100%;
  }
  .add-collection2-text16 {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-collection2-text22 {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-collection2-text28 {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-collection2-text34 {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .add-collection2-container-images {
    width: 100%;
  }
  .add-collection2-tabs-row1 {
    align-items: center;
  }
  .add-collection2-container13 {
    gap: var(--dl-space-space-unit);
  }
  .add-collection2-text35 {
    font-size: 13px;
    font-weight: 600;
  }
  .add-collection2-filter-buttons {
    gap: var(--dl-space-space-halfunit);
    align-self: center;
  }
  .add-collection2-button08 {
    height: 39px;
    padding-top: 0px;
    padding-left: var(--dl-space-space-halfunit);
    border-radius: var(--dl-radius-radius-radius8);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: 0px;
  }
  .add-collection2-text36 {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-collection2-button09 {
    height: 39px;
    padding-top: 0px;
    padding-left: var(--dl-space-space-halfunit);
    border-radius: var(--dl-radius-radius-radius8);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: 0px;
  }
  .add-collection2-text39 {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-collection2-button10 {
    height: 39px;
    padding-top: 0px;
    padding-left: var(--dl-space-space-halfunit);
    border-radius: var(--dl-radius-radius-radius8);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: 0px;
  }
  .add-collection2-text42 {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-collection2-container15 {
    gap: var(--dl-space-space-halfunit);
    align-items: stretch;
    grid-row-gap: var(--dl-space-space-unit);
    grid-template-columns: 1fr 1fr;
  }
  .add-collection2-item1 {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .add-collection2-image-header {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .add-collection2-text45 {
    font-size: 11px;
  }
  .add-collection2-text46 {
    font-size: 13px;
  }
  .add-collection2-text47 {
    font-size: 11px;
  }
  .add-collection2-text48 {
    font-size: 13px;
  }
  .add-collection2-item11 {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .add-collection2-image-header1 {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .add-collection2-text49 {
    font-size: 11px;
  }
  .add-collection2-text50 {
    font-size: 13px;
  }
  .add-collection2-text51 {
    font-size: 11px;
  }
  .add-collection2-text52 {
    font-size: 13px;
  }
  .add-collection2-item12 {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .add-collection2-image-header2 {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .add-collection2-text53 {
    font-size: 11px;
  }
  .add-collection2-text54 {
    font-size: 13px;
  }
  .add-collection2-text55 {
    font-size: 11px;
  }
  .add-collection2-text56 {
    font-size: 13px;
  }
  .add-collection2-item13 {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .add-collection2-image-header3 {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .add-collection2-text57 {
    font-size: 11px;
  }
  .add-collection2-text58 {
    font-size: 13px;
  }
  .add-collection2-text59 {
    font-size: 11px;
  }
  .add-collection2-text60 {
    font-size: 13px;
  }
  .add-collection2-item14 {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .add-collection2-image-header4 {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .add-collection2-text61 {
    font-size: 11px;
  }
  .add-collection2-text62 {
    font-size: 13px;
  }
  .add-collection2-text63 {
    font-size: 11px;
  }
  .add-collection2-text64 {
    font-size: 13px;
  }
  .add-collection2-item15 {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .add-collection2-image-header5 {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .add-collection2-text65 {
    font-size: 11px;
  }
  .add-collection2-text66 {
    font-size: 13px;
  }
  .add-collection2-text67 {
    font-size: 11px;
  }
  .add-collection2-text68 {
    font-size: 13px;
  }
  .add-collection2-item16 {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .add-collection2-image-header6 {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .add-collection2-text69 {
    font-size: 11px;
  }
  .add-collection2-text70 {
    font-size: 13px;
  }
  .add-collection2-text71 {
    font-size: 11px;
  }
  .add-collection2-text72 {
    font-size: 13px;
  }
  .add-collection2-item17 {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .add-collection2-image-header7 {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .add-collection2-text73 {
    font-size: 11px;
  }
  .add-collection2-text74 {
    font-size: 13px;
  }
  .add-collection2-text75 {
    font-size: 11px;
  }
  .add-collection2-text76 {
    font-size: 13px;
  }
  .add-collection2-item18 {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .add-collection2-image-header8 {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .add-collection2-text77 {
    font-size: 11px;
  }
  .add-collection2-text78 {
    font-size: 13px;
  }
  .add-collection2-text79 {
    font-size: 11px;
  }
  .add-collection2-text80 {
    font-size: 13px;
  }
}
@media(max-width: 479px) {
  .add-collection2-card {
    flex-direction: column;
  }
  .add-collection2-side-layers {
    width: 100%;
  }
  .add-collection2-container-images {
    width: 100%;
  }
  .add-collection2-text-box {
    padding: 12px;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .add-collection2-text-box1 {
    padding: 12px;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .add-collection2-text-box2 {
    padding: 12px;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .add-collection2-text-box3 {
    padding: 12px;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .add-collection2-text-box4 {
    padding: 12px;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .add-collection2-text-box5 {
    padding: 12px;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .add-collection2-text-box6 {
    padding: 12px;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .add-collection2-text-box7 {
    padding: 12px;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .add-collection2-text-box8 {
    padding: 12px;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
}
