.add-collection1-container {
  width: 100%;
  display: flex;
  overflow: visible;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-dark-gray-200);
}
.add-collection1-header-creator {
  flex: 0 0 auto;
  width: 100%;
  height: 200px;
  display: flex;
  position: relative;
  box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.3);
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  padding-top: var(--dl-space-space-twounits);
  margin-right: 0px;
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius12);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-size: cover;
  justify-content: flex-end;
  background-image: url("/playground_assets/vlad__foton.is__radix.stream_launch_of_a_geometric_rocket_with__07d686d1-ac67-4445-8604-8ef1e9f56803-1500w.png");
  background-position: center;
}
.add-collection1-container01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  z-index: 130;
  align-items: flex-end;
  justify-content: space-between;
}
.add-collection1-container02 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: center;
  align-items: center;
}
.add-collection1-container03 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: auto;
  height: 160px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius12);
  flex-direction: column;
  justify-content: flex-end;
}
.add-collection1-text {
  color: var(--dl-color-dark-white);
  font-size: 24px;
  font-family: Poppins;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.add-collection1-mask-overlay {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  background-color: rgba(24, 24, 24, 0.36);
}
.add-collection1-tabs-row {
  top: 80px;
  flex: 0 0 auto;
  width: 100%;
  height: 60px;
  display: flex;
  z-index: 100;
  position: sticky;
  align-items: center;
  border-color: var(--dl-color-dark-gray-300);
  border-width: 0px;
  padding-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-halfunit);
  justify-content: space-between;
  background-color: var(--dl-color-dark-gray-200);
  border-bottom-width: 1px;
}
.add-collection1-container04 {
  gap: var(--dl-space-space-twounits);
  height: 100%;
  display: flex;
  align-items: center;
}
.add-collection1-navlink {
  color: var(--dl-color-dark-gray-400);
  height: 100%;
  font-style: normal;
  transition: 0.05s;
  font-weight: 600;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: var(--dl-color-dark-gray-200);
  border-width: 0px;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
  border-bottom-width: 2px;
}
.add-collection1-navlink:hover {
  color: var(--dl-color-dark-green-200);
}
.add-collection1-container05 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
}
.add-collection1-button {
  gap: var(--dl-space-space-halfunit);
  color: var(--dl-color-dark-white);
  height: 52px;
  display: flex;
  font-size: 14px;
  font-style: normal;
  transition: 0.3s;
  align-items: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.15;
  padding-top: 16px;
  border-color: var(--dl-color-dark-gray-360);
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius12);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: 14px;
  text-transform: none;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection1-button:hover {
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection1-button:active {
  border-color: var(--dl-color-dark-gray-360);
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection1-icon {
  width: 24px;
  height: 24px;
}
.add-collection1-text001 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.add-collection1-navlink1 {
  gap: var(--dl-space-space-halfunit);
  color: var(--dl-color-dark-white);
  height: 52px;
  display: flex;
  font-size: 14px;
  font-style: normal;
  transition: 0.3s;
  align-items: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.15;
  padding-top: 16px;
  border-color: var(--dl-color-dark-gray-360);
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius12);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: 14px;
  text-transform: none;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-dark-gray-200);
}
.add-collection1-navlink1:hover {
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection1-navlink1:active {
  border-color: var(--dl-color-dark-gray-360);
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection1-icon02 {
  width: 24px;
  height: 24px;
}
.add-collection1-text004 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.add-collection1-button01 {
  gap: var(--dl-space-space-halfunit);
  color: var(--dl-color-dark-white);
  height: 52px;
  display: flex;
  font-size: 14px;
  font-style: normal;
  transition: 0.3s;
  align-items: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.15;
  padding-top: 16px;
  border-color: var(--dl-color-dark-gray-360);
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius12);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: 14px;
  text-transform: none;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-dark-gray-200);
}
.add-collection1-button01:hover {
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection1-button01:active {
  border-color: var(--dl-color-dark-gray-360);
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection1-icon04 {
  width: 24px;
  height: 24px;
}
.add-collection1-text007 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.add-collection1-button02 {
  gap: var(--dl-space-space-halfunit);
  color: var(--dl-color-dark-white);
  height: 52px;
  display: flex;
  font-size: 14px;
  font-style: normal;
  transition: 0.3s;
  align-items: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.15;
  padding-top: 16px;
  border-color: var(--dl-color-dark-gray-360);
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius12);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: 14px;
  text-transform: none;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-dark-gray-200);
}
.add-collection1-button02:hover {
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection1-button02:active {
  border-color: var(--dl-color-dark-gray-360);
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection1-icon06 {
  width: 24px;
  height: 24px;
}
.add-collection1-text010 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.add-collection1-container-form {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
}
.add-collection1-under-header {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.add-collection1-card {
  gap: var(--dl-space-space-sixunits);
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-end;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius12);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
  background-color: var(--dl-color-dark-gray-250);
}
.add-collection1-form {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  height: auto;
  display: flex;
  flex-direction: column;
}
.add-collection1-field {
  gap: 12px;
  display: flex;
  flex-direction: column;
}
.add-collection1-text013 {
  color: var(--dl-color-dark-white);
}
.add-collection1-textinput {
  color: var(--dl-color-dark-white);
  height: 50px;
  transition: 0.3s;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-dark-gray-300);
}
.add-collection1-textinput:focus {
  border-color: var(--dl-color-dark-gray-400);
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection1-field1 {
  gap: 12px;
  display: flex;
  flex-direction: column;
}
.add-collection1-text014 {
  color: var(--dl-color-dark-white);
}
.add-collection1-container06 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.add-collection1-card-small {
  flex: 1;
  height: auto;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: solid;
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
}
.add-collection1-card-small:hover {
  border-color: var(--dl-color-dark-green-200);
}
.add-collection1-card-small:active {
  border-color: var(--dl-color-dark-green-200);
}
.add-collection1-container07 {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-style: solid;
  border-width: 0px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  justify-content: space-between;
  background-color: var(--dl-color-dark-gray-300);
  border-bottom-width: 2px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.add-collection1-text015 {
  color: var(--dl-color-dark-white);
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.add-collection1-icon08 {
  fill: var(--dl-color-dark-white);
  width: 24px;
  height: 24px;
}
.add-collection1-container08 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}
.add-collection1-text016 {
  color: var(--dl-color-dark-gray-400);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
}
.add-collection1-card-small1 {
  flex: 1;
  height: auto;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: solid;
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
}
.add-collection1-card-small1:hover {
  border-color: var(--dl-color-dark-green-200);
}
.add-collection1-card-small1:active {
  border-color: var(--dl-color-dark-green-200);
}
.add-collection1-container09 {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-style: solid;
  border-width: 0px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  justify-content: space-between;
  background-color: var(--dl-color-dark-gray-300);
  border-bottom-width: 2px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.add-collection1-text024 {
  color: var(--dl-color-dark-white);
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.add-collection1-icon10 {
  fill: var(--dl-color-dark-white);
  width: 24px;
  height: 24px;
}
.add-collection1-container10 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}
.add-collection1-text025 {
  color: var(--dl-color-dark-gray-400);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
}
.add-collection1-field2 {
  gap: 12px;
  display: flex;
  flex-direction: column;
}
.add-collection1-text030 {
  color: var(--dl-color-dark-white);
}
.add-collection1-textinput1 {
  color: var(--dl-color-dark-white);
  height: 50px;
  transition: 0.3s;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-dark-gray-300);
}
.add-collection1-textinput1:focus {
  border-color: var(--dl-color-dark-gray-400);
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection1-type-of-images {
  gap: 12px;
  display: flex;
  flex-direction: column;
}
.add-collection1-text031 {
  color: var(--dl-color-dark-white);
}
.add-collection1-container11 {
  gap: var(--dl-space-space-unit);
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}
.add-collection1-container12 {
  gap: var(--dl-space-space-unit);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.add-collection1-navlink2 {
  gap: var(--dl-space-space-unit);
  color: var(--dl-color-dark-white);
  width: auto;
  height: 50px;
  display: flex;
  min-width: 70px;
  align-self: center;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection1-navlink2:hover {
  border-color: var(--dl-color-dark-green-200);
  background-color: var(--dl-color-dark-gray-370);
}
.add-collection1-image {
  width: 28px;
  height: 28px;
  object-fit: cover;
}
.add-collection1-text032 {
  color: var(--dl-color-dark-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.add-collection1-button03 {
  gap: var(--dl-space-space-unit);
  color: var(--dl-color-dark-white);
  width: auto;
  height: 50px;
  display: flex;
  min-width: 70px;
  align-self: center;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection1-button03:hover {
  border-color: var(--dl-color-dark-green-200);
  background-color: var(--dl-color-dark-gray-370);
}
.add-collection1-image1 {
  width: 28px;
  height: 28px;
  object-fit: cover;
}
.add-collection1-text035 {
  color: var(--dl-color-dark-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.add-collection1-add-attributes {
  gap: var(--dl-space-space-unit);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: stretch;
  flex-direction: column;
}
.add-collection1-text038 {
  color: var(--dl-color-dark-white);
}
.add-collection1-text042 {
  color: var(--dl-color-dark-gray-400);
}
.add-collection1-container13 {
  gap: 0;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.add-collection1-textinput2 {
  color: var(--dl-color-dark-white);
  width: 100%;
  height: 50px;
  transition: 0.3s;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-dark-gray-300);
  border-right-width: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.add-collection1-textinput2:focus {
  border-color: var(--dl-color-dark-gray-400);
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection1-button04 {
  gap: 4px;
  color: var(--dl-color-dark-white);
  width: 70px;
  height: 50px;
  display: flex;
  align-self: center;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-360);
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.add-collection1-button04:hover {
  background-color: var(--dl-color-dark-gray-370);
}
.add-collection1-icon12 {
  fill: var(--dl-color-dark-white);
  width: 24px;
  height: 24px;
}
.add-collection1-container-layer {
  gap: 0;
  height: 60px;
  display: flex;
  transition: 0.3s;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: flex-start;
}

.add-collection1-container14 {
  width: 100%;
  height: auto;
  display: flex;
  transition: 0.05s;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: solid;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: space-between;
  border-right-width: 0px;
  border-top-right-radius: var(--dl-radius-radius-radius16);
  border-bottom-right-radius: 0;
}
.add-collection1-container14:hover {
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection1-container15 {
  gap: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.add-collection1-text043 {
  color: var(--dl-color-dark-white);
  align-self: flex-start;
  font-style: normal;
}
.add-collection1-icon14 {
  width: 24px;
  height: 100%;
}
.add-collection1-button05 {
  gap: 4px;
  color: var(--dl-color-dark-white);
  width: 70px;
  height: 60px;
  display: flex;
  align-self: center;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-360);
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.add-collection1-button05:hover {
  background-color: var(--dl-color-dark-gray-370);
}
.add-collection1-icon16 {
  fill: var(--dl-color-dark-gray-400);
  width: 24px;
  height: 24px;
}
.add-collection1-container-layer1 {
  gap: 0;
  height: 60px;
  display: flex;
  transition: 0.3s;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: flex-start;
}

.add-collection1-container16 {
  width: 100%;
  height: auto;
  display: flex;
  transition: 0.05s;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: solid;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: space-between;
  border-right-width: 0px;
  border-top-right-radius: var(--dl-radius-radius-radius16);
  border-bottom-right-radius: 0;
}
.add-collection1-container16:hover {
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection1-container17 {
  gap: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.add-collection1-text046 {
  color: var(--dl-color-dark-white);
  align-self: flex-start;
  font-style: normal;
}
.add-collection1-icon18 {
  width: 24px;
  height: 100%;
}
.add-collection1-button06 {
  gap: 4px;
  color: var(--dl-color-dark-white);
  width: 70px;
  height: 60px;
  display: flex;
  align-self: center;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-360);
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.add-collection1-button06:hover {
  background-color: var(--dl-color-dark-gray-370);
}
.add-collection1-icon20 {
  fill: var(--dl-color-dark-gray-400);
  width: 24px;
  height: 24px;
}
.add-collection1-container-layer2 {
  gap: 0;
  height: 60px;
  display: flex;
  transition: 0.3s;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: flex-start;
}

.add-collection1-container18 {
  width: 100%;
  height: auto;
  display: flex;
  transition: 0.05s;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: solid;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: space-between;
  border-right-width: 0px;
  border-top-right-radius: var(--dl-radius-radius-radius16);
  border-bottom-right-radius: 0;
}
.add-collection1-container18:hover {
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection1-container19 {
  gap: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.add-collection1-text049 {
  color: var(--dl-color-dark-white);
  align-self: flex-start;
  font-style: normal;
}
.add-collection1-icon22 {
  width: 24px;
  height: 100%;
}
.add-collection1-button07 {
  gap: 4px;
  color: var(--dl-color-dark-white);
  width: 70px;
  height: 60px;
  display: flex;
  align-self: center;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-360);
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.add-collection1-button07:hover {
  background-color: var(--dl-color-dark-gray-370);
}
.add-collection1-icon24 {
  fill: var(--dl-color-dark-gray-400);
  width: 24px;
  height: 24px;
}
.add-collection1-field3 {
  gap: 12px;
  display: flex;
  flex-direction: column;
}
.add-collection1-container20 {
  gap: 2px;
  display: flex;
  flex-direction: column;
}
.add-collection1-text052 {
  color: var(--dl-color-dark-white);
}
.add-collection1-text053 {
  color: var(--dl-color-dark-gray-400);
}
.add-collection1-textinput3 {
  color: var(--dl-color-dark-white);
  height: 50px;
  transition: 0.3s;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-dark-gray-300);
}
.add-collection1-textinput3:focus {
  border-color: var(--dl-color-dark-gray-400);
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection1-area {
  gap: 12px;
  display: flex;
  flex-direction: column;
}
.add-collection1-text054 {
  color: var(--dl-color-dark-white);
}
.add-collection1-textarea {
  color: var(--dl-color-dark-white);
  height: auto;
  min-height: 100px;
  transition: 0.3s;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-dark-gray-300);
}
.add-collection1-textarea:focus {
  border-color: var(--dl-color-dark-gray-400);
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection1-area1 {
  gap: 12px;
  display: flex;
  flex-direction: column;
}
.add-collection1-text055 {
  color: var(--dl-color-dark-white);
}
.add-collection1-textarea1 {
  color: var(--dl-color-dark-white);
  height: auto;
  min-height: 100px;
  transition: 0.3s;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-dark-gray-300);
}
.add-collection1-textarea1:focus {
  border-color: var(--dl-color-dark-gray-400);
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection1-field-image {
  gap: 12px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.add-collection1-text056 {
  color: var(--dl-color-dark-white);
}
.add-collection1-container21 {
  gap: 0;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.add-collection1-textinput4 {
  color: var(--dl-color-dark-white);
  width: 100%;
  height: 50px;
  transition: 0.3s;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-dark-gray-300);
  border-right-width: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.add-collection1-textinput4:focus {
  border-color: var(--dl-color-dark-gray-400);
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection1-button08 {
  gap: 4px;
  color: var(--dl-color-dark-white);
  width: 70px;
  height: 50px;
  display: flex;
  align-self: center;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-360);
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.add-collection1-button08:hover {
  background-color: var(--dl-color-dark-gray-370);
}
.add-collection1-icon26 {
  fill: var(--dl-color-dark-gray-400);
  width: 24px;
  height: 24px;
}
.add-collection1-container22 {
  width: 160px;
  height: 160px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  transition: 0.1s;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: solid;
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: center;
}
.add-collection1-container22:hover {
  background-color: var(--dl-color-dark-gray-300);
}
.add-collection1-icon28 {
  fill: var(--dl-color-dark-gray-370);
  width: 50px;
  height: 50px;
}
.add-collection1-field-image1 {
  gap: 12px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.add-collection1-text057 {
  color: var(--dl-color-dark-white);
}
.add-collection1-container23 {
  gap: 0;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.add-collection1-textinput5 {
  color: var(--dl-color-dark-white);
  width: 100%;
  height: 50px;
  transition: 0.3s;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-dark-gray-300);
  border-right-width: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.add-collection1-textinput5:focus {
  border-color: var(--dl-color-dark-gray-400);
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection1-button09 {
  gap: 4px;
  color: var(--dl-color-dark-white);
  width: 70px;
  height: 50px;
  display: flex;
  align-self: center;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-360);
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.add-collection1-button09:hover {
  background-color: var(--dl-color-dark-gray-370);
}
.add-collection1-icon30 {
  fill: var(--dl-color-dark-gray-400);
  width: 24px;
  height: 24px;
}
.add-collection1-container24 {
  width: 50%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  transition: 0.1s;
  align-items: center;
  aspect-ratio: 3/2;
  border-color: var(--dl-color-dark-gray-370);
  border-style: solid;
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: center;
}
.add-collection1-container24:hover {
  background-color: var(--dl-color-dark-gray-300);
}
.add-collection1-icon32 {
  fill: var(--dl-color-dark-gray-370);
  width: 50px;
  height: 50px;
}
.add-collection1-field-image2 {
  gap: 12px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.add-collection1-text058 {
  color: var(--dl-color-dark-white);
}
.add-collection1-container25 {
  gap: 0;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.add-collection1-textinput6 {
  color: var(--dl-color-dark-white);
  width: 100%;
  height: 50px;
  transition: 0.3s;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-dark-gray-300);
  border-right-width: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.add-collection1-textinput6:focus {
  border-color: var(--dl-color-dark-gray-400);
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection1-button10 {
  gap: 4px;
  color: var(--dl-color-dark-white);
  width: 70px;
  height: 50px;
  display: flex;
  align-self: center;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-360);
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.add-collection1-button10:hover {
  background-color: var(--dl-color-dark-gray-370);
}
.add-collection1-icon34 {
  fill: var(--dl-color-dark-gray-400);
  width: 24px;
  height: 24px;
}
.add-collection1-container26 {
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  transition: 0.1s;
  align-items: center;
  aspect-ratio: 3/1;
  border-color: var(--dl-color-dark-gray-370);
  border-style: solid;
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: center;
}
.add-collection1-container26:hover {
  background-color: var(--dl-color-dark-gray-300);
}
.add-collection1-icon36 {
  fill: var(--dl-color-dark-gray-370);
  width: 50px;
  height: 50px;
}
.add-collection1-tags {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.add-collection1-text059 {
  color: var(--dl-color-dark-white);
}
.add-collection1-container27 {
  gap: var(--dl-space-space-unit);
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}
.add-collection1-button11 {
  gap: 4px;
  color: var(--dl-color-dark-white);
  width: auto;
  height: 50px;
  display: flex;
  min-width: 70px;
  align-self: center;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection1-button11:hover {
  border-color: var(--dl-color-dark-green-200);
  background-color: var(--dl-color-dark-gray-370);
}
.add-collection1-text060 {
  color: var(--dl-color-dark-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.add-collection1-button12 {
  gap: 4px;
  color: var(--dl-color-dark-white);
  width: auto;
  height: 50px;
  display: flex;
  min-width: 70px;
  align-self: center;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection1-button12:hover {
  border-color: var(--dl-color-dark-green-200);
  background-color: var(--dl-color-dark-gray-370);
}
.add-collection1-text063 {
  color: var(--dl-color-dark-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.add-collection1-button13 {
  gap: 4px;
  color: var(--dl-color-dark-white);
  width: auto;
  height: 50px;
  display: flex;
  min-width: 70px;
  align-self: center;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection1-button13:hover {
  border-color: var(--dl-color-dark-green-200);
  background-color: var(--dl-color-dark-gray-370);
}
.add-collection1-text066 {
  color: var(--dl-color-dark-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.add-collection1-button14 {
  gap: 4px;
  color: var(--dl-color-dark-white);
  width: auto;
  height: 50px;
  display: flex;
  min-width: 70px;
  align-self: center;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection1-button14:hover {
  border-color: var(--dl-color-dark-green-200);
  background-color: var(--dl-color-dark-gray-370);
}
.add-collection1-text069 {
  color: var(--dl-color-dark-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.add-collection1-button15 {
  gap: 4px;
  color: var(--dl-color-dark-white);
  width: auto;
  height: 50px;
  display: flex;
  min-width: 70px;
  align-self: center;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection1-button15:hover {
  border-color: var(--dl-color-dark-green-200);
  background-color: var(--dl-color-dark-gray-370);
}
.add-collection1-text072 {
  color: var(--dl-color-dark-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.add-collection1-button16 {
  gap: 4px;
  color: var(--dl-color-dark-white);
  width: auto;
  height: 50px;
  display: flex;
  min-width: 70px;
  align-self: center;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection1-button16:hover {
  border-color: var(--dl-color-dark-green-200);
  background-color: var(--dl-color-dark-gray-370);
}
.add-collection1-text075 {
  color: var(--dl-color-dark-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.add-collection1-button17 {
  gap: 4px;
  color: var(--dl-color-dark-white);
  width: auto;
  height: 50px;
  display: flex;
  min-width: 70px;
  align-self: center;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection1-button17:hover {
  border-color: var(--dl-color-dark-green-200);
  background-color: var(--dl-color-dark-gray-370);
}
.add-collection1-text078 {
  color: var(--dl-color-dark-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.add-collection1-button18 {
  gap: 4px;
  color: var(--dl-color-dark-white);
  width: auto;
  height: 50px;
  display: flex;
  min-width: 70px;
  align-self: center;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection1-button18:hover {
  border-color: var(--dl-color-dark-green-200);
  background-color: var(--dl-color-dark-gray-370);
}
.add-collection1-text081 {
  color: var(--dl-color-dark-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.add-collection1-bottom-buttons {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
}
.add-collection1-button19 {
  color: var(--dl-color-dark-white);
  height: 60px;
  display: flex;
  font-size: 18px;
  align-self: flex-end;
  font-style: normal;
  text-align: center;
  transition: 0;
  align-items: center;
  font-weight: 600;
  padding-top: 13px;
  border-color: var(--dl-color-dark-gray-400);
  border-width: 2px;
  padding-left: var(--dl-space-space-twounits);
  align-content: center;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: 13px;
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection1-button19:hover {
  background-color: var(--dl-color-dark-gray-370);
}
.add-collection1-navlink3 {
  gap: var(--dl-space-space-halfunit);
  color: var(--dl-color-dark-white);
  height: 60px;
  display: flex;
  font-size: 18px;
  align-self: flex-end;
  font-style: normal;
  text-align: center;
  transition: 0;
  align-items: center;
  font-weight: 600;
  padding-top: 13px;
  border-color: var(--dl-color-dark-darkergreen);
  border-width: 2px;
  padding-left: var(--dl-space-space-twounits);
  align-content: center;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: 13px;
  text-decoration: none;
  background-color: var(--dl-color-dark-darkgreenbtn);
}
.add-collection1-navlink3:hover {
  border-color: var(--dl-color-dark-green-200);
  background-color: var(--dl-color-dark-darkergreen);
}
.add-collection1-icon38 {
  fill: var(--dl-color-dark-white);
  width: 20px;
  height: 20px;
}
.add-collection1-info-box {
  flex: 0.8;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.add-collection1-container28 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  border-color: var(--dl-color-dark-gray-370);
  border-style: solid;
  border-width: 2px;
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-start;
}
.add-collection1-text090 {
  color: var(--dl-color-dark-darkergreen);
  font-style: normal;
}
.add-collection1-text093 {
  color: var(--dl-color-dark-white);
  line-height: 1.4;
}
@media(max-width: 991px) {
  .add-collection1-container02 {
    gap: var(--dl-space-space-unit);
  }
  .add-collection1-card {
    gap: var(--dl-space-space-twounits);
  }
}
@media(max-width: 767px) {
  .add-collection1-header-creator {
    height: 160px;
    margin-top: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-radius8);
    margin-bottom: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .add-collection1-container01 {
    z-index: 100;
    align-items: flex-start;
    flex-direction: column;
  }
  .add-collection1-container02 {
    gap: var(--dl-space-space-unit);
    align-self: flex-start;
    align-items: center;
    justify-content: flex-start;
  }
  .add-collection1-container03 {
    gap: var(--dl-space-space-halfunit);
    height: auto;
    padding-top: var(--dl-space-space-unit);
  }
  .add-collection1-text {
    font-size: 18px;
  }
  .add-collection1-mask-overlay {
    height: 100%;
  }
  .add-collection1-tabs-row {
    top: 70px;
  }
  .add-collection1-navlink {
    font-size: 13px;
    font-weight: 600;
  }
  .add-collection1-button {
    height: 39px;
    padding-top: 0px;
    padding-left: var(--dl-space-space-halfunit);
    border-radius: var(--dl-radius-radius-radius8);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: 0px;
  }
  .add-collection1-text001 {
    display: none;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-collection1-navlink1 {
    height: 39px;
    padding-top: 0px;
    padding-left: var(--dl-space-space-halfunit);
    border-radius: var(--dl-radius-radius-radius8);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: 0px;
  }
  .add-collection1-text004 {
    display: none;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-collection1-button01 {
    height: 39px;
    padding-top: 0px;
    padding-left: var(--dl-space-space-halfunit);
    border-radius: var(--dl-radius-radius-radius8);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: 0px;
  }
  .add-collection1-text007 {
    display: none;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-collection1-button02 {
    height: 39px;
    padding-top: 0px;
    padding-left: var(--dl-space-space-halfunit);
    border-radius: var(--dl-radius-radius-radius8);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: 0px;
  }
  .add-collection1-text010 {
    display: none;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-collection1-container-form {
    gap: var(--dl-space-space-twounits);
    margin-top: 0px;
  }
  .add-collection1-under-header {
    height: auto;
  }
  .add-collection1-card {
    gap: 4px;
    width: auto;
    height: auto;
    align-self: flex-start;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-halfunit);
    border-radius: var(--dl-radius-radius-radius8);
    padding-right: var(--dl-space-space-halfunit);
  }
  .add-collection1-form {
    width: 100%;
  }
  .add-collection1-container06 {
    gap: var(--dl-space-space-halfunit);
    flex-direction: column;
  }
  .add-collection1-card-small {
    width: 100%;
  }
  .add-collection1-container07 {
    justify-content: space-between;
  }
  .add-collection1-text016 {
    font-size: 13px;
  }
  .add-collection1-card-small1 {
    width: 100%;
  }
  .add-collection1-container09 {
    justify-content: space-between;
  }
  .add-collection1-text025 {
    font-size: 13px;
  }
  .add-collection1-navlink2 {
    height: 50px;
  }
  .add-collection1-text032 {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-collection1-button03 {
    height: 50px;
  }
  .add-collection1-text035 {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-collection1-text043 {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-collection1-text046 {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-collection1-text049 {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-collection1-area {
    flex-wrap: wrap;
  }
  .add-collection1-area1 {
    flex-wrap: wrap;
  }
  .add-collection1-text056 {
    color: var(--dl-color-dark-white);
  }
  .add-collection1-container22 {
    margin-top: 0px;
  }
  .add-collection1-container24 {
    width: 100%;
    margin-top: 0px;
  }
  .add-collection1-container26 {
    width: 100%;
    margin-top: 0px;
  }
  .add-collection1-tags {
    flex-wrap: wrap;
  }
  .add-collection1-button11 {
    height: 42px;
  }
  .add-collection1-text060 {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-collection1-button12 {
    height: 42px;
  }
  .add-collection1-text063 {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-collection1-button13 {
    height: 42px;
  }
  .add-collection1-text066 {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-collection1-button14 {
    height: 42px;
  }
  .add-collection1-text069 {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-collection1-button15 {
    height: 42px;
  }
  .add-collection1-text072 {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-collection1-button16 {
    height: 42px;
  }
  .add-collection1-text075 {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-collection1-button17 {
    height: 42px;
  }
  .add-collection1-text078 {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-collection1-button18 {
    height: 42px;
  }
  .add-collection1-text081 {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-collection1-bottom-buttons {
    gap: var(--dl-space-space-unit);
    height: auto;
    margin-top: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .add-collection1-button19 {
    width: 100%;
    padding-top: 10px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: 10px;
    justify-content: center;
  }
  .add-collection1-text084 {
    font-size: 16px;
  }
  .add-collection1-navlink3 {
    width: 100%;
    align-items: center;
    padding-top: 10px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: 10px;
    justify-content: center;
  }
  .add-collection1-text087 {
    font-size: 16px;
  }
  .add-collection1-info-box {
    display: none;
  }
}
@media(max-width: 479px) {
  .add-collection1-text016 {
    font-size: 13px;
  }
  .add-collection1-text025 {
    font-size: 13px;
  }
}
