.add-collection-container {
  width: 100%;
  display: flex;
  overflow: visible;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-dark-gray-200);
}
.add-collection-header-creator {
  flex: 0 0 auto;
  width: 100%;
  height: 200px;
  display: flex;
  position: relative;
  box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.3);
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  padding-top: var(--dl-space-space-twounits);
  margin-right: 0px;
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius12);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-size: cover;
  justify-content: flex-end;
  background-image: url("/playground_assets/vlad__foton.is__radix.stream_launch_of_a_geometric_rocket_with__07d686d1-ac67-4445-8604-8ef1e9f56803-1500w.png");
  background-position: center;
}
.add-collection-container01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  z-index: 130;
  align-items: flex-end;
  justify-content: space-between;
}
.add-collection-container02 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: center;
  align-items: center;
}
.add-collection-container03 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: auto;
  height: 160px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius12);
  flex-direction: column;
  justify-content: flex-end;
}
.add-collection-text {
  color: var(--dl-color-dark-white);
  font-size: 24px;
  font-family: Poppins;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.add-collection-mask-overlay {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  background-color: rgba(24, 24, 24, 0.36);
}
.add-collection-tabs-row {
  top: 80px;
  flex: 0 0 auto;
  width: 100%;
  height: 60px;
  display: flex;
  z-index: 100;
  position: sticky;
  align-items: center;
  border-color: var(--dl-color-dark-gray-300);
  border-width: 0px;
  padding-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-halfunit);
  justify-content: space-between;
  background-color: var(--dl-color-dark-gray-200);
  border-bottom-width: 1px;
}
.add-collection-container04 {
  gap: var(--dl-space-space-twounits);
  height: 100%;
  display: flex;
  align-items: center;
}
.add-collection-navlink {
  color: var(--dl-color-dark-gray-400);
  height: 100%;
  font-style: normal;
  transition: 0.05s;
  font-weight: 600;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: var(--dl-color-dark-gray-200);
  border-width: 0px;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
  border-bottom-width: 2px;
}
.add-collection-navlink:hover {
  color: var(--dl-color-dark-green-200);
}
.add-collection-container05 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
}
.add-collection-button {
  gap: var(--dl-space-space-halfunit);
  color: var(--dl-color-dark-white);
  height: 52px;
  display: flex;
  font-size: 14px;
  font-style: normal;
  transition: 0.3s;
  align-items: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.15;
  padding-top: 16px;
  border-color: var(--dl-color-dark-green-200);
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius12);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: 14px;
  text-transform: none;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-dark-gray-200);
}
.add-collection-button:hover {
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection-button:active {
  border-color: var(--dl-color-dark-green-200);
}
.add-collection-icon {
  width: 24px;
  height: 24px;
}
.add-collection-text01 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.add-collection-button01 {
  gap: var(--dl-space-space-halfunit);
  color: var(--dl-color-dark-white);
  height: 52px;
  display: flex;
  font-size: 14px;
  font-style: normal;
  transition: 0.3s;
  align-items: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.15;
  padding-top: 16px;
  border-color: var(--dl-color-dark-gray-360);
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius12);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: 14px;
  text-transform: none;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-dark-gray-200);
}
.add-collection-button01:hover {
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection-button01:active {
  border-color: var(--dl-color-dark-green-200);
}
.add-collection-icon02 {
  width: 24px;
  height: 24px;
}
.add-collection-text04 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.add-collection-button02 {
  gap: var(--dl-space-space-halfunit);
  color: var(--dl-color-dark-white);
  height: 52px;
  display: flex;
  font-size: 14px;
  font-style: normal;
  transition: 0.3s;
  align-items: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.15;
  padding-top: 16px;
  border-color: var(--dl-color-dark-gray-360);
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius12);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: 14px;
  text-transform: none;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-dark-gray-200);
}
.add-collection-button02:hover {
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection-button02:active {
  border-color: var(--dl-color-dark-green-200);
}
.add-collection-icon04 {
  width: 24px;
  height: 24px;
}
.add-collection-text07 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.add-collection-button03 {
  gap: var(--dl-space-space-halfunit);
  color: var(--dl-color-dark-white);
  height: 52px;
  display: flex;
  font-size: 14px;
  font-style: normal;
  transition: 0.3s;
  align-items: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.15;
  padding-top: 16px;
  border-color: var(--dl-color-dark-gray-360);
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius12);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: 14px;
  text-transform: none;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-dark-gray-200);
}
.add-collection-button03:hover {
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection-button03:active {
  border-color: var(--dl-color-dark-green-200);
}
.add-collection-icon06 {
  width: 24px;
  height: 24px;
}
.add-collection-text10 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.add-collection-container-form {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
}
.add-collection-under-header {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.add-collection-card {
  gap: var(--dl-space-space-sixunits);
  width: 100%;
  height: 2854px;
  display: flex;
  align-self: flex-end;
  align-items: flex-start;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius12);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: flex-start;
  background-color: var(--dl-color-dark-gray-250);
}
.add-collection-form {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  height: auto;
  display: flex;
  flex-direction: column;
}
.add-collection-field {
  gap: var(--dl-space-space-unit);
  display: flex;
  flex-direction: column;
}
.add-collection-text13 {
  color: var(--dl-color-dark-white);
}
.add-collection-textinput {
  color: var(--dl-color-dark-white);
  height: 50px;
  transition: 0.3s;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-dark-gray-300);
}
.add-collection-textinput:focus {
  border-color: var(--dl-color-dark-gray-400);
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection-field1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  flex-direction: column;
}
.add-collection-text14 {
  color: var(--dl-color-dark-white);
}
.add-collection-container06 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.add-collection-card-small {
  flex: 1;
  height: auto;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: solid;
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
}
.add-collection-card-small:hover {
  border-color: var(--dl-color-dark-green-200);
}
.add-collection-card-small:active {
  border-color: var(--dl-color-dark-green-200);
}
.add-collection-container07 {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-style: solid;
  border-width: 0px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  justify-content: space-between;
  background-color: var(--dl-color-dark-gray-300);
  border-bottom-width: 2px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.add-collection-text15 {
  color: var(--dl-color-dark-white);
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.add-collection-icon08 {
  fill: var(--dl-color-dark-white);
  width: 24px;
  height: 24px;
}
.add-collection-container08 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}
.add-collection-text16 {
  color: var(--dl-color-dark-gray-400);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
}
.add-collection-card-small1 {
  flex: 1;
  height: auto;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: solid;
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
}
.add-collection-card-small1:hover {
  border-color: var(--dl-color-dark-green-200);
}
.add-collection-card-small1:active {
  border-color: var(--dl-color-dark-green-200);
}
.add-collection-container09 {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-style: solid;
  border-width: 0px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  justify-content: space-between;
  background-color: var(--dl-color-dark-gray-300);
  border-bottom-width: 2px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.add-collection-text24 {
  color: var(--dl-color-dark-white);
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.add-collection-icon10 {
  fill: var(--dl-color-dark-white);
  width: 24px;
  height: 24px;
}
.add-collection-container10 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}
.add-collection-text25 {
  color: var(--dl-color-dark-gray-400);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
}
.add-collection-field2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  flex-direction: column;
}
.add-collection-text30 {
  color: var(--dl-color-dark-white);
}
.add-collection-textinput1 {
  color: var(--dl-color-dark-white);
  height: 50px;
  transition: 0.3s;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-dark-gray-300);
}
.add-collection-textinput1:focus {
  border-color: var(--dl-color-dark-gray-400);
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection-field3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  flex-direction: column;
}
.add-collection-text31 {
  color: var(--dl-color-dark-white);
}
.add-collection-text32 {
  color: var(--dl-color-dark-gray-400);
}
.add-collection-textinput2 {
  color: var(--dl-color-dark-white);
  height: 50px;
  transition: 0.3s;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-dark-gray-300);
}
.add-collection-textinput2:focus {
  border-color: var(--dl-color-dark-gray-400);
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection-area {
  gap: var(--dl-space-space-unit);
  display: flex;
  flex-direction: column;
}
.add-collection-text33 {
  color: var(--dl-color-dark-white);
}
.add-collection-textarea {
  color: var(--dl-color-dark-white);
  height: auto;
  min-height: 100px;
  transition: 0.3s;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-dark-gray-300);
}
.add-collection-textarea:focus {
  border-color: var(--dl-color-dark-gray-400);
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection-area1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  flex-direction: column;
}
.add-collection-text34 {
  color: var(--dl-color-dark-white);
}
.add-collection-textarea1 {
  color: var(--dl-color-dark-white);
  height: auto;
  min-height: 100px;
  transition: 0.3s;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-dark-gray-300);
}
.add-collection-textarea1:focus {
  border-color: var(--dl-color-dark-gray-400);
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection-field-image {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.add-collection-text35 {
  color: var(--dl-color-dark-white);
}
.add-collection-container11 {
  gap: 0;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.add-collection-textinput3 {
  color: var(--dl-color-dark-white);
  width: 100%;
  height: 50px;
  transition: 0.3s;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-dark-gray-300);
  border-right-width: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.add-collection-textinput3:focus {
  border-color: var(--dl-color-dark-gray-400);
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection-button04 {
  gap: 4px;
  color: var(--dl-color-dark-white);
  width: 70px;
  height: 50px;
  display: flex;
  align-self: center;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-360);
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.add-collection-button04:hover {
  background-color: var(--dl-color-dark-gray-370);
}
.add-collection-icon12 {
  fill: var(--dl-color-dark-gray-400);
  width: 24px;
  height: 24px;
}
.add-collection-container12 {
  width: 160px;
  height: 160px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  transition: 0.1s;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: solid;
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: center;
}
.add-collection-container12:hover {
  background-color: var(--dl-color-dark-gray-300);
}
.add-collection-icon14 {
  fill: var(--dl-color-dark-gray-370);
  width: 50px;
  height: 50px;
}
.add-collection-field-image1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.add-collection-text36 {
  color: var(--dl-color-dark-white);
}
.add-collection-container13 {
  gap: 0;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.add-collection-textinput4 {
  color: var(--dl-color-dark-white);
  width: 100%;
  height: 50px;
  transition: 0.3s;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-dark-gray-300);
  border-right-width: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.add-collection-textinput4:focus {
  border-color: var(--dl-color-dark-gray-400);
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection-button05 {
  gap: 4px;
  color: var(--dl-color-dark-white);
  width: 70px;
  height: 50px;
  display: flex;
  align-self: center;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-360);
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.add-collection-button05:hover {
  background-color: var(--dl-color-dark-gray-370);
}
.add-collection-icon16 {
  fill: var(--dl-color-dark-gray-400);
  width: 24px;
  height: 24px;
}
.add-collection-container14 {
  width: 50%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  transition: 0.1s;
  align-items: center;
  aspect-ratio: 3/2;
  border-color: var(--dl-color-dark-gray-370);
  border-style: solid;
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: center;
}
.add-collection-container14:hover {
  background-color: var(--dl-color-dark-gray-300);
}
.add-collection-icon18 {
  fill: var(--dl-color-dark-gray-370);
  width: 50px;
  height: 50px;
}
.add-collection-field-image2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.add-collection-text37 {
  color: var(--dl-color-dark-white);
}
.add-collection-container15 {
  gap: 0;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.add-collection-textinput5 {
  color: var(--dl-color-dark-white);
  width: 100%;
  height: 50px;
  transition: 0.3s;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-dark-gray-300);
  border-right-width: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.add-collection-textinput5:focus {
  border-color: var(--dl-color-dark-gray-400);
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection-button06 {
  gap: 4px;
  color: var(--dl-color-dark-white);
  width: 70px;
  height: 50px;
  display: flex;
  align-self: center;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-360);
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.add-collection-button06:hover {
  background-color: var(--dl-color-dark-gray-370);
}
.add-collection-icon20 {
  fill: var(--dl-color-dark-gray-400);
  width: 24px;
  height: 24px;
}
.add-collection-container16 {
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  transition: 0.1s;
  align-items: center;
  aspect-ratio: 3/1;
  border-color: var(--dl-color-dark-gray-370);
  border-style: solid;
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: center;
}
.add-collection-container16:hover {
  background-color: var(--dl-color-dark-gray-300);
}
.add-collection-icon22 {
  fill: var(--dl-color-dark-gray-370);
  width: 50px;
  height: 50px;
}
.add-collection-tags {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.add-collection-text38 {
  color: var(--dl-color-dark-white);
}
.add-collection-container17 {
  gap: var(--dl-space-space-unit);
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}
.add-collection-button07 {
  gap: 4px;
  color: var(--dl-color-dark-white);
  width: auto;
  height: 50px;
  display: flex;
  min-width: 70px;
  align-self: center;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection-button07:hover {
  border-color: var(--dl-color-dark-green-200);
  background-color: var(--dl-color-dark-gray-370);
}
.add-collection-text39 {
  color: var(--dl-color-dark-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.add-collection-button08 {
  gap: 4px;
  color: var(--dl-color-dark-white);
  width: auto;
  height: 50px;
  display: flex;
  min-width: 70px;
  align-self: center;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection-button08:hover {
  border-color: var(--dl-color-dark-green-200);
  background-color: var(--dl-color-dark-gray-370);
}
.add-collection-text42 {
  color: var(--dl-color-dark-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.add-collection-button09 {
  gap: 4px;
  color: var(--dl-color-dark-white);
  width: auto;
  height: 50px;
  display: flex;
  min-width: 70px;
  align-self: center;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection-button09:hover {
  border-color: var(--dl-color-dark-green-200);
  background-color: var(--dl-color-dark-gray-370);
}
.add-collection-text45 {
  color: var(--dl-color-dark-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.add-collection-button10 {
  gap: 4px;
  color: var(--dl-color-dark-white);
  width: auto;
  height: 50px;
  display: flex;
  min-width: 70px;
  align-self: center;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection-button10:hover {
  border-color: var(--dl-color-dark-green-200);
  background-color: var(--dl-color-dark-gray-370);
}
.add-collection-text48 {
  color: var(--dl-color-dark-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.add-collection-button11 {
  gap: 4px;
  color: var(--dl-color-dark-white);
  width: auto;
  height: 50px;
  display: flex;
  min-width: 70px;
  align-self: center;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection-button11:hover {
  border-color: var(--dl-color-dark-green-200);
  background-color: var(--dl-color-dark-gray-370);
}
.add-collection-text51 {
  color: var(--dl-color-dark-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.add-collection-button12 {
  gap: 4px;
  color: var(--dl-color-dark-white);
  width: auto;
  height: 50px;
  display: flex;
  min-width: 70px;
  align-self: center;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection-button12:hover {
  border-color: var(--dl-color-dark-green-200);
  background-color: var(--dl-color-dark-gray-370);
}
.add-collection-text54 {
  color: var(--dl-color-dark-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.add-collection-button13 {
  gap: 4px;
  color: var(--dl-color-dark-white);
  width: auto;
  height: 50px;
  display: flex;
  min-width: 70px;
  align-self: center;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection-button13:hover {
  border-color: var(--dl-color-dark-green-200);
  background-color: var(--dl-color-dark-gray-370);
}
.add-collection-text57 {
  color: var(--dl-color-dark-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.add-collection-button14 {
  gap: 4px;
  color: var(--dl-color-dark-white);
  width: auto;
  height: 50px;
  display: flex;
  min-width: 70px;
  align-self: center;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection-button14:hover {
  border-color: var(--dl-color-dark-green-200);
  background-color: var(--dl-color-dark-gray-370);
}
.add-collection-text60 {
  color: var(--dl-color-dark-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.add-collection-bottom-buttons {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
}
.add-collection-button15 {
  color: var(--dl-color-dark-white);
  height: 60px;
  display: flex;
  font-size: 18px;
  align-self: flex-end;
  font-style: normal;
  text-align: center;
  transition: 0;
  align-items: center;
  font-weight: 600;
  padding-top: 13px;
  border-color: var(--dl-color-dark-gray-400);
  border-width: 2px;
  padding-left: var(--dl-space-space-twounits);
  align-content: center;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: 13px;
  background-color: var(--dl-color-dark-gray-360);
}
.add-collection-button15:hover {
  background-color: var(--dl-color-dark-gray-370);
}
.add-collection-button16 {
  gap: var(--dl-space-space-halfunit);
  color: var(--dl-color-dark-white);
  height: 60px;
  display: flex;
  font-size: 18px;
  align-self: flex-end;
  font-style: normal;
  text-align: center;
  transition: 0;
  align-items: center;
  font-weight: 600;
  padding-top: 13px;
  border-color: var(--dl-color-dark-darkergreen);
  border-width: 2px;
  padding-left: var(--dl-space-space-twounits);
  align-content: center;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: 13px;
  background-color: var(--dl-color-dark-darkgreenbtn);
}
.add-collection-button16:hover {
  border-color: var(--dl-color-dark-green-200);
  background-color: var(--dl-color-dark-darkergreen);
}
.add-collection-icon24 {
  fill: var(--dl-color-dark-white);
  width: 20px;
  height: 20px;
}
.add-collection-info-box {
  flex: 0.8;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.add-collection-container18 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  border-color: var(--dl-color-dark-gray-370);
  border-style: solid;
  border-width: 2px;
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-start;
}
.add-collection-text69 {
  color: var(--dl-color-dark-darkergreen);
  font-style: normal;
}
.add-collection-text72 {
  color: var(--dl-color-dark-white);
  line-height: 1.4;
}
@media(max-width: 991px) {
  .add-collection-container02 {
    gap: var(--dl-space-space-unit);
  }
  .add-collection-card {
    gap: var(--dl-space-space-twounits);
  }
}
@media(max-width: 767px) {
  .add-collection-header-creator {
    height: 160px;
    margin-top: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-radius8);
    margin-bottom: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .add-collection-container01 {
    z-index: 100;
    align-items: flex-start;
    flex-direction: column;
  }
  .add-collection-container02 {
    gap: var(--dl-space-space-unit);
    align-self: flex-start;
    align-items: center;
    justify-content: flex-start;
  }
  .add-collection-container03 {
    gap: var(--dl-space-space-halfunit);
    height: auto;
    padding-top: var(--dl-space-space-unit);
  }
  .add-collection-text {
    font-size: 18px;
  }
  .add-collection-mask-overlay {
    height: 100%;
  }
  .add-collection-tabs-row {
    top: 70px;
  }
  .add-collection-navlink {
    font-size: 13px;
    font-weight: 600;
  }
  .add-collection-button {
    height: 39px;
    padding-top: 0px;
    padding-left: var(--dl-space-space-halfunit);
    border-radius: var(--dl-radius-radius-radius8);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: 0px;
  }
  .add-collection-text01 {
    display: none;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-collection-button01 {
    height: 39px;
    padding-top: 0px;
    padding-left: var(--dl-space-space-halfunit);
    border-radius: var(--dl-radius-radius-radius8);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: 0px;
  }
  .add-collection-text04 {
    display: none;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-collection-button02 {
    height: 39px;
    padding-top: 0px;
    padding-left: var(--dl-space-space-halfunit);
    border-radius: var(--dl-radius-radius-radius8);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: 0px;
  }
  .add-collection-text07 {
    display: none;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-collection-button03 {
    height: 39px;
    padding-top: 0px;
    padding-left: var(--dl-space-space-halfunit);
    border-radius: var(--dl-radius-radius-radius8);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: 0px;
  }
  .add-collection-text10 {
    display: none;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-collection-container-form {
    gap: var(--dl-space-space-twounits);
    margin-top: 0px;
  }
  .add-collection-under-header {
    height: auto;
  }
  .add-collection-card {
    gap: 4px;
    width: auto;
    height: auto;
    align-self: flex-start;
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-halfunit);
    border-radius: var(--dl-radius-radius-radius8);
    padding-right: var(--dl-space-space-halfunit);
  }
  .add-collection-form {
    width: 100%;
  }
  .add-collection-container06 {
    gap: var(--dl-space-space-halfunit);
    flex-direction: column;
  }
  .add-collection-card-small {
    width: 100%;
  }
  .add-collection-container07 {
    justify-content: space-between;
  }
  .add-collection-card-small1 {
    width: 100%;
  }
  .add-collection-container09 {
    justify-content: space-between;
  }
  .add-collection-area {
    flex-wrap: wrap;
  }
  .add-collection-area1 {
    flex-wrap: wrap;
  }
  .add-collection-text35 {
    color: var(--dl-color-dark-white);
  }
  .add-collection-container12 {
    margin-top: 0px;
  }
  .add-collection-container14 {
    width: 100%;
    margin-top: 0px;
  }
  .add-collection-container16 {
    width: 100%;
    margin-top: 0px;
  }
  .add-collection-tags {
    flex-wrap: wrap;
  }
  .add-collection-button07 {
    height: 42px;
  }
  .add-collection-text39 {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-collection-button08 {
    height: 42px;
  }
  .add-collection-text42 {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-collection-button09 {
    height: 42px;
  }
  .add-collection-text45 {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-collection-button10 {
    height: 42px;
  }
  .add-collection-text48 {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-collection-button11 {
    height: 42px;
  }
  .add-collection-text51 {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-collection-button12 {
    height: 42px;
  }
  .add-collection-text54 {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-collection-button13 {
    height: 42px;
  }
  .add-collection-text57 {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-collection-button14 {
    height: 42px;
  }
  .add-collection-text60 {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .add-collection-bottom-buttons {
    gap: var(--dl-space-space-unit);
    height: auto;
    margin-top: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .add-collection-button15 {
    width: 100%;
    padding-top: 10px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: 10px;
    justify-content: center;
  }
  .add-collection-text63 {
    font-size: 16px;
  }
  .add-collection-button16 {
    width: 100%;
    align-items: center;
    padding-top: 10px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: 10px;
    justify-content: center;
  }
  .add-collection-text66 {
    font-size: 16px;
  }
  .add-collection-info-box {
    display: none;
  }
}
@media(max-width: 479px) {
  .add-collection-text16 {
    font-size: 13px;
  }
  .add-collection-text25 {
    font-size: 13px;
  }
}
