.creator-studio-collection-container {
  width: 100%;
  display: flex;
  overflow: visible;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-dark-gray-200);
}
.creator-studio-collection-header-creator {
  flex: 0 0 auto;
  width: 100%;
  height: 300px;
  display: flex;
  position: relative;
  box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.3);
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  padding-top: var(--dl-space-space-twounits);
  margin-right: 0px;
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius12);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-size: cover;
  justify-content: flex-end;
  background-image: url("/playground_assets/vlad__foton.is__radix.stream_launch_of_a_geometric_rocket_with__9ea0ca5f-5111-4b44-aff7-89a4e6d2179e-1500w.png");
  background-repeat: no-repeat;
  background-position: top left;
}
.creator-studio-collection-gray-overlay {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius12);
  justify-content: center;
  background-image: linear-gradient(135deg, rgb(47, 47, 47) 37.00%,rgba(44, 62, 80, 0) 100.00%);
}
.creator-studio-collection-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  z-index: 100;
  align-items: flex-end;
  justify-content: space-between;
}
.creator-studio-collection-container2 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: center;
}
.creator-studio-collection-avatar-logo {
  width: 140px;
  height: 140px;
  display: flex;
  position: relative;
  align-items: flex-start;
  aspect-ratio: 1/1;
  border-radius: var(--dl-radius-radius-radius12);
  flex-direction: column;
}
.creator-studio-collection-image {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  object-fit: cover;
  border-color: var(--dl-color-dark-gray-400);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius12);
}
.creator-studio-collection-container3 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius12);
  flex-direction: column;
}
.creator-studio-collection-text {
  color: var(--dl-color-dark-white);
  font-size: 30px;
  font-family: Poppins;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.creator-studio-collection-container4 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.creator-studio-collection-text01 {
  color: var(--dl-color-dark-green-200);
  font-size: 18px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.creator-studio-collection-text04 {
  color: var(--dl-color-dark-gray-400);
  font-size: 18px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.creator-studio-collection-buttons {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: auto;
  height: 160px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius12);
  flex-direction: row;
}
.creator-studio-collection-navlink {
  color: var(--dl-color-dark-white);
  height: 50px;
  display: flex;
  font-size: 18px;
  align-self: flex-end;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  font-style: normal;
  text-align: center;
  transition: 0;
  font-weight: 600;
  padding-top: 11px;
  border-color: var(--dl-color-dark-green-200);
  border-width: 2px;
  padding-left: var(--dl-space-space-twounits);
  align-content: center;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: 11px;
  text-decoration: none;
  background-color: var(--dl-color-dark-darkergreenhighlight);
}
.creator-studio-collection-navlink:hover {
  background-color: var(--dl-color-dark-darkergreen);
}
.creator-studio-collection-button {
  color: var(--dl-color-dark-white);
  height: 50px;
  display: flex;
  font-size: 18px;
  align-self: flex-end;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  font-style: normal;
  text-align: center;
  transition: 0;
  font-weight: 600;
  padding-top: 11px;
  border-color: var(--dl-color-dark-gray-400);
  border-width: 2px;
  padding-left: var(--dl-space-space-twounits);
  align-content: center;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: 11px;
  background-color: var(--dl-color-dark-gray-360);
}
.creator-studio-collection-button:hover {
  border-color: var(--dl-color-dark-green-200);
  background-color: var(--dl-color-dark-darkergreenhighlight);
}
.creator-studio-collection-tabs-row {
  top: 80px;
  flex: 0 0 auto;
  width: 100%;
  height: 60px;
  display: flex;
  z-index: 100;
  position: sticky;
  align-items: center;
  border-color: var(--dl-color-dark-gray-300);
  border-width: 0px;
  padding-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-halfunit);
  justify-content: space-between;
  background-color: var(--dl-color-dark-gray-200);
  border-bottom-width: 1px;
}
.creator-studio-collection-container5 {
  gap: var(--dl-space-space-twounits);
  height: 100%;
  display: flex;
  align-items: center;
}
.creator-studio-collection-navlink1 {
  color: var(--dl-color-dark-gray-400);
  height: 100%;
  font-style: normal;
  transition: 0.05s;
  font-weight: 600;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: var(--dl-color-dark-gray-200);
  border-width: 0px;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
  border-bottom-width: 2px;
}
.creator-studio-collection-navlink1:hover {
  color: var(--dl-color-dark-green-200);
}
.creator-studio-collection-text13 {
  color: var(--dl-color-dark-white);
  height: 100%;
  font-style: normal;
  font-weight: 600;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: var(--dl-color-dark-gray-200);
  border-width: 0px;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  border-bottom-width: 2px;
}
.creator-studio-collection-filter-buttons {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: flex-start;
  align-items: center;
}
.creator-studio-collection-button1 {
  gap: var(--dl-space-space-halfunit);
  color: var(--dl-color-dark-white);
  height: 52px;
  display: flex;
  font-size: 14px;
  font-style: normal;
  transition: 0.05s;
  align-items: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.15;
  padding-top: 16px;
  border-color: var(--dl-color-dark-gray-360);
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius12);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: 14px;
  text-transform: none;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-dark-gray-200);
}
.creator-studio-collection-button1:hover {
  background-color: var(--dl-color-dark-gray-360);
}
.creator-studio-collection-icon {
  fill: var(--dl-color-dark-white);
  width: 24px;
  height: 24px;
}
.creator-studio-collection-text14 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.creator-studio-collection-timeframe {
  height: 100%;
  display: none;
  align-items: center;
  border-color: var(--dl-color-dark-gray-360);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius12);
  flex-direction: row;
}
.creator-studio-collection-button2 {
  color: var(--dl-color-dark-white);
  height: auto;
  display: flex;
  font-size: 14px;
  font-style: normal;
  transition: 0.05s;
  align-items: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.15;
  padding-top: 16px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 0px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: 14px;
  text-transform: none;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-dark-gray-200);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.creator-studio-collection-button2:hover {
  border-radius: 6px;
  background-color: var(--dl-color-dark-gray-360);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.creator-studio-collection-button2:active {
  background-color: var(--dl-color-dark-gray-360);
}
.creator-studio-collection-text17 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.creator-studio-collection-button3 {
  color: var(--dl-color-dark-white);
  height: auto;
  display: flex;
  font-size: 14px;
  font-style: normal;
  transition: 0.05s;
  align-items: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.15;
  padding-top: 16px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 0px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: 14px;
  text-transform: none;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-dark-gray-200);
}
.creator-studio-collection-button3:hover {
  background-color: var(--dl-color-dark-gray-360);
}
.creator-studio-collection-text20 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.creator-studio-collection-button4 {
  color: var(--dl-color-dark-white);
  height: auto;
  display: flex;
  font-size: 14px;
  font-style: normal;
  transition: 0.05s;
  align-items: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.15;
  padding-top: 16px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 0px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: 14px;
  text-transform: none;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-dark-gray-200);
}
.creator-studio-collection-button4:hover {
  background-color: var(--dl-color-dark-gray-360);
}
.creator-studio-collection-text23 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.creator-studio-collection-button5 {
  color: var(--dl-color-dark-white);
  height: auto;
  display: flex;
  font-size: 14px;
  font-style: normal;
  transition: 0.05s;
  align-items: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.15;
  padding-top: 16px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 0px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: 14px;
  text-transform: none;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-dark-gray-200);
  border-top-left-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 10px;
}
.creator-studio-collection-button5:hover {
  background-color: var(--dl-color-dark-gray-360);
}
.creator-studio-collection-text26 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.creator-studio-collection-sort-by {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.creator-studio-collection-dropdown-toggle {
  gap: var(--dl-space-space-halfunit);
  fill: #595959;
  width: 100%;
  height: 52px;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-dark-gray-360);
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius12);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-dark-gray-200);
}
.creator-studio-collection-icon2 {
  fill: var(--dl-color-dark-white);
  width: 24px;
  height: 24px;
}
.creator-studio-collection-text29 {
  color: var(--dl-color-dark-white);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  margin-right: 4px;
  vertical-align: middle;
}
.creator-studio-collection-dropdown-arrow {
  transition: 0.1s;
}
.creator-studio-collection-icon4 {
  fill: var(--dl-color-dark-white);
  width: 22px;
  height: 22px;
  padding-top: 2px;
}
.creator-studio-collection-dropdown-list {
  right: 0%;
  width: 240px;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  align-items: stretch;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius12);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  list-style-type: none;
  background-color: var(--dl-color-dark-gray-360);
  list-style-position: inside;
}
.creator-studio-collection-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.creator-studio-collection-dropdown-toggle1 {
  fill: #595959;
  color: var(--dl-color-dark-white);
  width: 100%;
  display: inline-flex;
  transition: 0.05s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 2px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.creator-studio-collection-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: var(--dl-color-dark-gray-370);
}
.creator-studio-collection-text30 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.creator-studio-collection-dropdown-toggle2 {
  fill: #595959;
  color: var(--dl-color-dark-white);
  width: 100%;
  display: inline-flex;
  transition: 0.05s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 2px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.creator-studio-collection-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: var(--dl-color-dark-gray-370);
}
.creator-studio-collection-text31 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.creator-studio-collection-dropdown-toggle3 {
  fill: #595959;
  color: var(--dl-color-dark-white);
  width: 100%;
  display: inline-flex;
  transition: 0.05s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 2px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.creator-studio-collection-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: var(--dl-color-dark-gray-370);
}
.creator-studio-collection-text32 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.creator-studio-collection-dropdown-toggle4 {
  fill: #595959;
  color: var(--dl-color-dark-white);
  width: 100%;
  display: inline-flex;
  transition: 0.05s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 2px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.creator-studio-collection-dropdown-toggle4:hover {
  fill: #fff;
  color: #fff;
  background-color: var(--dl-color-dark-gray-370);
}
.creator-studio-collection-text33 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.creator-studio-collection-dropdown-toggle5 {
  fill: #595959;
  color: var(--dl-color-dark-white);
  width: 100%;
  display: inline-flex;
  transition: 0.05s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 2px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.creator-studio-collection-dropdown-toggle5:hover {
  fill: #fff;
  color: #fff;
  background-color: var(--dl-color-dark-gray-370);
}
.creator-studio-collection-text34 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.creator-studio-collection-dropdown-toggle6 {
  fill: #595959;
  color: var(--dl-color-dark-white);
  width: 100%;
  display: inline-flex;
  transition: 0.05s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 2px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.creator-studio-collection-dropdown-toggle6:hover {
  fill: #fff;
  color: #fff;
  background-color: var(--dl-color-dark-gray-370);
}
.creator-studio-collection-text35 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.creator-studio-collection-dropdown-toggle7 {
  fill: #595959;
  color: var(--dl-color-dark-white);
  width: 100%;
  display: inline-flex;
  transition: 0.05s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 2px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.creator-studio-collection-dropdown-toggle7:hover {
  fill: #fff;
  color: #fff;
  background-color: var(--dl-color-dark-gray-370);
}
.creator-studio-collection-text36 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.creator-studio-collection-button6 {
  gap: var(--dl-space-space-halfunit);
  color: var(--dl-color-dark-white);
  height: 52px;
  display: flex;
  font-size: 14px;
  font-style: normal;
  transition: 0.05s;
  align-items: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.15;
  padding-top: 16px;
  border-color: var(--dl-color-dark-gray-360);
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius12);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: 14px;
  text-transform: none;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-dark-gray-200);
}
.creator-studio-collection-button6:hover {
  background-color: var(--dl-color-dark-gray-360);
}
.creator-studio-collection-icon6 {
  fill: var(--dl-color-dark-white);
  width: 24px;
  height: 24px;
}
.creator-studio-collection-text37 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
@media(max-width: 1200px) {
  .creator-studio-collection-text13 {
    color: var(--dl-color-dark-white);
  }
}
@media(max-width: 991px) {
  .creator-studio-collection-header-creator {
    height: 300px;
  }
  .creator-studio-collection-container1 {
    align-items: flex-start;
    flex-direction: column;
  }
  .creator-studio-collection-container2 {
    gap: var(--dl-space-space-unit);
    align-self: flex-start;
  }
  .creator-studio-collection-container3 {
    gap: var(--dl-space-space-halfunit);
    height: auto;
    padding-top: var(--dl-space-space-oneandhalfunits);
  }
  .creator-studio-collection-text {
    font-size: 22px;
  }
  .creator-studio-collection-buttons {
    gap: var(--dl-space-space-unit);
    height: auto;
    padding-top: var(--dl-space-space-twounits);
  }
  .creator-studio-collection-text14 {
    display: none;
  }
  .creator-studio-collection-timeframe {
    display: none;
  }
  .creator-studio-collection-text29 {
    display: none;
  }
  .creator-studio-collection-dropdown-list {
    right: 0%;
  }
  .creator-studio-collection-dropdown-toggle2 {
    width: 100%;
  }
  .creator-studio-collection-text37 {
    display: none;
  }
}
@media(max-width: 767px) {
  .creator-studio-collection-header-creator {
    height: 200px;
    margin-top: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-radius8);
    margin-bottom: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .creator-studio-collection-gray-overlay {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .creator-studio-collection-container1 {
    align-items: flex-start;
    flex-direction: column;
  }
  .creator-studio-collection-container2 {
    gap: var(--dl-space-space-halfunit);
    align-self: flex-start;
    align-items: center;
    justify-content: flex-start;
  }
  .creator-studio-collection-avatar-logo {
    width: 100px;
    height: 100px;
  }
  .creator-studio-collection-container3 {
    gap: var(--dl-space-space-halfunit);
    height: auto;
    padding-top: var(--dl-space-space-unit);
  }
  .creator-studio-collection-text {
    font-size: 18px;
  }
  .creator-studio-collection-text01 {
    font-size: 13px;
  }
  .creator-studio-collection-text04 {
    font-size: 13px;
  }
  .creator-studio-collection-buttons {
    gap: var(--dl-space-space-halfunit);
    height: auto;
    padding-top: var(--dl-space-space-unit);
  }
  .creator-studio-collection-navlink {
    height: 42px;
    padding-top: 8px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 8px;
  }
  .creator-studio-collection-text07 {
    font-size: 16px;
  }
  .creator-studio-collection-button {
    height: 42px;
    align-items: center;
    padding-top: 8px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 8px;
  }
  .creator-studio-collection-text10 {
    font-size: 16px;
  }
  .creator-studio-collection-tabs-row {
    top: 70px;
    align-items: center;
  }
  .creator-studio-collection-container5 {
    gap: var(--dl-space-space-unit);
  }
  .creator-studio-collection-navlink1 {
    font-size: 13px;
    font-weight: 600;
  }
  .creator-studio-collection-text13 {
    font-size: 13px;
    font-weight: 600;
  }
  .creator-studio-collection-filter-buttons {
    gap: var(--dl-space-space-halfunit);
    align-self: center;
  }
  .creator-studio-collection-button1 {
    height: 39px;
    padding-top: 0px;
    padding-left: var(--dl-space-space-halfunit);
    border-radius: var(--dl-radius-radius-radius8);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: 0px;
  }
  .creator-studio-collection-text14 {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .creator-studio-collection-timeframe {
    height: auto;
    border-radius: var(--dl-radius-radius-radius8);
  }
  .creator-studio-collection-button2 {
    height: auto;
    padding-top: 10px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: 10px;
  }
  .creator-studio-collection-text17 {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .creator-studio-collection-button3 {
    height: auto;
    padding-top: 10px;
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: 10px;
  }
  .creator-studio-collection-text20 {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .creator-studio-collection-button4 {
    height: auto;
    padding-top: 10px;
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: 10px;
  }
  .creator-studio-collection-text23 {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .creator-studio-collection-button5 {
    height: auto;
    padding-top: 10px;
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 10px;
  }
  .creator-studio-collection-text26 {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .creator-studio-collection-dropdown-toggle {
    height: 38.5px;
    padding-left: var(--dl-space-space-halfunit);
    border-radius: var(--dl-radius-radius-radius8);
  }
  .creator-studio-collection-text29 {
    font-size: 13px;
  }
  .creator-studio-collection-dropdown-list {
    width: 200px;
    display: none;
  }
  .creator-studio-collection-dropdown-toggle1 {
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 10px;
  }
  .creator-studio-collection-text30 {
    font-size: 13px;
  }
  .creator-studio-collection-dropdown-toggle2 {
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 10px;
  }
  .creator-studio-collection-text31 {
    font-size: 13px;
  }
  .creator-studio-collection-dropdown-toggle3 {
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 10px;
  }
  .creator-studio-collection-text32 {
    font-size: 13px;
  }
  .creator-studio-collection-dropdown-toggle4 {
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 10px;
  }
  .creator-studio-collection-text33 {
    font-size: 13px;
  }
  .creator-studio-collection-dropdown-toggle5 {
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 10px;
  }
  .creator-studio-collection-text34 {
    font-size: 13px;
  }
  .creator-studio-collection-dropdown-toggle6 {
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 10px;
  }
  .creator-studio-collection-text35 {
    font-size: 13px;
  }
  .creator-studio-collection-dropdown-toggle7 {
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 10px;
  }
  .creator-studio-collection-text36 {
    font-size: 13px;
  }
  .creator-studio-collection-button6 {
    height: 39px;
    padding-top: 0px;
    padding-left: var(--dl-space-space-halfunit);
    border-radius: var(--dl-radius-radius-radius8);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: 0px;
  }
  .creator-studio-collection-icon6 {
    width: 20px;
    height: 20px;
  }
  .creator-studio-collection-text37 {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
}
@media(max-width: 479px) {
  .creator-studio-collection-navlink {
    align-items: center;
  }
  .creator-studio-collection-button {
    align-items: center;
    padding-top: 10px;
    padding-bottom: 8px;
  }
}
