.more-page-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-200);
}
.more-page-wrapper-all {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  padding-top: var(--dl-space-space-twounits);
}
.more-page-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: grid;
  grid-gap: var(--dl-space-space-halfunit);
  align-items: flex-start;
  grid-auto-rows: 200px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.more-page-features {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  grid-row: 1 / 3;
  transition: 0.3s;
  align-items: flex-start;
  grid-column: 1 / 3;
  border-radius: var(--dl-radius-radius-radius12);
  background-color: var(--dl-color-dark-gray-300);
}
.more-page-features:hover {
  background-color: transparent;
  background-image: linear-gradient(0deg, rgb(0, 142, 115) 0.00%,rgb(0, 68, 53) 100.00%);
}
.more-page-container02 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius12);
  flex-direction: column;
  background-size: cover;
  background-image: url("/snap2023-06-23-15-18-29-1500w.png");
  background-repeat: no-repeat;
  background-position: left;
}
.more-page-text {
  color: var(--dl-color-dark-green-200);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.more-page-text01 {
  color: var(--dl-color-dark-gray-400);
  display: none;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}
.more-page-info-bubble {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: 2px;
  background-color: var(--dl-color-dark-darkergreen);
}
.more-page-text04 {
  color: var(--dl-color-dark-gray-250);
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
}
.more-page-seasons1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  grid-row-end: 3;
  border-radius: var(--dl-radius-radius-radius12);
  grid-row-start: 1;
  grid-column-end: 5;
  background-color: var(--dl-color-dark-gray-300);
  grid-column-start: 3;
}
.more-page-seasons1:hover {
  background-color: transparent;
  background-image: linear-gradient(0deg, rgb(0, 142, 115) 0.00%,rgb(0, 68, 53) 100.00%);
}
.more-page-container03 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius12);
  flex-direction: column;
  background-size: 160%;
  background-image: url("/foton%20explorer%20map-1500w.png");
  background-repeat: no-repeat;
  background-position: top;
}
.more-page-heading {
  color: var(--dl-color-dark-green-200);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.more-page-container04 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.more-page-info-bubble01 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: 2px;
  background-color: var(--dl-color-dark-darkergreen);
}
.more-page-text05 {
  color: var(--dl-color-dark-gray-250);
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
}
.more-page-info-bubble02 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: 2px;
  background-color: var(--dl-color-dark-darkergreen);
}
.more-page-text06 {
  color: var(--dl-color-dark-gray-250);
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
}
.more-page-pro-version {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  grid-row-end: 5;
  border-radius: var(--dl-radius-radius-radius12);
  grid-row-start: 3;
  grid-column-end: 6;
  background-color: var(--dl-color-dark-gray-300);
  grid-column-start: 4;
}
.more-page-pro-version:hover {
  background-color: transparent;
  background-image: linear-gradient(0deg, rgb(0, 142, 115) 0.00%,rgb(0, 68, 53) 100.00%);
}
.more-page-container05 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius12);
  flex-direction: column;
  background-size: cover;
  background-image: url("/snap2023-06-23-17-30-29-1500w.png");
  background-position: left;
}
.more-page-text07 {
  color: var(--dl-color-dark-purplelight);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.more-page-container06 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.more-page-info-bubble03 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: 2px;
  background-color: var(--dl-color-dark-purplelightish);
}
.more-page-text08 {
  color: var(--dl-color-dark-gray-250);
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
}
.more-page-info-bubble04 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: 2px;
  background-color: var(--dl-color-dark-purplelightish);
}
.more-page-text09 {
  color: var(--dl-color-dark-gray-250);
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
}
.more-page-launchpad {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  grid-row-end: 4;
  border-radius: var(--dl-radius-radius-radius12);
  grid-row-start: 3;
  grid-column-end: 4;
  background-color: var(--dl-color-dark-gray-300);
  grid-column-start: 1;
}
.more-page-launchpad:hover {
  background-color: transparent;
  background-image: linear-gradient(0deg, rgb(0, 142, 115) 0.00%,rgb(0, 68, 53) 100.00%);
}
.more-page-container07 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius12);
  flex-direction: column;
  background-size: 90%;
  background-image: url("/snap2023-06-23-13-56-40-1500w.png");
  background-repeat: no-repeat;
  background-position: right;
}
.more-page-text10 {
  color: var(--dl-color-dark-green-200);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.more-page-info-bubble05 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: 2px;
  background-color: var(--dl-color-dark-darkergreen);
}
.more-page-text11 {
  color: var(--dl-color-dark-gray-250);
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
}
.more-page-start-here {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius12);
  background-color: var(--dl-color-dark-gray-300);
}
.more-page-start-here:hover {
  background-color: transparent;
  background-image: linear-gradient(0deg, rgb(0, 142, 115) 0.00%,rgb(0, 68, 53) 100.00%);
}
.more-page-container08 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius12);
  flex-direction: column;
  background-size: cover;
  background-image: url("/snap2023-06-23-15-37-07-1500w.png");
  background-repeat: no-repeat;
  background-position: center;
}
.more-page-text12 {
  color: var(--dl-color-dark-green-200);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.more-page-tokens {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius12);
  background-color: var(--dl-color-dark-gray-300);
}
.more-page-tokens:hover {
  background-color: transparent;
  background-image: linear-gradient(0deg, rgb(0, 142, 115) 0.00%,rgb(0, 68, 53) 100.00%);
}
.more-page-container09 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius12);
  background-size: 45%;
  background-image: url("/foton-token-2-p-500-1500w.png");
  background-repeat: no-repeat;
  background-position: center;
}
.more-page-text15 {
  color: var(--dl-color-dark-white);
  display: none;
}
.more-page-tesseracts {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius12);
  background-color: var(--dl-color-dark-gray-300);
}
.more-page-tesseracts:hover {
  background-color: transparent;
  background-image: linear-gradient(0deg, rgb(0, 142, 115) 0.00%,rgb(0, 68, 53) 100.00%);
}
.more-page-container10 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius12);
  background-size: 50%;
  background-image: url("/tesseract-p-500-1500w.png");
  background-repeat: no-repeat;
  background-position: center;
}
.more-page-text16 {
  color: var(--dl-color-dark-white);
  display: none;
}
.more-page-help-center {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius12);
  background-color: var(--dl-color-dark-gray-300);
}
.more-page-help-center:hover {
  background-color: transparent;
  background-image: linear-gradient(0deg, rgb(0, 142, 115) 0.00%,rgb(0, 68, 53) 100.00%);
}
.more-page-container11 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius12);
  flex-direction: column;
  background-size: 180%;
  background-image: url("/snap2023-06-23-15-47-32-1500w.png");
  background-repeat: no-repeat;
  background-position: top;
}
.more-page-text17 {
  color: var(--dl-color-dark-green-200);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.more-page-announcements {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  grid-row-end: 6;
  border-radius: var(--dl-radius-radius-radius12);
  grid-row-start: 4;
  grid-column-end: 4;
  background-color: var(--dl-color-dark-gray-300);
  grid-column-start: 2;
}
.more-page-announcements:hover {
  background-color: transparent;
  background-image: linear-gradient(0deg, rgb(0, 142, 115) 0.00%,rgb(0, 68, 53) 100.00%);
}
.more-page-container12 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius12);
  flex-direction: column;
  background-size: 165%;
  background-image: url("/snap2023-06-23-17-53-45-1500w.png");
  background-repeat: no-repeat;
  background-position: top;
}
.more-page-text20 {
  color: var(--dl-color-dark-green-200);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.more-page-info-bubble06 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: 2px;
  background-color: var(--dl-color-dark-darkergreen);
}
.more-page-text21 {
  color: var(--dl-color-dark-gray-250);
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
}
.more-page-jobs-portal {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius12);
  background-color: var(--dl-color-dark-gray-300);
}
.more-page-jobs-portal:hover {
  background-color: transparent;
  background-image: linear-gradient(0deg, rgb(0, 142, 115) 0.00%,rgb(0, 68, 53) 100.00%);
}
.more-page-container13 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius12);
}
.more-page-text22 {
  color: var(--dl-color-dark-green-200);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.more-page-developers-sdk {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  transition: 0.05;
  align-items: flex-start;
  grid-row-end: 5;
  border-radius: var(--dl-radius-radius-radius12);
  grid-row-start: 3;
  background-color: var(--dl-color-dark-gray-300);
}
.more-page-developers-sdk:hover {
  background-color: transparent;
  background-image: linear-gradient(0deg, rgb(0, 142, 115) 0.00%,rgb(0, 68, 53) 100.00%);
}
.more-page-container14 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius12);
  flex-direction: column;
  background-size: 200%;
  background-image: url("/snap2023-06-22-17-45-59-1500w.png");
  background-repeat: no-repeat;
  background-position: bottom;
}
.more-page-text25 {
  color: var(--dl-color-dark-green-200);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.more-page-info-bubble07 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: 2px;
  background-color: var(--dl-color-dark-darkergreen);
}
.more-page-text26 {
  color: var(--dl-color-dark-gray-250);
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
}
.more-page-press-desk {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius12);
  background-color: var(--dl-color-dark-gray-300);
}
.more-page-press-desk:hover {
  background-color: transparent;
  background-image: linear-gradient(0deg, rgb(0, 142, 115) 0.00%,rgb(0, 68, 53) 100.00%);
}
.more-page-container15 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius12);
  background-size: 90%;
  background-image: url("/snap2023-06-23-14-43-22-1500w.png");
  background-repeat: no-repeat;
  background-position: bottom;
}
.more-page-text27 {
  color: var(--dl-color-dark-green-200);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.more-page-investor-lounge {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius12);
  grid-column-end: 7;
  background-color: var(--dl-color-dark-gray-300);
  grid-column-start: 5;
}
.more-page-investor-lounge:hover {
  background-color: transparent;
  background-image: linear-gradient(0deg, rgb(0, 142, 115) 0.00%,rgb(0, 68, 53) 100.00%);
}
.more-page-container16 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius12);
  background-size: cover;
  background-image: url("/snap2023-06-23-12-27-48-1500w.png");
  background-position: center;
}
.more-page-text30 {
  color: var(--dl-color-dark-green-200);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.more-page-community {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius12);
  grid-column-end: 3;
  background-color: var(--dl-color-dark-gray-300);
  grid-column-start: 1;
}
.more-page-community:hover {
  background-color: transparent;
  background-image: linear-gradient(0deg, rgb(0, 142, 115) 0.00%,rgb(0, 68, 53) 100.00%);
}
.more-page-container17 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius12);
  flex-direction: column;
  background-size: 160%;
  background-image: url("/snap2023-06-23-16-17-44-1500w.png");
  background-repeat: no-repeat;
  background-position: left;
}
.more-page-text31 {
  color: var(--dl-color-dark-green-200);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.more-page-container18 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.more-page-link {
  display: contents;
}
.more-page-info-bubble08 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: 2px;
  text-decoration: none;
  background-color: var(--dl-color-dark-darkergreen);
}
.more-page-info-bubble08:hover {
  background-color: var(--dl-color-dark-green-200);
}
.more-page-text32 {
  color: var(--dl-color-dark-gray-250);
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
}
.more-page-link1 {
  display: contents;
}
.more-page-info-bubble09 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: 2px;
  text-decoration: none;
  background-color: var(--dl-color-dark-darkergreen);
}
.more-page-info-bubble09:hover {
  background-color: var(--dl-color-dark-green-200);
}
.more-page-text33 {
  color: var(--dl-color-dark-gray-250);
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
}
.more-page-link2 {
  display: contents;
}
.more-page-info-bubble10 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: 2px;
  text-decoration: none;
  background-color: var(--dl-color-dark-darkergreen);
}
.more-page-info-bubble10:hover {
  background-color: var(--dl-color-dark-green-200);
}
.more-page-text34 {
  color: var(--dl-color-dark-gray-250);
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
}
.more-page-ecosystem {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius12);
  grid-column-end: 5;
  background-color: var(--dl-color-dark-gray-300);
  grid-column-start: 3;
}
.more-page-ecosystem:hover {
  background-color: transparent;
  background-image: linear-gradient(0deg, rgb(0, 142, 115) 0.00%,rgb(0, 68, 53) 100.00%);
}
.more-page-container19 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius12);
  flex-direction: column;
  background-size: contain;
  background-image: url("/snap2023-06-23-18-09-40-1500w.png");
  background-repeat: no-repeat;
  background-position: right;
}
.more-page-text35 {
  color: var(--dl-color-dark-green-200);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.more-page-container20 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.more-page-link3 {
  display: contents;
}
.more-page-info-bubble11 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: 2px;
  text-decoration: none;
  background-color: var(--dl-color-dark-darkergreen);
}
.more-page-info-bubble11:hover {
  background-color: var(--dl-color-dark-green-200);
}
.more-page-text36 {
  color: var(--dl-color-dark-gray-250);
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
}
.more-page-link4 {
  display: contents;
}
.more-page-info-bubble12 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: 2px;
  text-decoration: none;
  background-color: var(--dl-color-dark-darkergreen);
}
.more-page-info-bubble12:hover {
  background-color: var(--dl-color-dark-green-200);
}
.more-page-text37 {
  color: var(--dl-color-dark-gray-250);
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
}
.more-page-link5 {
  display: contents;
}
.more-page-info-bubble13 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: 2px;
  text-decoration: none;
  background-color: var(--dl-color-dark-darkergreen);
}
.more-page-info-bubble13:hover {
  background-color: var(--dl-color-dark-green-200);
}
.more-page-text38 {
  color: var(--dl-color-dark-gray-250);
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
}
.more-page-radix-dlt {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius12);
  background-color: var(--dl-color-dark-gray-300);
}
.more-page-radix-dlt:hover {
  background-color: transparent;
  background-image: linear-gradient(0deg, rgb(0, 142, 115) 0.00%,rgb(0, 68, 53) 100.00%);
}
.more-page-container21 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius12);
  background-size: 90%;
  background-image: url("/snap2023-06-23-17-02-34-1500w.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}
.more-page-text39 {
  color: var(--dl-color-dark-green-200);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.more-page-about {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius12);
  background-color: var(--dl-color-dark-gray-300);
}
.more-page-about:hover {
  background-color: transparent;
  background-image: linear-gradient(0deg, rgb(0, 142, 115) 0.00%,rgb(0, 68, 53) 100.00%);
}
.more-page-container22 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius12);
}
.more-page-text42 {
  color: var(--dl-color-dark-green-200);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
@media(max-width: 767px) {
  .more-page-wrapper-all {
    gap: 0;
    flex-direction: column;
  }
}
