.row {
    gap: var(--dl-space-space-threeunits);
    flex: 0 0 auto;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: flex-end;
    border-color: var(--dl-color-dark-gray-300);
    border-width: 0px;
    padding-left: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-halfunit);
    border-bottom-width: 1px;

    span:nth-child(1) {
        color: var(--dl-color-dark-white);
        height: 100%;
        font-style: normal;
        transition: 0.3s;
        font-weight: 600;
        padding-top: var(--dl-space-space-oneandhalfunits);
        border-color: var(--dl-color-dark-green-200);
        border-width: 0px;
        padding-bottom: var(--dl-space-space-oneandhalfunits);
        border-bottom-width: 2px;

        &:hover {
            border-color: var(--dl-color-dark-green-200);
        }
    }



    span:nth-child(2) {
        color: var(--dl-color-dark-white);
        height: 100%;
        font-style: normal;
        transition: 0.3s;
        font-weight: 600;
        padding-top: var(--dl-space-space-oneandhalfunits);
        border-color: var(--dl-color-dark-gray-200);
        border-width: 0px;
        padding-bottom: var(--dl-space-space-oneandhalfunits);
        border-bottom-width: 2px;

        &:hover {
            border-color: var(--dl-color-dark-green-200);
        }
    }



    span:nth-child(3) {
        color: var(--dl-color-dark-white);
        height: 100%;
        font-style: normal;
        transition: 0.3s;
        font-weight: 600;
        padding-top: var(--dl-space-space-oneandhalfunits);
        border-color: var(--dl-color-dark-gray-200);
        border-width: 0px;
        padding-bottom: var(--dl-space-space-oneandhalfunits);
        border-bottom-width: 2px;

        &:hover {
            border-color: var(--dl-color-dark-green-200);
        }
    }
}

@media(max-width: 1200px) {
    .row {
        span:nth-child(1) {
            color: var(--dl-color-dark-white);
        }

        span:nth-child(2) {
            color: var(--dl-color-dark-white);
        }

        span:nth-child(3) {
            color: var(--dl-color-dark-white);
        }
    }
}

@media(max-width: 767px) {
    .row {
        gap: var(--dl-space-space-twounits);

        span:nth-child(1) {
            font-size: 13px;
            font-weight: 600;
        }

        span:nth-child(2) {
            font-size: 13px;
            font-weight: 600;
        }

        span:nth-child(3) {
            font-size: 13px;
            font-weight: 600;
        }
    }
}