.collectionDropPageTabsRow {
    gap: var(--dl-space-space-threeunits);
    flex: 0 0 auto;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: flex-end;
    border-color: var(--dl-color-dark-gray-300);
    border-width: 0px;
    padding-left: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-halfunit);
    border-bottom-width: 1px;
}

.collectionDropPageText21 {
    color: var(--dl-color-dark-white);
    height: 100%;
    font-style: normal;
    transition: 0.3s;
    font-weight: 600;
    padding-top: var(--dl-space-space-oneandhalfunits);
    border-color: var(--dl-color-dark-green-200);
    border-width: 0px;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    border-bottom-width: 2px;
}

.collectionDropPageText21:hover {
    border-color: var(--dl-color-dark-green-200);
}

.collectionDropPageText22 {
    color: var(--dl-color-dark-white);
    height: 100%;
    font-style: normal;
    transition: 0.3s;
    font-weight: 600;
    padding-top: var(--dl-space-space-oneandhalfunits);
    border-color: var(--dl-color-dark-gray-200);
    border-width: 0px;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    border-bottom-width: 2px;
}

.collectionDropPageText22:hover {
    border-color: var(--dl-color-dark-green-200);
}

.collectionDropPageText23 {
    color: var(--dl-color-dark-white);
    height: 100%;
    font-style: normal;
    transition: 0.3s;
    font-weight: 600;
    padding-top: var(--dl-space-space-oneandhalfunits);
    border-color: var(--dl-color-dark-gray-200);
    border-width: 0px;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    border-bottom-width: 2px;
}

.collectionDropPageText23:hover {
    border-color: var(--dl-color-dark-green-200);
}

@media(max-width: 1200px) {
    .collectionDropPageText21 {
        color: var(--dl-color-dark-white);
    }

    .collectionDropPageText22 {
        color: var(--dl-color-dark-white);
    }

    .collectionDropPageText23 {
        color: var(--dl-color-dark-white);
    }
}

@media(max-width: 767px) {
    .collectionDropPageTabsRow {
        gap: var(--dl-space-space-twounits);
    }

    .collectionDropPageText21 {
        font-size: 13px;
        font-weight: 600;
    }

    .collectionDropPageText22 {
        font-size: 13px;
        font-weight: 600;
    }

    .collectionDropPageText23 {
        font-size: 13px;
        font-weight: 600;
    }

}