.container {
    width: 100%;
    display: flex;
    margin-top: 12px;
    align-items: center;
    padding-left: var(--dl-space-space-unit);
    margin-bottom: 12px;
    justify-content: space-between;
}

@media(max-width: 991px) {
    .container {
        padding-left: 0px;
    }
}