.buy-drawer-container {
  display: flex;
  position: relative;
}
.buy-drawer-button {
  gap: var(--dl-space-space-halfunit);
  color: var(--dl-color-dark-white);
  width: 240px;
  height: 60px;
  display: flex;
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  transition: 0;
  align-items: center;
  font-weight: 600;
  padding-top: 13px;
  border-color: var(--dl-color-dark-darkergreen);
  border-width: 2px;
  padding-left: var(--dl-space-space-twounits);
  align-content: center;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: 13px;
  justify-content: center;
  background-color: var(--dl-color-dark-darkgreenbtn);
}
.buy-drawer-button:hover {
  border-color: var(--dl-color-dark-green-200);
  background-color: var(--dl-color-dark-darkergreen);
}
.buy-drawer-icon {
  fill: var(--dl-color-dark-white);
  width: 24px;
  height: 24px;
}
.buy-drawer-wrapper {
  top: 0;
  flex: 0 0 auto;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  z-index: 1000000000000;
  position: fixed;
  align-items: flex-start;
  justify-content: flex-end;
}
.buy-drawer-out {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.3);
}
.buy-drawer-drawer-right {
  flex: 0 0 auto;
  width: 540px;
  height: 100%;
  display: flex;
  box-shadow: -20px 0px 20px 0px rgba(0, 0, 0, 0.3);
  overflow-y: scroll;
  align-items: flex-start;
  padding-top: 0px;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 160px;
  background-color: var(--dl-color-dark-gray-300);
  border-left-width: 1px;
}
.buy-drawer-header {
  top: 0;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: sticky;
  align-items: flex-start;
  padding-top: 40px;
  border-color: var(--dl-color-dark-gray-360);
  border-width: 0px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
  background-color: var(--dl-color-dark-gray-300);
  border-bottom-width: 1px;
}
.buy-drawer-container01 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.buy-drawer-text03 {
  color: var(--dl-color-dark-white);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
.buy-drawer-container02 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buy-drawer-text04 {
  color: var(--dl-color-dark-gray-400);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.buy-drawer-text06 {
  color: var(--dl-color-dark-white);
}
.buy-drawer-text07 {
  color: var(--dl-color-dark-gray-400);
  font-size: 13px;
  font-style: normal;
  transition: 0s;
  font-weight: 400;
}
.buy-drawer-text07:hover {
  color: var(--dl-color-dark-white);
  cursor: pointer;
}
.buy-drawer-close {
  top: 20px;
  flex: 0 0 auto;
  right: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  position: absolute;
  transition: 0s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: center;
}
.buy-drawer-close:hover {
  background-color: var(--dl-color-dark-gray-370);
}
.buy-drawer-icon02 {
  width: 24px;
  height: 24px;
}
.buy-drawer-items {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.buy-drawer-item-added {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: flex-start;
  transition: 0s;
  align-items: flex-start;
  border-color: var(--dl-color-dark-gray-360);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: space-between;
  background-color: var(--dl-color-dark-gray-360);
}
.buy-drawer-item-added:hover {
  border-color: var(--dl-color-dark-gray-360);
  border-width: 1px;
  background-color: var(--dl-color-dark-gray-365);
}
.buy-drawer-container03 {
  gap: var(--dl-space-space-halfunit);
  height: auto;
  display: flex;
  align-items: flex-start;
}
.buy-drawer-container04 {
  flex: 0 0 auto;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-dark-gray-370);
  border-style: solid;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  background-size: cover;
  background-image: url("/vlad__foton.is__radix.stream_pirate_crew_member_illustration_065ba4ec-0904-4c75-9453-fba488a364b4-200h.png");
  background-repeat: no-repeat;
  background-position: center;
}
.buy-drawer-container05 {
  gap: 0;
  flex: 1;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
}
.buy-drawer-name {
  color: var(--dl-color-dark-white);
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
}
.buy-drawer-container06 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.buy-drawer-collection-name {
  color: var(--dl-color-dark-white);
  font-size: 13px;
}
.buy-drawer-collection-name1 {
  color: var(--dl-color-dark-gray-400);
  font-size: 13px;
}
.buy-drawer-container07 {
  gap: 0;
  height: auto;
  display: flex;
  align-items: flex-end;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
}
.buy-drawer-price {
  color: var(--dl-color-dark-white);
  font-style: normal;
  font-weight: 600;
  margin-bottom: 4px;
}
.buy-drawer-container08 {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.buy-drawer-price-fiat {
  color: var(--dl-color-dark-gray-400);
  font-size: 13px;
}
.buy-drawer-container09 {
  flex: 0 0 auto;
  width: 28px;
  height: 28px;
  display: flex;
  transition: 0s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  justify-content: center;
}
.buy-drawer-container09:hover {
  background-color: var(--dl-color-dark-red-100);
}
.buy-drawer-icon04 {
  width: 20px;
  height: 20px;
}
.buy-drawer-item-added1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: flex-start;
  transition: 0s;
  align-items: flex-start;
  border-color: var(--dl-color-dark-gray-360);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: space-between;
  background-color: var(--dl-color-dark-gray-360);
}
.buy-drawer-item-added1:hover {
  border-color: var(--dl-color-dark-gray-360);
  border-width: 1px;
  background-color: var(--dl-color-dark-gray-365);
}
.buy-drawer-container10 {
  gap: var(--dl-space-space-halfunit);
  height: auto;
  display: flex;
  align-items: flex-start;
}
.buy-drawer-container11 {
  flex: 0 0 auto;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-dark-gray-370);
  border-style: solid;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  background-size: cover;
  background-image: url("/vlad__foton.is__radix.stream_pirate_crew_member_illustration_065ba4ec-0904-4c75-9453-fba488a364b4-200h.png");
  background-repeat: no-repeat;
  background-position: center;
}
.buy-drawer-container12 {
  gap: 0;
  flex: 1;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
}
.buy-drawer-name1 {
  color: var(--dl-color-dark-white);
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
}
.buy-drawer-container13 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.buy-drawer-collection-name2 {
  color: var(--dl-color-dark-white);
  font-size: 13px;
}
.buy-drawer-collection-name3 {
  color: var(--dl-color-dark-gray-400);
  font-size: 13px;
}
.buy-drawer-container14 {
  gap: 0;
  height: auto;
  display: flex;
  align-items: flex-end;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
}
.buy-drawer-price1 {
  color: var(--dl-color-dark-white);
  font-style: normal;
  font-weight: 600;
  margin-bottom: 4px;
}
.buy-drawer-container15 {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.buy-drawer-price-fiat1 {
  color: var(--dl-color-dark-gray-400);
  font-size: 13px;
}
.buy-drawer-container16 {
  flex: 0 0 auto;
  width: 28px;
  height: 28px;
  display: flex;
  transition: 0s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  justify-content: center;
}
.buy-drawer-container16:hover {
  background-color: var(--dl-color-dark-red-100);
}
.buy-drawer-icon06 {
  width: 20px;
  height: 20px;
}
.buy-drawer-item-added2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: flex-start;
  transition: 0s;
  align-items: flex-start;
  border-color: var(--dl-color-dark-gray-360);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: space-between;
  background-color: var(--dl-color-dark-gray-360);
}
.buy-drawer-item-added2:hover {
  border-color: var(--dl-color-dark-gray-360);
  border-width: 1px;
  background-color: var(--dl-color-dark-gray-365);
}
.buy-drawer-container17 {
  gap: var(--dl-space-space-halfunit);
  height: auto;
  display: flex;
  align-items: flex-start;
}
.buy-drawer-container18 {
  flex: 0 0 auto;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-dark-gray-370);
  border-style: solid;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  background-size: cover;
  background-image: url("/vlad__foton.is__radix.stream_pirate_crew_member_illustration_065ba4ec-0904-4c75-9453-fba488a364b4-200h.png");
  background-repeat: no-repeat;
  background-position: center;
}
.buy-drawer-container19 {
  gap: 0;
  flex: 1;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
}
.buy-drawer-name2 {
  color: var(--dl-color-dark-white);
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
}
.buy-drawer-container20 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.buy-drawer-collection-name4 {
  color: var(--dl-color-dark-white);
  font-size: 13px;
}
.buy-drawer-collection-name5 {
  color: var(--dl-color-dark-gray-400);
  font-size: 13px;
}
.buy-drawer-container21 {
  gap: 0;
  height: auto;
  display: flex;
  align-items: flex-end;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
}
.buy-drawer-price2 {
  color: var(--dl-color-dark-white);
  font-style: normal;
  font-weight: 600;
  margin-bottom: 4px;
}
.buy-drawer-container22 {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.buy-drawer-price-fiat2 {
  color: var(--dl-color-dark-gray-400);
  font-size: 13px;
}
.buy-drawer-container23 {
  flex: 0 0 auto;
  width: 28px;
  height: 28px;
  display: flex;
  transition: 0s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  justify-content: center;
}
.buy-drawer-container23:hover {
  background-color: var(--dl-color-dark-red-100);
}
.buy-drawer-icon08 {
  width: 20px;
  height: 20px;
}
.buy-drawer-item-added3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: flex-start;
  transition: 0s;
  align-items: flex-start;
  border-color: var(--dl-color-dark-gray-360);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: space-between;
  background-color: var(--dl-color-dark-gray-360);
}
.buy-drawer-item-added3:hover {
  border-color: var(--dl-color-dark-gray-360);
  border-width: 1px;
  background-color: var(--dl-color-dark-gray-365);
}
.buy-drawer-container24 {
  gap: var(--dl-space-space-halfunit);
  height: auto;
  display: flex;
  align-items: flex-start;
}
.buy-drawer-container25 {
  flex: 0 0 auto;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-dark-gray-370);
  border-style: solid;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  background-size: cover;
  background-image: url("/vlad__foton.is__radix.stream_pirate_crew_member_illustration_065ba4ec-0904-4c75-9453-fba488a364b4-200h.png");
  background-repeat: no-repeat;
  background-position: center;
}
.buy-drawer-container26 {
  gap: 0;
  flex: 1;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
}
.buy-drawer-name3 {
  color: var(--dl-color-dark-white);
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
}
.buy-drawer-container27 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.buy-drawer-collection-name6 {
  color: var(--dl-color-dark-white);
  font-size: 13px;
}
.buy-drawer-collection-name7 {
  color: var(--dl-color-dark-gray-400);
  font-size: 13px;
}
.buy-drawer-container28 {
  gap: 0;
  height: auto;
  display: flex;
  align-items: flex-end;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
}
.buy-drawer-price3 {
  color: var(--dl-color-dark-white);
  font-style: normal;
  font-weight: 600;
  margin-bottom: 4px;
}
.buy-drawer-container29 {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.buy-drawer-price-fiat3 {
  color: var(--dl-color-dark-gray-400);
  font-size: 13px;
}
.buy-drawer-container30 {
  flex: 0 0 auto;
  width: 28px;
  height: 28px;
  display: flex;
  transition: 0s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  justify-content: center;
}
.buy-drawer-container30:hover {
  background-color: var(--dl-color-dark-red-100);
}
.buy-drawer-icon10 {
  width: 20px;
  height: 20px;
}
.buy-drawer-total-summary {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: var(--dl-color-dark-gray-360);
  border-width: 0px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
  border-top-width: 1px;
}
.buy-drawer-container31 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.buy-drawer-container32 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.buy-drawer-text08 {
  color: var(--dl-color-dark-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.buy-drawer-text09 {
  color: var(--dl-color-dark-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.buy-drawer-container33 {
  gap: 4px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.buy-drawer-container34 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buy-drawer-text10 {
  color: var(--dl-color-dark-gray-400);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}
.buy-drawer-text11 {
  color: var(--dl-color-dark-gray-400);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}
.buy-drawer-container35 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buy-drawer-text12 {
  color: var(--dl-color-dark-gray-400);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}
.buy-drawer-text13 {
  color: var(--dl-color-dark-gray-400);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}
.buy-drawer-container36 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buy-drawer-text14 {
  color: var(--dl-color-dark-gray-400);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}
.buy-drawer-text15 {
  color: var(--dl-color-dark-gray-400);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}
.buy-drawer-container37 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  justify-content: center;
}
.buy-drawer-button1 {
  gap: var(--dl-space-space-halfunit);
  color: var(--dl-color-dark-white);
  height: 60px;
  display: flex;
  font-size: 18px;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0;
  align-items: center;
  font-weight: 600;
  padding-top: 13px;
  border-color: var(--dl-color-dark-darkergreen);
  border-width: 2px;
  padding-left: var(--dl-space-space-twounits);
  align-content: center;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: 13px;
  background-color: var(--dl-color-dark-darkgreenbtn);
}
.buy-drawer-button1:hover {
  border-color: var(--dl-color-dark-green-200);
  background-color: var(--dl-color-dark-darkergreen);
}
.buy-drawer-icon12 {
  fill: var(--dl-color-dark-white);
  width: 20px;
  height: 20px;
}
@media(max-width: 1200px) {
  .buy-drawer-button {
    width: 240px;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 991px) {
  .buy-drawer-drawer-right {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .buy-drawer-header {
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-halfunit);
    background-color: var(--dl-color-dark-gray-300);
  }
  .buy-drawer-close {
    top: 18px;
    right: 16px;
  }
  .buy-drawer-items {
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 767px) {
  .buy-drawer-container {
    width: 100%;
  }
  .buy-drawer-button {
    width: 100%;
    align-items: center;
    padding-top: 10px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: 10px;
    justify-content: center;
  }
  .buy-drawer-text {
    font-size: 16px;
  }
  .buy-drawer-drawer-right {
    width: 100%;
  }
  .buy-drawer-container37 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .buy-drawer-button1 {
    width: 100%;
    align-items: center;
    padding-top: 10px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: 10px;
    justify-content: center;
  }
  .buy-drawer-text16 {
    font-size: 16px;
  }
}
