.collection-items-container-collection-items-container {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  margin: TwoUnits;
  display: flex;
  position: relative;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: 0px;
  padding-top: var(--dl-space-space-unit);
  margin-right: 0px;
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius12);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.collection-items-container-container {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.collection-items-container-filters-side-menu {
  flex: 0 0 auto;
  width: 300px;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-dark-gray-360);
  border-style: solid;
  border-width: 2px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius12);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-dark-gray-200);
}
.collection-items-container-header-sticky-mobile {
  gap: 0;
  width: 100%;
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.collection-items-container-header-filter-menu {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 12px;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.collection-items-container-container01 {
  gap: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.collection-items-container-text {
  color: var(--dl-color-dark-white);
  font-style: normal;
  font-weight: 600;
}
.collection-items-container-apply-button {
  gap: 4px;
  fill: var(--dl-color-dark-white);
  width: 30px;
  height: 30px;
  display: flex;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  justify-content: center;
  background-color: var(--dl-color-dark-gray-360);
}
.collection-items-container-apply-button:hover {
  background-color: var(--dl-color-dark-gray-370);
}
.collection-items-container-text03 {
  color: var(--dl-color-dark-white);
  font-style: normal;
  font-weight: 600;
}
.collection-items-container-close-button {
  gap: 4px;
  fill: var(--dl-color-dark-white);
  width: 30px;
  height: 30px;
  display: flex;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  justify-content: center;
  background-color: var(--dl-color-dark-gray-360);
}
.collection-items-container-close-button:hover {
  background-color: var(--dl-color-dark-gray-370);
}
.collection-items-container-icon {
  width: 24px;
  height: 24px;
}
.collection-items-container-big-button {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.collection-items-container-submit {
  gap: 5px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.collection-items-container-button {
  color: var(--dl-color-dark-gray-400);
  width: 100%;
  height: 50px;
  display: flex;
  font-size: 18px;
  align-self: flex-end;
  font-style: normal;
  text-align: center;
  transition: 0;
  align-items: center;
  font-weight: 600;
  padding-top: 13px;
  border-color: var(--dl-color-dark-green-200);
  border-width: 1px;
  padding-left: var(--dl-space-space-twounits);
  align-content: center;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: 13px;
  background-color: var(--dl-color-dark-gray-360);
}
.collection-items-container-button:hover {
  color: var(--dl-color-dark-white);
  background-color: var(--dl-color-dark-gray-370);
}
.collection-items-container-text06 {
  color: var(--dl-color-dark-white);
  width: 100%;
  font-size: 16px;
}
.collection-items-container-accordion {
  gap: 0;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.collection-items-container-accordion-header {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 12px;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.collection-items-container-container02 {
  gap: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.collection-items-container-text09 {
  color: var(--dl-color-dark-white);
  font-style: normal;
  font-weight: 600;
}
.collection-items-container-container03 {
  gap: 4px;
  fill: var(--dl-color-dark-white);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.collection-items-container-icon02 {
  width: 24px;
  height: 24px;
}
.collection-items-container-accordion-drawer {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.collection-items-container-range {
  gap: 7px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.collection-items-container-textinput {
  flex: 1;
  color: var(--dl-color-dark-white);
  width: 50%;
  height: 50px;
  transition: 0.3s;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-dark-gray-300);
}
.collection-items-container-textinput:focus {
  border-color: var(--dl-color-dark-gray-400);
  background-color: var(--dl-color-dark-gray-360);
}
.collection-items-container-text12 {
  color: var(--dl-color-dark-gray-400);
  font-size: 12px;
  align-self: center;
}
.collection-items-container-textinput1 {
  flex: 1;
  color: var(--dl-color-dark-white);
  width: 50%;
  height: 50px;
  transition: 0.3s;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-dark-gray-300);
}
.collection-items-container-textinput1:focus {
  border-color: var(--dl-color-dark-gray-400);
  background-color: var(--dl-color-dark-gray-360);
}
.collection-items-container-submit1 {
  gap: 5px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.collection-items-container-button1 {
  color: var(--dl-color-dark-gray-400);
  width: 100%;
  height: 50px;
  display: flex;
  font-size: 18px;
  align-self: flex-end;
  font-style: normal;
  text-align: center;
  transition: 0;
  align-items: center;
  font-weight: 600;
  padding-top: 13px;
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  align-content: center;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: 13px;
  background-color: var(--dl-color-dark-gray-300);
}
.collection-items-container-button1:hover {
  color: var(--dl-color-dark-white);
  background-color: var(--dl-color-dark-gray-370);
}
.collection-items-container-text13 {
  width: 100%;
  font-size: 16px;
}
.collection-items-container-accordion1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.collection-items-container-accordion-header1 {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  transition: 0.05s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 12px;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.collection-items-container-accordion-header1:hover {
  background-color: var(--dl-color-dark-gray-360);
}
.collection-items-container-container04 {
  gap: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.collection-items-container-text16 {
  color: var(--dl-color-dark-white);
  font-style: normal;
  font-weight: 600;
}
.collection-items-container-container05 {
  gap: 4px;
  fill: var(--dl-color-dark-white);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.collection-items-container-icon04 {
  width: 24px;
  height: 24px;
}
.collection-items-container-accordion-drawer1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.collection-items-container-accordion-item {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  transition: 0.05s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: space-between;
}
.collection-items-container-accordion-item:hover {
  background-color: var(--dl-color-dark-gray-360);
}
.collection-items-container-container06 {
  gap: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.collection-items-container-checkbox {
  width: 18px;
  height: 18px;
  opacity: 0.8;
  margin-top: 0px;
  border-color: var(--dl-color-dark-gray-400);
  border-width: 2px;
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-dark-blue-100);
}
.collection-items-container-text19 {
  color: var(--dl-color-dark-green-200);
}
.collection-items-container-how-many {
  color: var(--dl-color-dark-gray-400);
}
.collection-items-container-accordion-item01 {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  transition: 0.05s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: space-between;
}
.collection-items-container-accordion-item01:hover {
  background-color: var(--dl-color-dark-gray-360);
}
.collection-items-container-container07 {
  gap: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.collection-items-container-checkbox01 {
  width: 18px;
  height: 18px;
  opacity: 0.8;
  margin-top: 0px;
  border-color: var(--dl-color-dark-gray-400);
  border-width: 2px;
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-dark-blue-100);
}
.collection-items-container-text20 {
  color: var(--dl-color-dark-green-200);
}
.collection-items-container-how-many01 {
  color: var(--dl-color-dark-gray-400);
}
.collection-items-container-accordion-item02 {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  transition: 0.05s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: space-between;
}
.collection-items-container-accordion-item02:hover {
  background-color: var(--dl-color-dark-gray-360);
}
.collection-items-container-container08 {
  gap: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.collection-items-container-checkbox02 {
  width: 18px;
  height: 18px;
  opacity: 0.8;
  margin-top: 0px;
  border-color: var(--dl-color-dark-gray-400);
  border-width: 2px;
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-dark-blue-100);
}
.collection-items-container-text21 {
  color: var(--dl-color-dark-green-200);
}
.collection-items-container-how-many02 {
  color: var(--dl-color-dark-gray-400);
}
.collection-items-container-accordion-item03 {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  transition: 0.05s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: space-between;
}
.collection-items-container-accordion-item03:hover {
  background-color: var(--dl-color-dark-gray-360);
}
.collection-items-container-container09 {
  gap: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.collection-items-container-checkbox03 {
  width: 18px;
  height: 18px;
  opacity: 0.8;
  margin-top: 0px;
  border-color: var(--dl-color-dark-gray-400);
  border-width: 2px;
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-dark-blue-50);
}
.collection-items-container-text22 {
  color: var(--dl-color-dark-green-200);
}
.collection-items-container-how-many03 {
  color: var(--dl-color-dark-gray-400);
}
.collection-items-container-separation-line {
  flex: 0 0 auto;
  width: 100%;
  height: 2px;
  display: flex;
  margin-top: 8px;
  align-items: flex-start;
  margin-bottom: 8px;
  background-color: var(--dl-color-dark-gray-300);
}
.collection-items-container-accordion2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.collection-items-container-accordion-header2 {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  transition: 0.05s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 12px;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.collection-items-container-accordion-header2:hover {
  background-color: var(--dl-color-dark-gray-360);
}
.collection-items-container-container10 {
  gap: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.collection-items-container-text23 {
  color: var(--dl-color-dark-white);
  font-style: normal;
  font-weight: 600;
}
.collection-items-container-container11 {
  gap: 4px;
  fill: var(--dl-color-dark-white);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.collection-items-container-how-many04 {
  color: var(--dl-color-dark-gray-400);
}
.collection-items-container-icon06 {
  width: 24px;
  height: 24px;
}
.collection-items-container-accordion-drawer2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.collection-items-container-accordion-item04 {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  transition: 0.05s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: space-between;
}
.collection-items-container-accordion-item04:hover {
  background-color: var(--dl-color-dark-gray-360);
}
.collection-items-container-container12 {
  gap: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.collection-items-container-checkbox04 {
  width: 18px;
  height: 18px;
  opacity: 0.8;
  margin-top: 0px;
  border-color: var(--dl-color-dark-gray-400);
  border-width: 2px;
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-dark-blue-100);
}
.collection-items-container-text24 {
  color: var(--dl-color-dark-green-200);
}
.collection-items-container-how-many05 {
  color: var(--dl-color-dark-gray-400);
}
.collection-items-container-accordion-item05 {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  transition: 0.05s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: space-between;
}
.collection-items-container-accordion-item05:hover {
  background-color: var(--dl-color-dark-gray-360);
}
.collection-items-container-container13 {
  gap: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.collection-items-container-checkbox05 {
  width: 18px;
  height: 18px;
  opacity: 0.8;
  margin-top: 0px;
  border-color: var(--dl-color-dark-gray-400);
  border-width: 2px;
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-dark-blue-100);
}
.collection-items-container-text25 {
  color: var(--dl-color-dark-green-200);
}
.collection-items-container-how-many06 {
  color: var(--dl-color-dark-gray-400);
}
.collection-items-container-accordion-item06 {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  transition: 0.05s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: space-between;
}
.collection-items-container-accordion-item06:hover {
  background-color: var(--dl-color-dark-gray-360);
}
.collection-items-container-container14 {
  gap: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.collection-items-container-checkbox06 {
  width: 18px;
  height: 18px;
  opacity: 0.8;
  margin-top: 0px;
  border-color: var(--dl-color-dark-gray-400);
  border-width: 2px;
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-dark-blue-100);
}
.collection-items-container-text26 {
  color: var(--dl-color-dark-green-200);
}
.collection-items-container-how-many07 {
  color: var(--dl-color-dark-gray-400);
}
.collection-items-container-accordion3 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.collection-items-container-accordion-header3 {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  transition: 0.05s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 12px;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.collection-items-container-accordion-header3:hover {
  background-color: var(--dl-color-dark-gray-360);
}
.collection-items-container-container15 {
  gap: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.collection-items-container-text27 {
  color: var(--dl-color-dark-white);
  font-style: normal;
  font-weight: 600;
}
.collection-items-container-container16 {
  gap: 4px;
  fill: var(--dl-color-dark-white);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.collection-items-container-how-many08 {
  color: var(--dl-color-dark-gray-400);
}
.collection-items-container-icon08 {
  width: 24px;
  height: 24px;
}
.collection-items-container-accordion-drawer3 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.collection-items-container-accordion-item07 {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  transition: 0.05s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: space-between;
}
.collection-items-container-accordion-item07:hover {
  background-color: var(--dl-color-dark-gray-360);
}
.collection-items-container-container17 {
  gap: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.collection-items-container-checkbox07 {
  width: 18px;
  height: 18px;
  opacity: 0.8;
  margin-top: 0px;
  border-color: var(--dl-color-dark-gray-400);
  border-width: 2px;
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-dark-blue-100);
}
.collection-items-container-text28 {
  color: var(--dl-color-dark-green-200);
}
.collection-items-container-how-many09 {
  color: var(--dl-color-dark-gray-400);
}
.collection-items-container-accordion-item08 {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  transition: 0.05s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: space-between;
}
.collection-items-container-accordion-item08:hover {
  background-color: var(--dl-color-dark-gray-360);
}
.collection-items-container-container18 {
  gap: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.collection-items-container-checkbox08 {
  width: 18px;
  height: 18px;
  opacity: 0.8;
  margin-top: 0px;
  border-color: var(--dl-color-dark-gray-400);
  border-width: 2px;
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-dark-blue-100);
}
.collection-items-container-text29 {
  color: var(--dl-color-dark-green-200);
}
.collection-items-container-how-many10 {
  color: var(--dl-color-dark-gray-400);
}
.collection-items-container-accordion-item09 {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  transition: 0.05s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: space-between;
}
.collection-items-container-accordion-item09:hover {
  background-color: var(--dl-color-dark-gray-360);
}
.collection-items-container-container19 {
  gap: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.collection-items-container-checkbox09 {
  width: 18px;
  height: 18px;
  opacity: 0.8;
  margin-top: 0px;
  border-color: var(--dl-color-dark-gray-400);
  border-width: 2px;
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-dark-blue-100);
}
.collection-items-container-text30 {
  color: var(--dl-color-dark-green-200);
}
.collection-items-container-how-many11 {
  color: var(--dl-color-dark-gray-400);
}
.collection-items-container-grid-items {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.collection-items-container-container20 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: grid;
  align-items: flex-end;
  grid-row-gap: var(--dl-space-space-unit);
  justify-content: flex-start;
  grid-auto-columns: minmax(200px, auto);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.collection-items-container-item1 {
  flex: 1;
  display: flex;
  position: relative;
  transition: 0.3s;
  align-items: flex-start;
  border-color: var(--dl-color-dark-gray-360);
  border-width: 5px;
  border-radius: var(--dl-radius-radius-radius12);
  flex-direction: column;
  text-decoration: none;
  background-color: var(--dl-color-dark-gray-360);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.collection-items-container-item1:hover {
  border-color: var(--dl-color-dark-green-200);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 5px;
}
.collection-items-container-image-header {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  aspect-ratio: 1/1;
  border-radius: var(--dl-radius-radius-radius12);
  background-size: cover;
  justify-content: flex-end;
  background-image: url("/vlad__foton.is__radix.stream_pirate_crew_member_illustration_985a59cd-5e25-43ca-b106-15a717076d76-1500w.png");
}
.collection-items-container-checkbox10 {
  width: 18px;
  height: 18px;
  opacity: 0.7;
  margin-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  background-color: var(--dl-color-dark-blue-100);
}
.collection-items-container-text-box {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: flex-start;
}
.collection-items-container-container21 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.collection-items-container-text31 {
  color: var(--dl-color-dark-white);
  width: 100%;
  height: auto;
  display: inline-block;
  overflow: hidden;
  font-size: 18px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: none;
  text-decoration: none;
}
.collection-items-container-container22 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.collection-items-container-floor {
  gap: 3px;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.collection-items-container-text32 {
  color: var(--dl-color-dark-gray-400);
}
.collection-items-container-text33 {
  color: var(--dl-color-dark-white);
}
.collection-items-container-volume24 {
  gap: 3px;
  flex: 1;
  height: 100%;
  display: flex;
  align-self: flex-end;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
}
.collection-items-container-text34 {
  color: var(--dl-color-dark-green-200);
}
.collection-items-container-container23 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.collection-items-container-text35 {
  color: var(--dl-color-dark-white);
}
.collection-items-container-item11 {
  flex: 1;
  display: flex;
  position: relative;
  transition: 0.3s;
  align-items: flex-start;
  border-color: var(--dl-color-dark-gray-360);
  border-width: 5px;
  border-radius: var(--dl-radius-radius-radius12);
  flex-direction: column;
  background-color: var(--dl-color-dark-gray-360);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.collection-items-container-item11:hover {
  border-color: var(--dl-color-dark-green-200);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 5px;
}
.collection-items-container-image-header1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  aspect-ratio: 1/1;
  border-radius: var(--dl-radius-radius-radius12);
  background-size: cover;
  justify-content: flex-end;
  background-image: url("/vlad__foton.is__radix.stream_pirate_crew_member_illustration_985a59cd-5e25-43ca-b106-15a717076d76-1500w.png");
}
.collection-items-container-checkbox11 {
  width: 18px;
  height: 18px;
  opacity: 0.7;
  margin-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  background-color: var(--dl-color-dark-blue-100);
}
.collection-items-container-text-box1 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: flex-start;
}
.collection-items-container-container24 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.collection-items-container-text36 {
  color: var(--dl-color-dark-white);
  width: 100%;
  height: auto;
  display: inline-block;
  overflow: hidden;
  font-size: 18px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: none;
  text-decoration: none;
}
.collection-items-container-container25 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.collection-items-container-floor1 {
  gap: 3px;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.collection-items-container-text37 {
  color: var(--dl-color-dark-gray-400);
}
.collection-items-container-text38 {
  color: var(--dl-color-dark-white);
}
.collection-items-container-volume241 {
  gap: 3px;
  flex: 1;
  height: 100%;
  display: flex;
  align-self: flex-end;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
}
.collection-items-container-text39 {
  color: var(--dl-color-dark-gray-400);
}
.collection-items-container-container26 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.collection-items-container-text40 {
  color: var(--dl-color-dark-white);
}
.collection-items-container-item12 {
  flex: 1;
  display: flex;
  position: relative;
  transition: 0.3s;
  align-items: flex-start;
  border-color: var(--dl-color-dark-gray-360);
  border-width: 5px;
  border-radius: var(--dl-radius-radius-radius12);
  flex-direction: column;
  background-color: var(--dl-color-dark-gray-360);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.collection-items-container-item12:hover {
  border-color: var(--dl-color-dark-green-200);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 5px;
}
.collection-items-container-image-header2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  aspect-ratio: 1/1;
  border-radius: var(--dl-radius-radius-radius12);
  background-size: cover;
  justify-content: flex-end;
  background-image: url("/vlad__foton.is__radix.stream_pirate_crew_member_illustration_985a59cd-5e25-43ca-b106-15a717076d76-1500w.png");
}
.collection-items-container-checkbox12 {
  width: 18px;
  height: 18px;
  opacity: 0.7;
  margin-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  background-color: var(--dl-color-dark-blue-100);
}
.collection-items-container-text-box2 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: flex-start;
}
.collection-items-container-container27 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.collection-items-container-text41 {
  color: var(--dl-color-dark-white);
  width: 100%;
  height: auto;
  display: inline-block;
  overflow: hidden;
  font-size: 18px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: none;
  text-decoration: none;
}
.collection-items-container-container28 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.collection-items-container-floor2 {
  gap: 3px;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.collection-items-container-text42 {
  color: var(--dl-color-dark-gray-400);
}
.collection-items-container-text43 {
  color: var(--dl-color-dark-white);
}
.collection-items-container-volume242 {
  gap: 3px;
  flex: 1;
  height: 100%;
  display: flex;
  align-self: flex-end;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
}
.collection-items-container-text44 {
  color: var(--dl-color-dark-green-200);
}
.collection-items-container-container29 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.collection-items-container-text45 {
  color: var(--dl-color-dark-white);
}
.collection-items-container-item13 {
  flex: 1;
  display: flex;
  position: relative;
  transition: 0.3s;
  align-items: flex-start;
  border-color: var(--dl-color-dark-gray-360);
  border-width: 5px;
  border-radius: var(--dl-radius-radius-radius12);
  flex-direction: column;
  background-color: var(--dl-color-dark-gray-360);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.collection-items-container-item13:hover {
  border-color: var(--dl-color-dark-green-200);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 5px;
}
.collection-items-container-image-header3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  aspect-ratio: 1/1;
  border-radius: var(--dl-radius-radius-radius12);
  background-size: cover;
  justify-content: flex-end;
  background-image: url("/vlad__foton.is__radix.stream_pirate_crew_member_illustration_985a59cd-5e25-43ca-b106-15a717076d76-1500w.png");
}
.collection-items-container-checkbox13 {
  width: 18px;
  height: 18px;
  opacity: 0.7;
  margin-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  background-color: var(--dl-color-dark-blue-100);
}
.collection-items-container-text-box3 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: flex-start;
}
.collection-items-container-container30 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.collection-items-container-text46 {
  color: var(--dl-color-dark-white);
  width: 100%;
  height: auto;
  display: inline-block;
  overflow: hidden;
  font-size: 18px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: none;
  text-decoration: none;
}
.collection-items-container-container31 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.collection-items-container-floor3 {
  gap: 3px;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.collection-items-container-text47 {
  color: var(--dl-color-dark-gray-400);
}
.collection-items-container-text48 {
  color: var(--dl-color-dark-white);
}
.collection-items-container-volume243 {
  gap: 3px;
  flex: 1;
  height: 100%;
  display: flex;
  align-self: flex-end;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
}
.collection-items-container-text49 {
  color: var(--dl-color-dark-green-200);
}
.collection-items-container-container32 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.collection-items-container-text50 {
  color: var(--dl-color-dark-white);
}
.collection-items-container-item14 {
  flex: 1;
  display: flex;
  position: relative;
  transition: 0.3s;
  align-items: flex-start;
  border-color: var(--dl-color-dark-gray-360);
  border-width: 5px;
  border-radius: var(--dl-radius-radius-radius12);
  flex-direction: column;
  background-color: var(--dl-color-dark-gray-360);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.collection-items-container-item14:hover {
  border-color: var(--dl-color-dark-green-200);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 5px;
}
.collection-items-container-image-header4 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  aspect-ratio: 1/1;
  border-radius: var(--dl-radius-radius-radius12);
  background-size: cover;
  justify-content: flex-end;
  background-image: url("/vlad__foton.is__radix.stream_launch_of_a_geometric_rocket_with__07d686d1-ac67-4445-8604-8ef1e9f56803-1500w.png");
}
.collection-items-container-checkbox14 {
  width: 18px;
  height: 18px;
  opacity: 0.7;
  margin-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-dark-black);
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  background-color: var(--dl-color-dark-blue-100);
}
.collection-items-container-text-box4 {
  gap: 12px;
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-unit);
  padding-right: 12px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.collection-items-container-container33 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.collection-items-container-text51 {
  color: var(--dl-color-dark-white);
  width: 100%;
  height: auto;
  display: inline-block;
  overflow: hidden;
  font-size: 18px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: none;
  text-decoration: none;
}
.collection-items-container-container34 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: 4px;
  border-color: var(--dl-color-dark-gray-370);
  border-width: 2px;
  padding-left: 8px;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: 8px;
  padding-bottom: 2px;
}
.collection-items-container-container34:hover {
  color: var(--dl-color-dark-green-200);
}
.collection-items-container-container34:focus-within {
  color: var(--dl-color-dark-green-200);
}
.collection-items-container-text52 {
  color: var(--dl-color-dark-white);
  transition: 0.05s;
}
.collection-items-container-text52:hover {
  color: var(--dl-color-dark-green-200);
}
.collection-items-container-container35 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.collection-items-container-floor4 {
  gap: 3px;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.collection-items-container-text53 {
  color: var(--dl-color-dark-gray-400);
}
.collection-items-container-text54 {
  color: var(--dl-color-dark-white);
}
.collection-items-container-volume244 {
  gap: 3px;
  flex: 1;
  height: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
}
.collection-items-container-text55 {
  color: var(--dl-color-dark-green-200);
  padding-right: 10px;
}
.collection-items-container-container36 {
  gap: var(--dl-space-space-halfunit);
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.collection-items-container-text56 {
  color: var(--dl-color-dark-white);
}
.collection-items-container-item15 {
  flex: 1;
  display: flex;
  position: relative;
  transition: 0.3s;
  align-items: flex-start;
  border-color: var(--dl-color-dark-gray-360);
  border-width: 5px;
  border-radius: var(--dl-radius-radius-radius12);
  flex-direction: column;
  background-color: var(--dl-color-dark-gray-360);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.collection-items-container-item15:hover {
  border-color: var(--dl-color-dark-green-200);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 5px;
}
.collection-items-container-image-header5 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  aspect-ratio: 1/1;
  border-radius: var(--dl-radius-radius-radius12);
  background-size: cover;
  justify-content: flex-end;
  background-image: url("/vlad__foton.is__radix.stream_pirate_crew_member_illustration_985a59cd-5e25-43ca-b106-15a717076d76-1500w.png");
}
.collection-items-container-checkbox15 {
  width: 18px;
  height: 18px;
  opacity: 0.7;
  margin-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  background-color: var(--dl-color-dark-blue-100);
}
.collection-items-container-text-box5 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: flex-start;
}
.collection-items-container-container37 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.collection-items-container-text57 {
  color: var(--dl-color-dark-white);
  width: 100%;
  height: auto;
  display: inline-block;
  overflow: hidden;
  font-size: 18px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: none;
  text-decoration: none;
}
.collection-items-container-container38 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.collection-items-container-floor5 {
  gap: 3px;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.collection-items-container-text58 {
  color: var(--dl-color-dark-gray-400);
}
.collection-items-container-text59 {
  color: var(--dl-color-dark-white);
}
.collection-items-container-volume245 {
  gap: 3px;
  flex: 1;
  height: 100%;
  display: flex;
  align-self: flex-end;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
}
.collection-items-container-text60 {
  color: var(--dl-color-dark-green-200);
}
.collection-items-container-container39 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.collection-items-container-text61 {
  color: var(--dl-color-dark-white);
}
.collection-items-container-item16 {
  flex: 1;
  display: flex;
  position: relative;
  transition: 0.3s;
  align-items: flex-start;
  border-color: var(--dl-color-dark-gray-360);
  border-width: 5px;
  border-radius: var(--dl-radius-radius-radius12);
  flex-direction: column;
  background-color: var(--dl-color-dark-gray-360);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.collection-items-container-item16:hover {
  border-color: var(--dl-color-dark-green-200);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 5px;
}
.collection-items-container-image-header6 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  aspect-ratio: 1/1;
  border-radius: var(--dl-radius-radius-radius12);
  background-size: cover;
  justify-content: flex-end;
  background-image: url("/vlad__foton.is__radix.stream_pirate_crew_member_illustration_985a59cd-5e25-43ca-b106-15a717076d76-1500w.png");
}
.collection-items-container-checkbox16 {
  width: 18px;
  height: 18px;
  opacity: 0.7;
  margin-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  background-color: var(--dl-color-dark-blue-100);
}
.collection-items-container-text-box6 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: flex-start;
}
.collection-items-container-container40 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.collection-items-container-text62 {
  color: var(--dl-color-dark-white);
  width: 100%;
  height: auto;
  display: inline-block;
  overflow: hidden;
  font-size: 18px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: none;
  text-decoration: none;
}
.collection-items-container-container41 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.collection-items-container-floor6 {
  gap: 3px;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.collection-items-container-text63 {
  color: var(--dl-color-dark-gray-400);
}
.collection-items-container-text64 {
  color: var(--dl-color-dark-white);
}
.collection-items-container-volume246 {
  gap: 3px;
  flex: 1;
  height: 100%;
  display: flex;
  align-self: flex-end;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
}
.collection-items-container-text65 {
  color: var(--dl-color-dark-green-200);
}
.collection-items-container-container42 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.collection-items-container-text66 {
  color: var(--dl-color-dark-white);
}
.collection-items-container-item17 {
  flex: 1;
  display: flex;
  position: relative;
  transition: 0.3s;
  align-items: flex-start;
  border-color: var(--dl-color-dark-gray-360);
  border-width: 5px;
  border-radius: var(--dl-radius-radius-radius12);
  flex-direction: column;
  background-color: var(--dl-color-dark-gray-360);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.collection-items-container-item17:hover {
  border-color: var(--dl-color-dark-green-200);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 5px;
}
.collection-items-container-image-header7 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  aspect-ratio: 1/1;
  border-radius: var(--dl-radius-radius-radius12);
  background-size: cover;
  justify-content: flex-end;
  background-image: url("/vlad__foton.is__radix.stream_pirate_crew_member_illustration_985a59cd-5e25-43ca-b106-15a717076d76-1500w.png");
}
.collection-items-container-checkbox17 {
  width: 18px;
  height: 18px;
  opacity: 0.7;
  margin-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  background-color: var(--dl-color-dark-blue-100);
}
.collection-items-container-text-box7 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: flex-start;
}
.collection-items-container-container43 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.collection-items-container-text67 {
  color: var(--dl-color-dark-white);
  width: 100%;
  height: auto;
  display: inline-block;
  overflow: hidden;
  font-size: 18px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: none;
  text-decoration: none;
}
.collection-items-container-container44 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.collection-items-container-floor7 {
  gap: 3px;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.collection-items-container-text68 {
  color: var(--dl-color-dark-gray-400);
}
.collection-items-container-text69 {
  color: var(--dl-color-dark-white);
}
.collection-items-container-volume247 {
  gap: 3px;
  flex: 1;
  height: 100%;
  display: flex;
  align-self: flex-end;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
}
.collection-items-container-text70 {
  color: var(--dl-color-dark-green-200);
}
.collection-items-container-container45 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.collection-items-container-text71 {
  color: var(--dl-color-dark-white);
}
@media(max-width: 1200px) {
  .collection-items-container-container20 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media(max-width: 991px) {
  .collection-items-container-container20 {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 767px) {
  .collection-items-container-filters-side-menu {
    display: none;
  }
  .collection-items-container-header-sticky-mobile {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    position: sticky;
    border-radius: var(--dl-radius-radius-radius8);
    margin-bottom: var(--dl-space-space-unit);
    background-color: var(--dl-color-dark-gray-250);
  }
  .collection-items-container-header-filter-menu {
    height: 40px;
    position: sticky;
    padding-left: 0px;
    padding-right: 0px;
  }
  .collection-items-container-text {
    font-size: 13px;
  }
  .collection-items-container-text01 {
    font-size: 13px;
  }
  .collection-items-container-apply-button {
    width: auto;
    border-color: var(--dl-color-dark-green-200);
    border-width: 1px;
    padding-left: var(--dl-space-space-unit);
    border-radius: 6px;
    padding-right: var(--dl-space-space-unit);
  }
  .collection-items-container-text03 {
    color: var(--dl-color-dark-white);
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .collection-items-container-text04 {
    font-size: 13px;
  }
  .collection-items-container-close-button {
    border-radius: 6px;
  }
  .collection-items-container-big-button {
    display: none;
  }
  .collection-items-container-button {
    height: 40px;
    padding-top: 10px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: 10px;
  }
  .collection-items-container-text06 {
    font-size: 14;
  }
  .collection-items-container-accordion-header {
    height: 40px;
  }
  .collection-items-container-text09 {
    font-size: 13px;
  }
  .collection-items-container-text10 {
    font-size: 13px;
  }
  .collection-items-container-textinput {
    height: 40px;
    font-size: 14;
  }
  .collection-items-container-textinput1 {
    height: 40px;
    font-size: 14;
  }
  .collection-items-container-button1 {
    height: 40px;
    padding-top: 10px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: 10px;
  }
  .collection-items-container-text13 {
    font-size: 14;
  }
  .collection-items-container-accordion-header1 {
    height: 40px;
  }
  .collection-items-container-text16 {
    color: var(--dl-color-dark-white);
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }
  .collection-items-container-text17 {
    font-size: 13px;
  }
  .collection-items-container-accordion-item {
    height: 40px;
  }
  .collection-items-container-text19 {
    color: var(--dl-color-dark-green-200);
    font-size: 13px;
  }
  .collection-items-container-how-many {
    font-size: 13px;
  }
  .collection-items-container-accordion-item01 {
    height: 40px;
  }
  .collection-items-container-text20 {
    color: var(--dl-color-dark-green-200);
    font-size: 13px;
  }
  .collection-items-container-how-many01 {
    font-size: 13px;
  }
  .collection-items-container-accordion-item02 {
    height: 40px;
  }
  .collection-items-container-text21 {
    color: var(--dl-color-dark-green-200);
    font-size: 13px;
  }
  .collection-items-container-how-many02 {
    color: var(--dl-color-dark-gray-400);
    font-size: 13px;
  }
  .collection-items-container-accordion-item03 {
    height: 40px;
  }
  .collection-items-container-text22 {
    color: var(--dl-color-dark-green-200);
    font-size: 13px;
  }
  .collection-items-container-how-many03 {
    color: var(--dl-color-dark-gray-400);
    font-size: 13px;
  }
  .collection-items-container-accordion-header2 {
    height: 40px;
  }
  .collection-items-container-text23 {
    font-size: 13px;
  }
  .collection-items-container-how-many04 {
    font-size: 13px;
  }
  .collection-items-container-accordion-item04 {
    height: 40px;
  }
  .collection-items-container-text24 {
    font-size: 13px;
  }
  .collection-items-container-how-many05 {
    font-size: 13px;
  }
  .collection-items-container-accordion-item05 {
    height: 40px;
  }
  .collection-items-container-text25 {
    font-size: 13px;
  }
  .collection-items-container-how-many06 {
    font-size: 13px;
  }
  .collection-items-container-accordion-item06 {
    height: 40px;
  }
  .collection-items-container-text26 {
    font-size: 13px;
  }
  .collection-items-container-how-many07 {
    font-size: 13px;
  }
  .collection-items-container-accordion-header3 {
    height: 40px;
  }
  .collection-items-container-text27 {
    font-size: 13px;
  }
  .collection-items-container-how-many08 {
    font-size: 13px;
  }
  .collection-items-container-accordion-item07 {
    height: 40px;
  }
  .collection-items-container-text28 {
    font-size: 13px;
  }
  .collection-items-container-how-many09 {
    font-size: 13px;
  }
  .collection-items-container-accordion-item08 {
    height: 40px;
  }
  .collection-items-container-text29 {
    font-size: 13px;
  }
  .collection-items-container-how-many10 {
    font-size: 13px;
  }
  .collection-items-container-accordion-item09 {
    height: 40px;
  }
  .collection-items-container-text30 {
    font-size: 13px;
  }
  .collection-items-container-how-many11 {
    font-size: 13px;
  }
  .collection-items-container-container20 {
    gap: var(--dl-space-space-halfunit);
    align-items: stretch;
    grid-row-gap: var(--dl-space-space-unit);
    grid-template-columns: 1fr 1fr;
  }
  .collection-items-container-item1 {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .collection-items-container-image-header {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .collection-items-container-text31 {
    font-size: 16px;
  }
  .collection-items-container-text32 {
    font-size: 11px;
  }
  .collection-items-container-text33 {
    font-size: 13px;
  }
  .collection-items-container-text34 {
    font-size: 11px;
  }
  .collection-items-container-text35 {
    font-size: 13px;
  }
  .collection-items-container-item11 {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .collection-items-container-image-header1 {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .collection-items-container-text36 {
    font-size: 16px;
  }
  .collection-items-container-text37 {
    font-size: 11px;
  }
  .collection-items-container-text38 {
    font-size: 13px;
  }
  .collection-items-container-text39 {
    font-size: 11px;
  }
  .collection-items-container-text40 {
    font-size: 13px;
  }
  .collection-items-container-item12 {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .collection-items-container-image-header2 {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .collection-items-container-text41 {
    font-size: 16px;
  }
  .collection-items-container-text42 {
    font-size: 11px;
  }
  .collection-items-container-text43 {
    font-size: 13px;
  }
  .collection-items-container-text44 {
    font-size: 11px;
  }
  .collection-items-container-text45 {
    font-size: 13px;
  }
  .collection-items-container-item13 {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .collection-items-container-image-header3 {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .collection-items-container-text46 {
    font-size: 16px;
  }
  .collection-items-container-text47 {
    font-size: 11px;
  }
  .collection-items-container-text48 {
    font-size: 13px;
  }
  .collection-items-container-text49 {
    font-size: 11px;
  }
  .collection-items-container-text50 {
    font-size: 13px;
  }
  .collection-items-container-item14 {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .collection-items-container-image-header4 {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .collection-items-container-text51 {
    font-size: 16px;
  }
  .collection-items-container-text52 {
    font-size: 13px;
  }
  .collection-items-container-text53 {
    font-size: 11px;
  }
  .collection-items-container-text54 {
    font-size: 13px;
  }
  .collection-items-container-volume244 {
    justify-content: flex-start;
  }
  .collection-items-container-text55 {
    font-size: 11px;
  }
  .collection-items-container-text56 {
    font-size: 13px;
  }
  .collection-items-container-item15 {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .collection-items-container-image-header5 {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .collection-items-container-text57 {
    font-size: 16px;
  }
  .collection-items-container-text58 {
    font-size: 11px;
  }
  .collection-items-container-text59 {
    font-size: 13px;
  }
  .collection-items-container-text60 {
    font-size: 11px;
  }
  .collection-items-container-text61 {
    font-size: 13px;
  }
  .collection-items-container-item16 {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .collection-items-container-image-header6 {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .collection-items-container-text62 {
    font-size: 16px;
  }
  .collection-items-container-text63 {
    font-size: 11px;
  }
  .collection-items-container-text64 {
    font-size: 13px;
  }
  .collection-items-container-text65 {
    font-size: 11px;
  }
  .collection-items-container-text66 {
    font-size: 13px;
  }
  .collection-items-container-item17 {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .collection-items-container-image-header7 {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .collection-items-container-text67 {
    font-size: 16px;
  }
  .collection-items-container-text68 {
    font-size: 11px;
  }
  .collection-items-container-text69 {
    font-size: 13px;
  }
  .collection-items-container-text70 {
    font-size: 11px;
  }
  .collection-items-container-text71 {
    font-size: 13px;
  }
}
@media(max-width: 479px) {
  .collection-items-container-text-box {
    padding: 12px;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .collection-items-container-text-box1 {
    padding: 12px;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .collection-items-container-text-box2 {
    padding: 12px;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .collection-items-container-text-box3 {
    padding: 12px;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .collection-items-container-text-box4 {
    padding: 12px;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .collection-items-container-text-box5 {
    padding: 12px;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .collection-items-container-text-box6 {
    padding: 12px;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .collection-items-container-text-box7 {
    padding: 12px;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
}
