.layout-with-sidebar-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.layout-with-sidebar-navbar {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 80px;
  display: flex;
  z-index: 10000;
  position: fixed;
  align-items: center;
  padding-top: 4px;
  justify-content: space-between;
  background-color: var(--dl-color-dark-gray-200);
}
.layout-with-sidebar-container1 {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
.layout-with-sidebar-sidenav-button {
  flex: 0 0 auto;
  width: 50px;
  height: 50px;
  display: flex;
  align-self: center;
  transition: 0.05s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-360);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius12);
  justify-content: center;
}
.layout-with-sidebar-sidenav-button:hover {
  border-color: var(--dl-color-dark-gray-370);
  background-color: var(--dl-color-dark-gray-300);
}
.layout-with-sidebar-icon {
  flex: 0 0 auto;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: flex-start;
  background-size: contain;
  background-image: url("/sidemenu-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.layout-with-sidebar-navlink {
  display: contents;
}
.layout-with-sidebar-logo-container {
  width: 110px;
  height: 26px;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  background-size: contain;
  justify-content: flex-start;
  text-decoration: none;
  background-image: url("/foton%20logo%20white.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.layout-with-sidebar-searchbar {
  flex: 1;
  width: 100%;
  height: 50px;
  display: flex;
  max-width: 1000PX;
  align-self: center;
  transition: 0.05s;
  align-items: flex-start;
  border-color: var(--dl-color-dark-gray-360);
  border-width: 2px;
  margin-right: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius12);
}
.layout-with-sidebar-searchbar:hover {
  border-color: var(--dl-color-dark-gray-370);
  background-color: var(--dl-color-dark-gray-200);
}
.layout-with-sidebar-searchbar:focus-within {
  border-color: var(--dl-color-dark-gray-370);
  background-color: var(--dl-color-dark-gray-200);
}
.layout-with-sidebar-form {
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  border-color: var(--dl-color-dark-gray-360);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius12);
}
.layout-with-sidebar-button {
  display: flex;
  align-items: center;
  border-width: 0px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: center;
  background-color: transparent;
}
.layout-with-sidebar-icon1 {
  fill: var(--dl-color-dark-gray-400);
  width: 24px;
  height: 24px;
  transition: 0.3s;
}
.layout-with-sidebar-icon1:focus-within {
  fill: var(--dl-color-dark-gray-370);
}
.layout-with-sidebar-textinput {
  color: var(--dl-color-dark-white);
  width: 100%;
  height: 50px;
  align-self: center;
  border-width: 0px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  background-color: transparent;
}
.layout-with-sidebar-div {
  display: contents;
}
.layout-with-sidebar-wrapper-right {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.layout-with-sidebar-container-right {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
}
.layout-with-sidebar-items {
  flex: 1;
  width: auto;
  height: 100px;
  display: flex;
  align-self: center;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  justify-content: flex-end;
}
.layout-with-sidebar-navlink01 {
  color: var(--dl-color-dark-white);
  font-size: 16px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  line-height: 1.15;
  padding-top: 12px;
  border-width: 0px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: 12px;
  text-transform: none;
  text-decoration: none;
  background-color: transparent;
}
.layout-with-sidebar-navlink01:active {
  color: var(--dl-color-dark-green-200);
}
.layout-with-sidebar-navlink02 {
  color: var(--dl-color-dark-white);
  transition: 0.3s;
  padding-top: 12px;
  border-width: 0px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: 12px;
  text-decoration: none;
  background-color: transparent;
}
.layout-with-sidebar-navlink02:hover {
  color: var(--dl-color-dark-green-200);
}
.layout-with-sidebar-navlink02:active {
  color: var(--dl-color-dark-green-200);
}
.layout-with-sidebar-navlink03 {
  color: var(--dl-color-dark-white);
  transition: 0.3s;
  padding-top: 12px;
  border-width: 0px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: 12px;
  text-decoration: none;
  background-color: transparent;
}
.layout-with-sidebar-navlink03:hover {
  color: var(--dl-color-dark-green-200);
}
.layout-with-sidebar-navlink03:active {
  color: var(--dl-color-dark-green-200);
}
.layout-with-sidebar-navlink04 {
  color: var(--dl-color-dark-white);
  transition: 0.3s;
  padding-top: 12px;
  border-width: 0px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: 12px;
  text-decoration: none;
  background-color: transparent;
}
.layout-with-sidebar-navlink04:hover {
  color: var(--dl-color-dark-green-200);
}
.layout-with-sidebar-navlink04:active {
  color: var(--dl-color-dark-green-200);
}
.layout-with-sidebar-mobile-search {
  flex: 0 0 auto;
  width: 50px;
  height: 50px;
  display: none;
  padding: 0px;
  align-self: center;
  transition: 0.05s;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: center;
}
.layout-with-sidebar-mobile-search:hover {
  background-color: var(--dl-color-dark-gray-360);
}
.layout-with-sidebar-icon3 {
  fill: var(--dl-color-dark-white);
  width: 24px;
  height: 24px;
}
.layout-with-sidebar-cart {
  flex: 0 0 auto;
  width: 50px;
  height: 50px;
  display: flex;
  padding: 0px;
  align-self: center;
  transition: 0.05s;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius12);
  padding-right: 0px;
  justify-content: center;
}
.layout-with-sidebar-cart:hover {
  background-color: var(--dl-color-dark-gray-360);
}
.layout-with-sidebar-icon5 {
  fill: var(--dl-color-dark-white);
  width: 100%;
  height: 100%;
  transition: 0.05s;
  padding-top: 10px;
  padding-left: 9px;
  padding-right: 14px;
  padding-bottom: 10px;
}

.layout-with-sidebar-text {
  color: var(--dl-color-dark-white);
  display: none;
}
.layout-with-sidebar-mobile-menu {
  flex: 0 0 auto;
  width: 50px;
  height: 50px;
  display: none;
  padding: 0px;
  align-self: center;
  transition: 0.05s;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: center;
}
.layout-with-sidebar-mobile-menu:hover {
  background-color: var(--dl-color-dark-gray-360);
}
.layout-with-sidebar-category {
  cursor: pointer;
  height: auto;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.layout-with-sidebar-dropdown-toggle {
  fill: #595959;
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: flex-end;
  padding-top: 0px;
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-round);
  padding-right: 0px;
  padding-bottom: 0px;
  background-color: var(--dl-color-dark-gray-200);
}
.layout-with-sidebar-icon7 {
  fill: var(--dl-color-dark-white);
  width: 28px;
  height: 28px;
}
.layout-with-sidebar-dropdown-list {
  right: 0;
  width: 260px;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, 0.32);
  transition: 0.3s;
  align-items: stretch;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius12);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  list-style-type: none;
  background-color: var(--dl-color-dark-gray-360);
  list-style-position: inside;
}
.layout-with-sidebar-big-buttons {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
  margin-bottom: var(--dl-space-space-unit);
}
.layout-with-sidebar-user-persona {
  gap: 4px;
  fill: #595959;
  color: var(--dl-color-dark-white);
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.layout-with-sidebar-text01 {
  width: 54px;
  cursor: pointer;
  height: 40px;
  display: flex;
  overflow: hidden;
  font-size: 40px;
}
.layout-with-sidebar-container2 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.layout-with-sidebar-name {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 2px;
}
.layout-with-sidebar-radix-address {
  color: var(--dl-color-dark-gray-400);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.layout-with-sidebar-collector-profile {
  gap: 4px;
  fill: #595959;
  color: var(--dl-color-dark-white);
  width: 100%;
  height: 58px;
  display: inline-flex;
  transition: 0.05s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: var(--dl-color-dark-gray-370);
}
.layout-with-sidebar-collector-profile:hover {
  fill: #fff;
  color: #fff;
  background-color: var(--dl-color-dark-gray-400);
}
.layout-with-sidebar-text02 {
  width: 54px;
  cursor: pointer;
  height: 40px;
  display: flex;
  overflow: hidden;
  font-size: 38px;
}
.layout-with-sidebar-text03 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  padding-top: 4px;
}
.layout-with-sidebar-creator-studio {
  gap: 4px;
  fill: #595959;
  color: var(--dl-color-dark-white);
  width: 100%;
  height: 58px;
  display: inline-flex;
  transition: 0.05s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: var(--dl-color-dark-gray-370);
}
.layout-with-sidebar-creator-studio:hover {
  fill: #fff;
  color: #fff;
  background-color: var(--dl-color-dark-gray-400);
}
.layout-with-sidebar-text04 {
  width: 54px;
  cursor: pointer;
  height: 40px;
  display: flex;
  overflow: hidden;
  font-size: 40px;
}
.layout-with-sidebar-text05 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.layout-with-sidebar-user-settings {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.layout-with-sidebar-dropdown-toggle01 {
  gap: 0;
  fill: #595959;
  color: var(--dl-color-dark-white);
  width: 100%;
  height: 46px;
  display: inline-flex;
  transition: 0.05s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 2px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.layout-with-sidebar-dropdown-toggle01:hover {
  fill: #fff;
  color: #fff;
  background-color: var(--dl-color-dark-gray-370);
}
.layout-with-sidebar-text06 {
  width: 40px;
  cursor: pointer;
  height: 24px;
  display: flex;
  overflow: hidden;
  font-size: 24px;
}
.layout-with-sidebar-text07 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
  line-height: 1.15;
  padding-top: 2px;
  text-transform: none;
  text-decoration: none;
}
.layout-with-sidebar-dropdown-toggle02 {
  gap: 0;
  fill: #595959;
  color: var(--dl-color-dark-white);
  width: 100%;
  height: 46px;
  display: inline-flex;
  transition: 0.05s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 2px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.layout-with-sidebar-dropdown-toggle02:hover {
  fill: #fff;
  color: #fff;
  background-color: var(--dl-color-dark-gray-370);
}
.layout-with-sidebar-text08 {
  width: 40px;
  cursor: pointer;
  height: 24px;
  display: flex;
  overflow: hidden;
  font-size: 24px;
}
.layout-with-sidebar-text09 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
  line-height: 1.15;
  padding-top: 2px;
  text-transform: none;
  text-decoration: none;
}
.layout-with-sidebar-dropdown-toggle03 {
  gap: 0;
  fill: #595959;
  color: var(--dl-color-dark-white);
  width: 100%;
  height: 46px;
  display: inline-flex;
  transition: 0.05s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 2px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.layout-with-sidebar-dropdown-toggle03:hover {
  fill: #fff;
  color: #fff;
  background-color: var(--dl-color-dark-gray-370);
}
.layout-with-sidebar-text10 {
  width: 40px;
  cursor: pointer;
  height: 24px;
  display: flex;
  overflow: hidden;
  font-size: 24px;
}
.layout-with-sidebar-text11 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
  line-height: 1.15;
  padding-top: 2px;
  text-transform: none;
  text-decoration: none;
}
.layout-with-sidebar-dropdown-toggle04 {
  gap: 0;
  fill: #595959;
  color: var(--dl-color-dark-white);
  width: 100%;
  height: 46px;
  display: inline-flex;
  transition: 0.05s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 2px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.layout-with-sidebar-dropdown-toggle04:hover {
  fill: #fff;
  color: #fff;
  background-color: var(--dl-color-dark-gray-370);
}
.layout-with-sidebar-text12 {
  width: 40px;
  cursor: pointer;
  height: 24px;
  display: flex;
  overflow: hidden;
  font-size: 24px;
}
.layout-with-sidebar-text13 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
  line-height: 1.15;
  padding-top: 2px;
  text-transform: none;
  text-decoration: none;
}
.layout-with-sidebar-log-out {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.layout-with-sidebar-dropdown-toggle05 {
  gap: 0;
  fill: #595959;
  color: var(--dl-color-dark-white);
  width: 100%;
  height: 46px;
  display: inline-flex;
  transition: 0.05s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 2px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.layout-with-sidebar-dropdown-toggle05:hover {
  fill: #fff;
  color: #fff;
  background-color: var(--dl-color-dark-gray-370);
}
.layout-with-sidebar-text14 {
  width: 40px;
  cursor: pointer;
  height: 24px;
  display: flex;
  overflow: hidden;
  font-size: 24px;
}
.layout-with-sidebar-text15 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
  line-height: 1.15;
  padding-top: 2px;
  text-transform: none;
  text-decoration: none;
}
.layout-with-sidebar-user {
  flex: 0 0 auto;
  width: 50px;
  height: 50px;
  display: none;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.layout-with-sidebar-avatar {
  flex: 0 0 auto;
  width: 46px;
  height: 46px;
  display: flex;
  transition: 0.05s;
  align-items: flex-start;
  border-color: var(--dl-color-dark-white);
  border-style: solid;
  border-width: 2px;
  border-radius: var(--dl-radius-radius-round);
  background-size: cover;
  background-image: url("/vlad__foton.is__radix.stream_funny_cartoon_character_in_the_sty_98d91502-c00e-4158-af06-43df0dbd30b7-200h.png");
}
.layout-with-sidebar-avatar:hover {
  border-color: var(--dl-color-dark-green-200);
}
.layout-with-sidebar-user1 {
  flex: 0 0 auto;
  width: 50px;
  height: 50px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.layout-with-sidebar-category1 {
  cursor: pointer;
  height: auto;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.layout-with-sidebar-dropdown-toggle06 {
  fill: #595959;
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: flex-end;
  padding-top: 0px;
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-round);
  padding-right: 0px;
  padding-bottom: 0px;
  background-color: var(--dl-color-dark-gray-200);
}
.layout-with-sidebar-avatar1 {
  flex: 0 0 auto;
  width: 46px;
  height: 46px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-dark-white);
  border-style: solid;
  border-width: 2px;
  border-radius: var(--dl-radius-radius-round);
  background-size: cover;
  background-image: url("/vlad__foton.is__radix.stream_funny_cartoon_character_in_the_sty_98d91502-c00e-4158-af06-43df0dbd30b7-200h.png");
}
.layout-with-sidebar-dropdown-list1 {
  right: 0;
  width: 260px;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, 0.32);
  transition: 0.3s;
  align-items: stretch;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius12);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  list-style-type: none;
  background-color: var(--dl-color-dark-gray-360);
  list-style-position: inside;
}
.layout-with-sidebar-big-buttons1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
  margin-bottom: var(--dl-space-space-unit);
}
.layout-with-sidebar-user-persona1 {
  gap: 4px;
  fill: #595959;
  color: var(--dl-color-dark-white);
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.layout-with-sidebar-text16 {
  width: 54px;
  cursor: pointer;
  height: 40px;
  display: flex;
  overflow: hidden;
  font-size: 40px;
}
.layout-with-sidebar-container3 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.layout-with-sidebar-name1 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 2px;
}
.layout-with-sidebar-radix-address1 {
  color: var(--dl-color-dark-gray-400);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.layout-with-sidebar-collector-profile1 {
  gap: 4px;
  fill: #595959;
  color: var(--dl-color-dark-white);
  width: 100%;
  height: 58px;
  display: inline-flex;
  transition: 0.05s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: var(--dl-color-dark-gray-370);
}
.layout-with-sidebar-collector-profile1:hover {
  fill: #fff;
  color: #fff;
  background-color: var(--dl-color-dark-gray-400);
}
.layout-with-sidebar-text17 {
  width: 54px;
  cursor: pointer;
  height: 40px;
  display: flex;
  overflow: hidden;
  font-size: 38px;
}
.layout-with-sidebar-text18 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  padding-top: 4px;
}
.layout-with-sidebar-creator-studio1 {
  gap: 4px;
  fill: #595959;
  color: var(--dl-color-dark-white);
  width: 100%;
  height: 58px;
  display: inline-flex;
  transition: 0.05s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: var(--dl-color-dark-gray-370);
}
.layout-with-sidebar-creator-studio1:hover {
  fill: #fff;
  color: #fff;
  background-color: var(--dl-color-dark-gray-400);
}
.layout-with-sidebar-text19 {
  width: 54px;
  cursor: pointer;
  height: 40px;
  display: flex;
  overflow: hidden;
  font-size: 40px;
}
.layout-with-sidebar-text20 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.layout-with-sidebar-user-settings1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.layout-with-sidebar-dropdown-toggle07 {
  gap: 0;
  fill: #595959;
  color: var(--dl-color-dark-white);
  width: 100%;
  height: 46px;
  display: inline-flex;
  transition: 0.05s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 2px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.layout-with-sidebar-dropdown-toggle07:hover {
  fill: #fff;
  color: #fff;
  background-color: var(--dl-color-dark-gray-370);
}
.layout-with-sidebar-text21 {
  width: 40px;
  cursor: pointer;
  height: 24px;
  display: flex;
  overflow: hidden;
  font-size: 24px;
}
.layout-with-sidebar-text22 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
  line-height: 1.15;
  padding-top: 2px;
  text-transform: none;
  text-decoration: none;
}
.layout-with-sidebar-log-out1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.layout-with-sidebar-dropdown-toggle08 {
  gap: 0;
  fill: #595959;
  color: var(--dl-color-dark-white);
  width: 100%;
  height: 46px;
  display: inline-flex;
  transition: 0.05s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 2px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.layout-with-sidebar-dropdown-toggle08:hover {
  fill: #fff;
  color: #fff;
  background-color: var(--dl-color-dark-gray-370);
}
.layout-with-sidebar-text23 {
  width: 40px;
  cursor: pointer;
  height: 24px;
  display: flex;
  overflow: hidden;
  font-size: 24px;
}
.layout-with-sidebar-text24 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
  line-height: 1.15;
  padding-top: 2px;
  text-transform: none;
  text-decoration: none;
}
.layout-with-sidebar-connect-qr {
  flex: 0 0 auto;
  width: auto;
  height: 50px;
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  justify-content: center;
}
.layout-with-sidebar-category2 {
  cursor: pointer;
  height: auto;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.layout-with-sidebar-dropdown-toggle09 {
  fill: #595959;
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: flex-end;
  padding-top: 0px;
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius12);
  padding-right: 0px;
  padding-bottom: 0px;
  background-color: var(--dl-color-dark-gray-200);
}
.layout-with-sidebar-content {
  gap: 0;
  flex: 0 0 auto;
  width: auto;
  height: 46px;
  display: flex;
  transition: 0.05s;
  align-items: center;
  border-color: var(--dl-color-dark-white);
  border-style: solid;
  border-width: 1.6px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: 24px;
  padding-right: var(--dl-space-space-unit);
  justify-content: center;
}
.layout-with-sidebar-content:hover {
  border-color: var(--dl-color-dark-green-200);
  background-color: var(--dl-color-dark-gray-360);
}
.layout-with-sidebar-image {
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.layout-with-sidebar-text25 {
  color: var(--dl-color-dark-white);
  align-self: center;
  font-style: normal;
  font-weight: 500;
}
.layout-with-sidebar-dropdown-list2 {
  right: 0;
  width: auto;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius12);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  list-style-type: none;
  background-color: var(--dl-color-dark-gray-360);
  list-style-position: inside;
}
.layout-with-sidebar-big-buttons2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
  margin-bottom: 0px;
}
.layout-with-sidebar-user-persona2 {
  gap: 4px;
  fill: #595959;
  color: var(--dl-color-dark-white);
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.layout-with-sidebar-container4 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.layout-with-sidebar-name2 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  margin-bottom: 2px;
}
.layout-with-sidebar-user-settings2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.layout-with-sidebar-dropdown-toggle10 {
  gap: 0;
  fill: #595959;
  color: var(--dl-color-dark-white);
  width: 280px;
  height: 280px;
  display: inline-flex;
  transition: 0.05s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 2px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-dark-black);
}
.layout-with-sidebar-dropdown-toggle10:hover {
  fill: #fff;
  color: #fff;
  background-color: var(--dl-color-dark-gray-370);
}
.layout-with-sidebar-log-out2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.layout-with-sidebar-contain-all {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  padding-top: 80px;
  border-radius: var(--dl-radius-radius-radius8);
}
.layout-with-sidebar-side-menu-wrapper {
  display: flex;
}
.layout-with-sidebar-main-menu {
  width: 100%;
  display: flex;
  position: relative;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
.layout-with-sidebar-wrapper-content {
  gap: 0;
  width: 100%;
  display: flex;
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  background-color: var(--dl-color-dark-gray-200);
}


































@media(max-width: 991px) {
  .layout-with-sidebar-container1 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .layout-with-sidebar-searchbar {
    display: none;
  }
  .layout-with-sidebar-items {
    display: none;
  }
  .layout-with-sidebar-mobile-search {
    width: 50px;
    height: 50px;
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
  }
  .layout-with-sidebar-cart {
    margin-left: 0px;
    margin-right: 0px;
  }
  .layout-with-sidebar-icon5 {
    fill: var(--dl-color-dark-white);
    padding-top: 13px;
    padding-bottom: 13px;
  }
  .layout-with-sidebar-mobile-menu {
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
  }
  .layout-with-sidebar-dropdown-toggle {
    width: 50px;
    height: 50px;
    align-items: center;
    border-radius: 0px;
    justify-content: center;
    background-color: transparent;
  }
  .layout-with-sidebar-text01 {
    height: 40px;
    font-size: 38px;
  }
  .layout-with-sidebar-collector-profile {
    height: 50px;
  }
  .layout-with-sidebar-creator-studio {
    height: 50px;
  }
  .layout-with-sidebar-dropdown-toggle01 {
    height: 40px;
    padding-top: 0px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 0px;
  }
  .layout-with-sidebar-text06 {
    font-size: 24px;
  }
  .layout-with-sidebar-text07 {
    text-transform: none;
  }
  .layout-with-sidebar-dropdown-toggle02 {
    height: 40px;
    padding-top: 0px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 0px;
  }
  .layout-with-sidebar-text08 {
    font-size: 24px;
  }
  .layout-with-sidebar-text09 {
    font-size: 14px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 400;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .layout-with-sidebar-dropdown-toggle03 {
    height: 40px;
    padding-top: 0px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 0px;
  }
  .layout-with-sidebar-text10 {
    font-size: 24px;
  }
  .layout-with-sidebar-text11 {
    font-size: 14px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 400;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .layout-with-sidebar-dropdown-toggle04 {
    height: 40px;
    padding-top: 0px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 0px;
  }
  .layout-with-sidebar-dropdown-toggle05 {
    height: 40px;
    padding-top: 0px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 0px;
  }
  .layout-with-sidebar-user {
    display: none;
  }
  .layout-with-sidebar-user1 {
    display: none;
  }
  .layout-with-sidebar-connect-qr {
    display: none;
  }
  .layout-with-sidebar-main-menu {
    flex: 1;
  }
  .layout-with-sidebar-wrapper-content {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 767px) {
  .layout-with-sidebar-navbar {
    height: 70px;
  }
  .layout-with-sidebar-container1 {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .layout-with-sidebar-sidenav-button {
    width: 40px;
    height: 40px;
  }
  .layout-with-sidebar-icon {
    width: 18px;
    height: 18px;
  }
  .layout-with-sidebar-logo-container {
    width: 80px;
    height: 22px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .layout-with-sidebar-mobile-search {
    width: 44px;
    height: 44px;
  }
  .layout-with-sidebar-icon3 {
    width: 20px;
    height: 20px;
  }
  .layout-with-sidebar-cart {
    width: 44px;
    height: 44px;
    margin-left: 4px;
  }
  .layout-with-sidebar-icon5 {
    padding-top: 12px;
    padding-left: 6px;
    padding-right: 10px;
    padding-bottom: 12px;
  }
  .layout-with-sidebar-mobile-menu {
    width: 44px;
    height: 44px;
    margin-left: 4px;
    margin-right: 0px;
  }
  .layout-with-sidebar-category {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .layout-with-sidebar-dropdown-toggle {
    width: 44px;
    height: 44px;
    padding-left: 0px;
    border-radius: var(--dl-radius-radius-radius8);
  }
  .layout-with-sidebar-icon7 {
    width: 22px;
    height: 22px;
  }
  .layout-with-sidebar-dropdown-list {
    display: none;
    border-radius: var(--dl-radius-radius-radius8);
  }
  .layout-with-sidebar-user-persona {
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 10px;
  }
  .layout-with-sidebar-name {
    font-size: 13px;
  }
  .layout-with-sidebar-radix-address {
    font-size: 13px;
  }
  .layout-with-sidebar-text02 {
    font-size: 34px;
  }
  .layout-with-sidebar-text03 {
    font-size: 14px;
  }
  .layout-with-sidebar-text04 {
    font-size: 36px;
  }
  .layout-with-sidebar-text05 {
    font-size: 14px;
  }
  .layout-with-sidebar-dropdown-toggle01 {
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 10px;
  }
  .layout-with-sidebar-dropdown-toggle02 {
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 10px;
  }
  .layout-with-sidebar-dropdown-toggle03 {
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 10px;
  }
  .layout-with-sidebar-dropdown-toggle04 {
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 10px;
  }
  .layout-with-sidebar-dropdown-toggle05 {
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 10px;
  }
  .layout-with-sidebar-user1 {
    display: none;
  }
  .layout-with-sidebar-category1 {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .layout-with-sidebar-dropdown-toggle06 {
    height: 38.5px;
    padding-left: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-radius8);
  }
  .layout-with-sidebar-dropdown-list1 {
    display: none;
    border-radius: var(--dl-radius-radius-radius8);
  }
  .layout-with-sidebar-user-persona1 {
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 10px;
  }
  .layout-with-sidebar-text16 {
    font-size: 13px;
  }
  .layout-with-sidebar-name1 {
    font-size: 13px;
  }
  .layout-with-sidebar-radix-address1 {
    font-size: 13px;
  }
  .layout-with-sidebar-collector-profile1 {
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 10px;
  }
  .layout-with-sidebar-text17 {
    font-size: 13px;
  }
  .layout-with-sidebar-text18 {
    font-size: 13px;
  }
  .layout-with-sidebar-creator-studio1 {
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 10px;
  }
  .layout-with-sidebar-text19 {
    font-size: 13px;
  }
  .layout-with-sidebar-text20 {
    font-size: 13px;
  }
  .layout-with-sidebar-dropdown-toggle07 {
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 10px;
  }
  .layout-with-sidebar-text21 {
    font-size: 13px;
  }
  .layout-with-sidebar-dropdown-toggle08 {
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 10px;
  }
  .layout-with-sidebar-text23 {
    font-size: 13px;
  }
  .layout-with-sidebar-connect-qr {
    display: none;
  }
  .layout-with-sidebar-category2 {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .layout-with-sidebar-dropdown-toggle09 {
    height: 38.5px;
    padding-left: var(--dl-space-space-unit);
  }
  .layout-with-sidebar-dropdown-list2 {
    display: none;
    border-radius: var(--dl-radius-radius-radius8);
  }
  .layout-with-sidebar-user-persona2 {
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 10px;
  }
  .layout-with-sidebar-name2 {
    font-size: 13px;
  }
  .layout-with-sidebar-dropdown-toggle10 {
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 10px;
  }
  .layout-with-sidebar-contain-all {
    padding-top: 70px;
  }
  .layout-with-sidebar-wrapper-content {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
}
