.side-menu-side-menu {
  flex: 0 0 auto;
  width: 280px;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  background-color: var(--dl-color-dark-gray-200);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.side-menu-container {
  flex: 1.4;
  overflow-x: hidden;
  padding-top: 22px;
  padding-left: 17px;
  background-color: transparent;
}
.side-menu-container01 {
  flex: 0 0 auto;
  width: 60px;
  height: 60px;
  display: flex;
  transition: 0.05s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-200);
  border-width: 3px;
  border-radius: var(--dl-radius-radius-radius12);
  margin-bottom: 10px;
  padding-bottom: 0px;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-370);
}
.side-menu-container01:hover {
  border-color: var(--dl-color-dark-green-200);
  border-width: 3px;
}
.side-menu-image {
  width: 44px;
  object-fit: cover;
}
.side-menu-container02 {
  flex: 0 0 auto;
  width: 60px;
  height: 60px;
  display: flex;
  transition: 0.05s;
  align-items: center;
  border-color: var(--dl-color-dark-gray-200);
  border-width: 3px;
  border-radius: var(--dl-radius-radius-radius12);
  margin-bottom: 10px;
  padding-bottom: 0px;
  justify-content: center;
  background-color: var(--dl-color-dark-gray-370);
}
.side-menu-container02:hover {
  border-color: var(--dl-color-dark-green-200);
  border-width: 3px;
}
.side-menu-image01 {
  width: 44px;
  height: auto;
  object-fit: cover;
}
.side-menu-line-separator {
  flex: 0 0 auto;
  width: 30px;
  height: 2px;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: 18px;
  background-color: var(--dl-color-dark-gray-370);
}
.side-menu-container-hexa {
  width: 68px;
  height: 68px;
  position: relative;
  margin-bottom: 2px;
}
.side-menu-container-over {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 68px;
  height: 68px;
  margin: auto;
  display: flex;
  position: absolute;
  transition: 0.05s;
  align-items: flex-start;
  border-radius: 0px;
  padding-bottom: 0px;
  background-size: cover;
  background-image: url("/hexagonmask-200h.png");
  background-repeat: no-repeat;
  background-position: center;
}
.side-menu-container-over:hover {
  background-size: cover;
  background-image: url("/hexagonmaskborder-200h.png");
}
.side-menu-container-base {
  flex: 0 0 auto;
  width: 68px;
  height: 68px;
  display: flex;
  align-items: flex-start;
  border-radius: 0px;
  margin-bottom: 11px;
  padding-bottom: 0px;
  background-size: cover;
  background-image: url("/vlad__foton.is__radix.stream_mechanical_eye_angled_view_game_in_397f6926-7a9f-4b79-ac60-c0695df0c2f6-200h.png");
  background-repeat: no-repeat;
  background-position: center;
}
.side-menu-container-hexa1 {
  width: 68px;
  height: 68px;
  position: relative;
  margin-bottom: 2px;
}
.side-menu-container-over1 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 68px;
  height: 68px;
  margin: auto;
  display: flex;
  position: absolute;
  transition: 0.05s;
  align-items: flex-start;
  border-radius: 0px;
  padding-bottom: 0px;
  background-size: cover;
  background-image: url("/hexagonmask-200h.png");
  background-repeat: no-repeat;
  background-position: center;
}
.side-menu-container-over1:hover {
  background-size: cover;
  background-image: url("/hexagonmaskborder-200h.png");
}
.side-menu-container-base1 {
  flex: 0 0 auto;
  width: 68px;
  height: 68px;
  display: flex;
  align-items: flex-start;
  border-radius: 0px;
  margin-bottom: 11px;
  padding-bottom: 0px;
  background-size: cover;
  background-image: url("/nerds%20republic%20logo-200h.png");
  background-repeat: no-repeat;
  background-position: center;
}
.side-menu-container-hexa2 {
  width: 68px;
  height: 68px;
  position: relative;
  margin-bottom: 2px;
}
.side-menu-container-over2 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 68px;
  height: 68px;
  margin: auto;
  display: flex;
  position: absolute;
  transition: 0.05s;
  align-items: flex-start;
  border-radius: 0px;
  padding-bottom: 0px;
  background-size: cover;
  background-image: url("/hexagonmask-200h.png");
  background-repeat: no-repeat;
  background-position: center;
}
.side-menu-container-over2:hover {
  background-size: cover;
  background-image: url("/hexagonmaskborder-200h.png");
}
.side-menu-container-base2 {
  flex: 0 0 auto;
  width: 68px;
  height: 68px;
  display: flex;
  align-items: flex-start;
  border-radius: 0px;
  margin-bottom: 11px;
  padding-bottom: 0px;
  background-size: cover;
  background-image: url("/bookblaster_cartoon_astronaut_3d_8k_rich_color_73cf7de9-2a54-498b-810b-b1990c1c5349-200h.png");
  background-repeat: no-repeat;
  background-position: center;
}
.side-menu-container03 {
  flex: 0 0 auto;
  width: 70px;
  height: 70px;
  display: none;
  transition: 0.05s;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius12);
  margin-bottom: 2px;
  padding-bottom: 0px;
  background-size: cover;
  background-image: url("/hexagonmask-200h.png"),url("/vlad__foton.is__radix.stream_mechanical_eye_angled_view_game_in_397f6926-7a9f-4b79-ac60-c0695df0c2f6-200h.png");
}
.side-menu-container03:hover {
  border: none;
  border-color: var(--dl-color-dark-green-200);
  border-width: 3px;
  background-size: cover;
  background-image: url("/vlad__foton.is__radix.stream_mechanical_eye_angled_view_game_in_397f6926-7a9f-4b79-ac60-c0695df0c2f6-200h.png");
}
.side-menu-line-separator1 {
  flex: 0 0 auto;
  width: 30px;
  height: 2px;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: 18px;
  background-color: var(--dl-color-dark-gray-370);
}
.side-menu-container04 {
  flex: 0 0 auto;
  width: 60px;
  height: 60px;
  display: flex;
  transition: 0.05s;
  align-items: flex-start;
  border-color: var(--dl-color-dark-gray-200);
  border-width: 3px;
  border-radius: var(--dl-radius-radius-radius12);
  margin-bottom: 11px;
  padding-bottom: 0px;
  background-size: cover;
  background-image: url("/grid_0%20%5B7%5D-200h.webp");
  background-repeat: no-repeat;
  background-position: center;
}
.side-menu-container04:hover {
  border-color: var(--dl-color-dark-green-200);
  border-width: 3px;
}
.side-menu-container05 {
  flex: 0 0 auto;
  width: 60px;
  height: 60px;
  display: flex;
  transition: 0.05s;
  align-items: flex-start;
  border-color: var(--dl-color-dark-gray-200);
  border-width: 3px;
  border-radius: var(--dl-radius-radius-radius12);
  margin-bottom: 11px;
  padding-bottom: 0px;
  background-size: cover;
  background-image: url("/vlad__foton.is__radix.stream_pirate_crew_member_illustration_352025ba-0bac-4b8e-9a47-9d8da5bb2ceb-200h.png");
  background-repeat: no-repeat;
  background-position: center;
}
.side-menu-container05:hover {
  border-color: var(--dl-color-dark-green-200);
  border-width: 3px;
}
.side-menu-container06 {
  flex: 0 0 auto;
  width: 60px;
  height: 60px;
  display: flex;
  transition: 0.05s;
  align-items: flex-start;
  border-color: var(--dl-color-dark-gray-200);
  border-width: 3px;
  border-radius: var(--dl-radius-radius-radius12);
  margin-bottom: 11px;
  padding-bottom: 0px;
  background-size: cover;
  background-image: url("/vlad__foton.is__radix.stream_samurai_warrior_portret_with_sword_ef86e3e2-36ae-4453-90e2-6dda1ad3bb49-200h.png");
  background-repeat: no-repeat;
  background-position: center;
}
.side-menu-container06:hover {
  border-color: var(--dl-color-dark-green-200);
  border-width: 3px;
}
.side-menu-container07 {
  flex: 0 0 auto;
  width: 60px;
  height: 60px;
  display: flex;
  transition: 0.05s;
  align-items: flex-start;
  border-color: var(--dl-color-dark-gray-200);
  border-width: 3px;
  border-radius: var(--dl-radius-radius-radius12);
  margin-bottom: 11px;
  padding-bottom: 0px;
  background-size: cover;
  background-image: url("/inflow_spaceman_full_body_happy_cartoon_4k_f2f5b719-594c-4cca-ab4d-95de70515d23-200h.png");
  background-repeat: no-repeat;
  background-position: center;
}
.side-menu-container07:hover {
  border-color: var(--dl-color-dark-green-200);
  border-width: 3px;
}
.side-menu-container08 {
  flex: 0 0 auto;
  width: 60px;
  height: 60px;
  display: flex;
  transition: 0.05s;
  align-items: flex-start;
  border-color: var(--dl-color-dark-gray-200);
  border-width: 3px;
  border-radius: var(--dl-radius-radius-radius12);
  margin-bottom: 11px;
  padding-bottom: 0px;
  background-size: cover;
  background-image: url("/vlad__foton.is__radix.stream_pirate_portret_in_the_style_of_old_4ebe8238-6ff2-4f0e-85e9-db256f6ed64e-200h.png");
  background-repeat: no-repeat;
  background-position: center;
}
.side-menu-container08:hover {
  border-color: var(--dl-color-dark-green-200);
  border-width: 3px;
}
.side-menu-container09 {
  flex: 3;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: 46px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: 36px;
}
.side-menu-text {
  color: var(--dl-color-dark-white);
  width: auto;
  display: inline-block;
  white-space: nowrap;
  padding-left: var(--dl-space-space-unit);
  margin-bottom: 74px;
  text-overflow: ellipsis;
}
.side-menu-container10 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.side-menu-navlink {
  display: contents;
}
.side-menu-container11 {
  gap: 12px;
  width: 100%;
  height: 45px;
  display: flex;
  transition: 0.05s;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.side-menu-container11:hover {
  background-color: var(--dl-color-dark-gray-360);
}
.side-menu-image02 {
  width: 22px;
  object-fit: cover;
}
.side-menu-text01 {
  flex: 7;
  color: var(--dl-color-dark-white);
  display: flex;
  font-style: normal;
  transition: 0.3s;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
}
.side-menu-navlink1 {
  display: contents;
}
.side-menu-container12 {
  gap: 12px;
  width: 100%;
  height: 45px;
  display: flex;
  transition: 0.05s;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.side-menu-container12:hover {
  background-color: var(--dl-color-dark-gray-360);
}
.side-menu-image03 {
  width: 22px;
  object-fit: cover;
}
.side-menu-text02 {
  flex: 7;
  color: var(--dl-color-dark-white);
  display: flex;
  font-style: normal;
  transition: 0.3s;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
}
.side-menu-container13 {
  gap: 12px;
  width: 100%;
  height: 45px;
  display: flex;
  transition: 0.05s;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
}
.side-menu-container13:hover {
  background-color: var(--dl-color-dark-gray-360);
}
.side-menu-image04 {
  width: 22px;
  object-fit: cover;
}
.side-menu-text03 {
  flex: 7;
  color: var(--dl-color-dark-white);
  display: flex;
  font-style: normal;
  transition: 0.3s;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
}
.side-menu-container14 {
  gap: 12px;
  width: 100%;
  height: 45px;
  display: flex;
  transition: 0.05s;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
}
.side-menu-container14:hover {
  background-color: var(--dl-color-dark-gray-360);
}
.side-menu-image05 {
  width: 22px;
  object-fit: cover;
}
.side-menu-text04 {
  flex: 7;
  color: var(--dl-color-dark-white);
  display: flex;
  font-style: normal;
  transition: 0.3s;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
}
.side-menu-container15 {
  gap: 12px;
  width: 100%;
  height: 45px;
  display: flex;
  transition: 0.05s;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
}
.side-menu-container15:hover {
  background-color: var(--dl-color-dark-gray-360);
}
.side-menu-image06 {
  width: 22px;
  object-fit: cover;
}
.side-menu-text05 {
  flex: 7;
  color: var(--dl-color-dark-white);
  display: flex;
  font-style: normal;
  transition: 0.3s;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
}
.side-menu-container16 {
  gap: 12px;
  width: 100%;
  height: 45px;
  display: flex;
  transition: 0.05s;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
}
.side-menu-container16:hover {
  background-color: var(--dl-color-dark-gray-360);
}
.side-menu-image07 {
  width: 22px;
  object-fit: cover;
}
.side-menu-text06 {
  flex: 7;
  color: var(--dl-color-dark-white);
  display: flex;
  font-style: normal;
  transition: 0.3s;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
}
.side-menu-navlink2 {
  display: contents;
}
.side-menu-container17 {
  gap: 12px;
  width: 100%;
  height: 45px;
  display: flex;
  transition: 0.05s;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.side-menu-container17:hover {
  background-color: var(--dl-color-dark-gray-360);
}
.side-menu-image08 {
  width: 22px;
  object-fit: cover;
}
.side-menu-text07 {
  flex: 7;
  color: var(--dl-color-dark-white);
  display: flex;
  font-style: normal;
  transition: 0.3s;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
}
.side-menu-container18 {
  gap: 12px;
  width: 100%;
  height: 45px;
  display: flex;
  transition: 0.05s;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
}
.side-menu-container18:hover {
  background-color: var(--dl-color-dark-gray-360);
}
.side-menu-image09 {
  width: 22px;
  object-fit: cover;
}
.side-menu-text08 {
  flex: 7;
  color: var(--dl-color-dark-white);
  display: flex;
  font-style: normal;
  transition: 0.3s;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
}
.side-menu-container19 {
  gap: 12px;
  width: 100%;
  height: 45px;
  display: flex;
  transition: 0.05s;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
}
.side-menu-container19:hover {
  background-color: var(--dl-color-dark-gray-360);
}
.side-menu-image10 {
  width: 22px;
  object-fit: cover;
}
.side-menu-text09 {
  flex: 7;
  color: var(--dl-color-dark-white);
  display: flex;
  font-style: normal;
  transition: 0.3s;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
}
.side-menu-container20 {
  gap: 12px;
  width: 100%;
  height: 45px;
  display: flex;
  transition: 0.05s;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
}
.side-menu-container20:hover {
  background-color: var(--dl-color-dark-gray-360);
}
.side-menu-image11 {
  width: 22px;
  object-fit: cover;
}
.side-menu-text10 {
  flex: 7;
  color: var(--dl-color-dark-white);
  display: flex;
  font-style: normal;
  transition: 0.3s;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
}
.side-menu-container21 {
  gap: 12px;
  width: 100%;
  height: 45px;
  display: flex;
  transition: 0.05s;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
}
.side-menu-container21:hover {
  background-color: var(--dl-color-dark-gray-360);
}
.side-menu-image12 {
  width: 22px;
  object-fit: cover;
}
.side-menu-text11 {
  flex: 7;
  color: var(--dl-color-dark-white);
  display: flex;
  font-style: normal;
  transition: 0.3s;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
}
.side-menu-container22 {
  gap: 12px;
  width: 100%;
  height: 45px;
  display: flex;
  transition: 0.05s;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
}
.side-menu-container22:hover {
  background-color: var(--dl-color-dark-gray-360);
}
.side-menu-image13 {
  width: 22px;
  object-fit: cover;
}
.side-menu-text12 {
  flex: 7;
  color: var(--dl-color-dark-white);
  display: flex;
  font-style: normal;
  transition: 0.3s;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
}










@media(max-width: 991px) {
  .side-menu-container {
    flex: 1.3;
    padding-left: 0px;
  }
}
@media(max-width: 767px) {
  .side-menu-container {
    flex: 1.2;
    padding-left: 0px;
  }
  .side-menu-container09 {
    padding-left: 0px;
    padding-right: var(--dl-space-space-halfunit);
  }
}
