.wrapper-carousel2-wrapper-carousel {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  max-height: auto;
  align-items: flex-start;
}
.wrapper-carousel2-item2 {
  flex: 1;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  border-color: var(--dl-color-dark-gray-360);
  border-width: 5px;
  border-radius: var(--dl-radius-radius-radius12);
  flex-direction: column;
  background-color: var(--dl-color-dark-gray-360);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.wrapper-carousel2-item2:hover {
  transform: translateY(-5px);
  border-color: var(--dl-color-dark-green-200);
  border-width: 5px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 5px;
}
.wrapper-carousel2-image-header {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  aspect-ratio: 3/2;
  border-radius: var(--dl-radius-radius-radius12);
  background-size: cover;
  background-image: url("https://play.teleporthq.io/static/svg/default-img.svg");
}
.wrapper-carousel2-text-box {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: flex-start;
}
.wrapper-carousel2-container {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.wrapper-carousel2-text {
  color: var(--dl-color-dark-white);
  width: 100%;
  height: auto;
  display: inline-block;
  overflow: hidden;
  font-size: 18px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: none;
  text-decoration: none;
}
.wrapper-carousel2-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.wrapper-carousel2-floor {
  gap: 3px;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.wrapper-carousel2-text01 {
  color: var(--dl-color-dark-gray-400);
}
.wrapper-carousel2-text02 {
  color: var(--dl-color-dark-white);
}
.wrapper-carousel2-volume24 {
  gap: 3px;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.wrapper-carousel2-text03 {
  color: var(--dl-color-dark-gray-400);
}
.wrapper-carousel2-text04 {
  color: var(--dl-color-dark-green-200);
}
.wrapper-carousel2-item3 {
  flex: 1;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  border-color: var(--dl-color-dark-gray-360);
  border-width: 5px;
  border-radius: var(--dl-radius-radius-radius12);
  flex-direction: column;
  background-color: var(--dl-color-dark-gray-360);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.wrapper-carousel2-item3:hover {
  transform: translateY(-5px);
  border-color: var(--dl-color-dark-green-200);
  border-width: 5px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 5px;
}
.wrapper-carousel2-image-header1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  aspect-ratio: 3/2;
  border-radius: var(--dl-radius-radius-radius12);
  background-size: cover;
  background-image: url("https://play.teleporthq.io/static/svg/default-img.svg");
}
.wrapper-carousel2-text-box1 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: flex-start;
}
.wrapper-carousel2-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.wrapper-carousel2-text05 {
  color: var(--dl-color-dark-white);
  width: 100%;
  height: auto;
  display: inline-block;
  overflow: hidden;
  font-size: 18px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: none;
  text-decoration: none;
}
.wrapper-carousel2-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.wrapper-carousel2-floor1 {
  gap: 3px;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.wrapper-carousel2-text06 {
  color: var(--dl-color-dark-gray-400);
}
.wrapper-carousel2-text07 {
  color: var(--dl-color-dark-white);
}
.wrapper-carousel2-volume241 {
  gap: 3px;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.wrapper-carousel2-text08 {
  color: var(--dl-color-dark-gray-400);
}
.wrapper-carousel2-text09 {
  color: var(--dl-color-dark-green-200);
}
.wrapper-carousel2-item4 {
  flex: 1;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  border-color: var(--dl-color-dark-gray-360);
  border-width: 5px;
  border-radius: var(--dl-radius-radius-radius12);
  flex-direction: column;
  background-color: var(--dl-color-dark-gray-360);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.wrapper-carousel2-item4:hover {
  transform: translateY(-5px);
  border-color: var(--dl-color-dark-green-200);
  border-width: 5px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 5px;
}
.wrapper-carousel2-image-header2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  aspect-ratio: 3/2;
  border-radius: var(--dl-radius-radius-radius12);
  background-size: cover;
  background-image: url("https://play.teleporthq.io/static/svg/default-img.svg");
}
.wrapper-carousel2-text-box2 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: flex-start;
}
.wrapper-carousel2-container4 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.wrapper-carousel2-text10 {
  color: var(--dl-color-dark-white);
  width: 100%;
  height: auto;
  display: inline-block;
  overflow: hidden;
  font-size: 18px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: none;
  text-decoration: none;
}
.wrapper-carousel2-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.wrapper-carousel2-floor2 {
  gap: 3px;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.wrapper-carousel2-text11 {
  color: var(--dl-color-dark-gray-400);
}
.wrapper-carousel2-text12 {
  color: var(--dl-color-dark-white);
}
.wrapper-carousel2-volume242 {
  gap: 3px;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.wrapper-carousel2-text13 {
  color: var(--dl-color-dark-gray-400);
}
.wrapper-carousel2-text14 {
  color: var(--dl-color-dark-green-200);
}
.wrapper-carousel2-item5 {
  flex: 1;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  border-color: var(--dl-color-dark-gray-360);
  border-width: 5px;
  border-radius: var(--dl-radius-radius-radius12);
  flex-direction: column;
  background-color: var(--dl-color-dark-gray-360);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.wrapper-carousel2-item5:hover {
  transform: translateY(-5px);
  border-color: var(--dl-color-dark-green-200);
  border-width: 5px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 5px;
}
.wrapper-carousel2-image-header3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  aspect-ratio: 3/2;
  border-radius: var(--dl-radius-radius-radius12);
  background-size: cover;
  background-image: url("https://play.teleporthq.io/static/svg/default-img.svg");
}
.wrapper-carousel2-text-box3 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: flex-start;
}
.wrapper-carousel2-container6 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.wrapper-carousel2-text15 {
  color: var(--dl-color-dark-white);
  width: 100%;
  height: auto;
  display: inline-block;
  overflow: hidden;
  font-size: 18px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: none;
  text-decoration: none;
}
.wrapper-carousel2-container7 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.wrapper-carousel2-floor3 {
  gap: 3px;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.wrapper-carousel2-text16 {
  color: var(--dl-color-dark-gray-400);
}
.wrapper-carousel2-text17 {
  color: var(--dl-color-dark-white);
}
.wrapper-carousel2-volume243 {
  gap: 3px;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.wrapper-carousel2-text18 {
  color: var(--dl-color-dark-gray-400);
}
.wrapper-carousel2-text19 {
  color: var(--dl-color-dark-green-200);
}
@media(max-width: 1200px) {
  .wrapper-carousel2-item5 {
    display: none;
  }
}
@media(max-width: 991px) {
  .wrapper-carousel2-item4 {
    display: none;
  }
}
@media(max-width: 767px) {
  .wrapper-carousel2-wrapper-carousel {
    gap: var(--dl-space-space-halfunit);
  }
  .wrapper-carousel2-item2 {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .wrapper-carousel2-image-header {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .wrapper-carousel2-text {
    font-size: 16px;
  }
  .wrapper-carousel2-text01 {
    font-size: 11px;
  }
  .wrapper-carousel2-text02 {
    font-size: 13px;
  }
  .wrapper-carousel2-text03 {
    font-size: 11px;
  }
  .wrapper-carousel2-text04 {
    font-size: 13px;
  }
  .wrapper-carousel2-item3 {
    display: none;
    border-radius: var(--dl-radius-radius-radius8);
  }
  .wrapper-carousel2-image-header1 {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .wrapper-carousel2-text05 {
    font-size: 16px;
  }
  .wrapper-carousel2-text06 {
    font-size: 11px;
  }
  .wrapper-carousel2-text07 {
    font-size: 13px;
  }
  .wrapper-carousel2-text08 {
    font-size: 11px;
  }
  .wrapper-carousel2-text09 {
    font-size: 13px;
  }
  .wrapper-carousel2-item4 {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .wrapper-carousel2-image-header2 {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .wrapper-carousel2-text10 {
    font-size: 16px;
  }
  .wrapper-carousel2-text11 {
    font-size: 11px;
  }
  .wrapper-carousel2-text12 {
    font-size: 13px;
  }
  .wrapper-carousel2-text13 {
    font-size: 11px;
  }
  .wrapper-carousel2-text14 {
    font-size: 13px;
  }
  .wrapper-carousel2-item5 {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .wrapper-carousel2-image-header3 {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .wrapper-carousel2-text15 {
    font-size: 16px;
  }
  .wrapper-carousel2-text16 {
    font-size: 11px;
  }
  .wrapper-carousel2-text17 {
    font-size: 13px;
  }
  .wrapper-carousel2-text18 {
    font-size: 11px;
  }
  .wrapper-carousel2-text19 {
    font-size: 13px;
  }
}
@media(max-width: 479px) {
  .wrapper-carousel2-text-box {
    padding: 12px;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .wrapper-carousel2-text-box1 {
    padding: 12px;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .wrapper-carousel2-text-box2 {
    padding: 12px;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .wrapper-carousel2-text-box3 {
    padding: 12px;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
}
