.header {
    flex: 4;
    width: auto;
    height: auto;
    display: flex;
    position: relative;
    align-items: flex-start;

    >img {
        width: 100%;
        height: 100%;
        max-height: 400px;
        object-fit: cover;
        aspect-ratio: 3/2;
        border-color: var(--dl-color-dark-gray-300);
        border-width: 1px;
        border-radius: var(--dl-radius-radius-radius12);
    }
}


@media(max-width: 1200px) {

    .header {
        flex: 5;

        >img {
            width: 100%;
            height: 100%;
            aspect-ratio: 3/1;
        }
    }


}

@media(max-width: 767px) {

    .header {
        flex: 0;
        width: 100%;
        height: auto;
        z-index: 0;

        >img {
            max-height: auto;
            aspect-ratio: 3/2;
        }
    }


}