 .collectionItemsContainerItem1 {
     flex: 1;
     display: flex;
     position: relative;
     transition: 0.3s;
     align-items: flex-start;
     border-color: var(--dl-color-dark-gray-360);
     border-width: 5px;
     border-radius: var(--dl-radius-radius-radius12);
     flex-direction: column;
     background-color: var(--dl-color-dark-gray-360);
     border-top-width: 0px;
     border-left-width: 0px;
     border-right-width: 0px;
 }

 .collectionItemsContainerItem1:Hover {
     border-color: var(--dl-color-dark-green-200);
     border-top-width: 0px;
     border-left-width: 0px;
     border-right-width: 0px;
     border-bottom-width: 5px;
 }

 .collectionItemsContainerImageHeader {
     flex: 0 0 auto;
     width: 100%;
     height: auto;
     display: flex;
     align-items: flex-start;
     aspect-ratio: 1/1;
     border-radius: var(--dl-radius-radius-radius12);
     background-size: cover;
     justify-content: flex-end;
     background-image: url("/playground_assets/vlad__foton.is__radix.stream_pirate_crew_member_illustration_985a59cd-5e25-43ca-b106-15a717076d76-1500w.png");
 }

 .collectionItemsContainerCheckbox10 {
     width: 18px;
     height: 18px;
     opacity: 0.7;
     margin-top: var(--dl-space-space-unit);
     margin-right: var(--dl-space-space-unit);
     background-color: var(--dl-color-dark-blue-100);
 }

 .collectionItemsContainerTextBox {
     gap: var(--dl-space-space-unit);
     flex: 0 0 auto;
     width: 100%;
     height: auto;
     display: flex;
     align-items: flex-start;
     padding-top: var(--dl-space-space-oneandhalfunits);
     padding-left: var(--dl-space-space-unit);
     padding-right: var(--dl-space-space-unit);
     flex-direction: column;
     padding-bottom: var(--dl-space-space-oneandhalfunits);
     justify-content: flex-start;
 }

 .collectionItemsContainerContainer21 {
     flex: 0 0 auto;
     width: 100%;
     height: auto;
     display: flex;
     align-items: flex-start;
 }

 .collectionItemsContainerText31 {
     color: var(--dl-color-dark-white);
     width: 100%;
     height: auto;
     display: inline-block;
     overflow: hidden;
     font-size: 18px;
     font-style: normal;
     font-family: Poppins;
     font-weight: 600;
     white-space: nowrap;
     text-overflow: ellipsis;
     text-transform: none;
     text-decoration: none;
 }

 .collectionItemsContainerContainer22 {
     flex: 0 0 auto;
     width: 100%;
     height: auto;
     display: flex;
     align-items: flex-start;
     justify-content: space-between;
 }

 .collectionItemsContainerFloor {
     gap: 3px;
     flex: 1;
     height: 100%;
     display: flex;
     align-items: flex-start;
     flex-direction: column;
 }

 .collectionItemsContainerText32 {
     color: var(--dl-color-dark-gray-400);
 }

 .collectionItemsContainerText33 {
     color: var(--dl-color-dark-white);
 }

 .collectionItemsContainerVolume24 {
     gap: 3px;
     flex: 1;
     height: 100%;
     display: flex;
     align-self: flex-end;
     align-items: flex-end;
     flex-direction: column;
     justify-content: flex-end;
 }

 .collectionItemsContainerText34 {
     color: var(--dl-color-dark-green-200);
 }

 .collectionItemsContainerContainer23 {
     gap: var(--dl-space-space-halfunit);
     display: flex;
     align-items: center;
     flex-direction: row;
     justify-content: flex-end;
 }

 .collectionItemsContainerText35 {
     color: var(--dl-color-dark-white);
 }






 @media(max-width: 767px) {

     .collectionItemsContainerItem1 {
         border-radius: var(--dl-radius-radius-radius8);
     }

     .collectionItemsContainerImageHeader {
         border-radius: var(--dl-radius-radius-radius8);
     }

     .collectionItemsContainerText31 {
         font-size: 16px;
     }

     .collectionItemsContainerText32 {
         font-size: 11px;
     }

     .collectionItemsContainerText33 {
         font-size: 13px;
     }

     .collectionItemsContainerText34 {
         font-size: 11px;
     }

     .collectionItemsContainerText35 {
         font-size: 13px;
     }

 }