.addCollection1InfoBox {
    flex: 0.8;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.addCollection1Container19 {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 0px;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    border-color: var(--dl-color-dark-gray-370);
    border-style: solid;
    border-width: 2px;
    padding-left: var(--dl-space-space-twounits);
    border-radius: var(--dl-radius-radius-radius8);
    padding-right: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-fourunits);
    justify-content: flex-start;
}

.addCollection1Text69 {
    color: var(--dl-color-dark-darkergreen);
    font-style: normal;
}

.addCollection1Text72 {
    color: var(--dl-color-dark-white);
    line-height: 1.4;
}


@media(max-width: 767px) {

    .addCollection1InfoBox {
        display: none;
    }
}