.collectionPageContainer08 {
    gap: var(--dl-space-space-halfunit);
    top: 0px;
    flex: 0 0 auto;
    right: 0px;
    width: 100%;
    height: auto;
    display: flex;
    position: absolute;
    align-items: flex-start;
    justify-content: flex-end;
}

.collectionPageButton {
    gap: var(--dl-space-space-halfunit);
    color: var(--dl-color-dark-white);
    height: 40px;
    display: flex;
    font-size: 14px;
    align-self: center;
    font-style: normal;
    transition: 0.05s;
    align-items: center;
    font-family: Poppins;
    font-weight: 500;
    line-height: 1.15;
    padding-top: 12px;
    border-color: var(--dl-color-dark-gray-360);
    border-width: 2px;
    padding-left: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-radius8);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: 12px;
    text-transform: none;
    justify-content: center;
    text-decoration: none;
    background-color: var(--dl-color-dark-gray-200);
}

.collectionPageButton:hover {
    background-color: var(--dl-color-dark-gray-360);
}

.collectionPageButton:active {
    border-color: var(--dl-color-dark-gray-360);
    background-color: var(--dl-color-dark-gray-360);
}

.collectionPageIcon {
    width: 20px;
    height: 20px;
}

.collectionPageText21 {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}

.collectionPageButton1 {
    gap: var(--dl-space-space-halfunit);
    color: var(--dl-color-dark-white);
    height: 40px;
    display: flex;
    font-size: 14px;
    align-self: center;
    font-style: normal;
    transition: 0.05s;
    align-items: center;
    font-family: Poppins;
    font-weight: 500;
    line-height: 1.15;
    padding-top: 12px;
    border-color: var(--dl-color-dark-gray-360);
    border-width: 2px;
    padding-left: 12px;
    border-radius: var(--dl-radius-radius-radius8);
    padding-right: 12px;
    padding-bottom: 12px;
    text-transform: none;
    justify-content: center;
    text-decoration: none;
    background-color: var(--dl-color-dark-gray-200);
}

.collectionPageButton1:hover {
    background-color: var(--dl-color-dark-gray-360);
}

.collectionPageButton1:active {
    border-color: var(--dl-color-dark-gray-360);
    background-color: var(--dl-color-dark-gray-360);
}

.collectionPageIcon02 {
    width: 20px;
    height: 20px;
}

.collectionPageText24 {
    display: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}

.collectionPageButton2 {
    gap: var(--dl-space-space-halfunit);
    color: var(--dl-color-dark-white);
    height: 40px;
    display: flex;
    font-size: 14px;
    align-self: center;
    font-style: normal;
    transition: 0.05s;
    align-items: center;
    font-family: Poppins;
    font-weight: 500;
    line-height: 1.15;
    padding-top: 12px;
    border-color: var(--dl-color-dark-gray-360);
    border-width: 2px;
    padding-left: 12px;
    border-radius: var(--dl-radius-radius-radius8);
    padding-right: 12px;
    padding-bottom: 12px;
    text-transform: none;
    justify-content: center;
    text-decoration: none;
    background-color: var(--dl-color-dark-gray-200);
}

.collectionPageButton2:hover {
    background-color: var(--dl-color-dark-gray-360);
}

.collectionPageButton2:active {
    border-color: var(--dl-color-dark-gray-360);
    background-color: var(--dl-color-dark-gray-360);
}

.collectionPageIcon04 {
    width: 20px;
    height: 20px;
}

.collectionPageText27 {
    display: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}

.collectionPageButton3 {
    gap: var(--dl-space-space-halfunit);
    color: var(--dl-color-dark-white);
    height: 40px;
    display: flex;
    font-size: 14px;
    align-self: center;
    font-style: normal;
    transition: 0.05s;
    align-items: center;
    font-family: Poppins;
    font-weight: 500;
    line-height: 1.15;
    padding-top: 12px;
    border-color: var(--dl-color-dark-gray-360);
    border-width: 2px;
    padding-left: 12px;
    border-radius: var(--dl-radius-radius-radius8);
    padding-right: 12px;
    padding-bottom: 12px;
    text-transform: none;
    justify-content: center;
    text-decoration: none;
    background-color: var(--dl-color-dark-gray-200);
}

.collectionPageButton3:hover {
    background-color: var(--dl-color-dark-gray-360);
}

.collectionPageButton3:active {
    border-color: var(--dl-color-dark-gray-360);
    background-color: var(--dl-color-dark-gray-360);
}

.collectionPageText30 {
    display: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}

.collectionPageIcon06 {
    width: 18px;
    height: 18px;
}

.collectionPageButton4 {
    gap: var(--dl-space-space-halfunit);
    color: var(--dl-color-dark-white);
    height: 40px;
    display: flex;
    font-size: 14px;
    align-self: center;
    font-style: normal;
    transition: 0.05s;
    align-items: center;
    font-family: Poppins;
    font-weight: 500;
    line-height: 1.15;
    padding-top: 12px;
    border-color: var(--dl-color-dark-gray-360);
    border-width: 2px;
    padding-left: 12px;
    border-radius: var(--dl-radius-radius-radius8);
    padding-right: 12px;
    padding-bottom: 12px;
    text-transform: none;
    justify-content: center;
    text-decoration: none;
    background-color: var(--dl-color-dark-gray-200);
}

.collectionPageButton4:hover {
    background-color: var(--dl-color-dark-gray-360);
}

.collectionPageButton4:active {
    border-color: var(--dl-color-dark-gray-360);
    background-color: var(--dl-color-dark-gray-360);
}

.collectionPageText33 {
    display: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}

.collectionPageIcon08 {
    width: 20px;
    height: 20px;
}


@media(max-width: 1200px) {
    .collectionPageContainer08 {
        top: 170px;
        margin: auto;
    }
}

@media(max-width: 767px) {
    .collectionPageContainer08 {
        top: 80px;
    }

    .collectionPageButton {
        height: 39px;
        padding-top: 0px;
        padding-left: var(--dl-space-space-halfunit);
        border-radius: var(--dl-radius-radius-radius8);
        padding-right: var(--dl-space-space-halfunit);
        padding-bottom: 0px;
    }

    .collectionPageText21 {
        display: none;
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
    }

    .collectionPageButton1 {
        height: 39px;
        padding-top: 0px;
        padding-left: var(--dl-space-space-halfunit);
        border-radius: var(--dl-radius-radius-radius8);
        padding-right: var(--dl-space-space-halfunit);
        padding-bottom: 0px;
    }

    .collectionPageText24 {
        display: none;
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
    }

    .collectionPageButton2 {
        height: 39px;
        padding-top: 0px;
        padding-left: var(--dl-space-space-halfunit);
        border-radius: var(--dl-radius-radius-radius8);
        padding-right: var(--dl-space-space-halfunit);
        padding-bottom: 0px;
    }

    .collectionPageText27 {
        display: none;
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
    }

    .collectionPageButton3 {
        height: 39px;
        padding-top: 0px;
        padding-left: var(--dl-space-space-halfunit);
        border-radius: var(--dl-radius-radius-radius8);
        padding-right: var(--dl-space-space-halfunit);
        padding-bottom: 0px;
    }

    .collectionPageText30 {
        display: none;
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
    }

    .collectionPageButton4 {
        height: 39px;
        padding-top: 0px;
        padding-left: var(--dl-space-space-halfunit);
        border-radius: var(--dl-radius-radius-radius8);
        padding-right: var(--dl-space-space-halfunit);
        padding-bottom: 0px;
    }

    .collectionPageText33 {
        display: none;
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
    }

}