.creatorStudioCollectionAnalyticsResources {
    gap: var(--dl-space-space-twounits);
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    margin: TwoUnits;
    display: flex;
    margin-top: 0px;
    align-items: flex-start;
    margin-left: 0px;
    padding-top: var(--dl-space-space-unit);
    margin-right: 0px;
    padding-left: 0px;
    border-radius: var(--dl-radius-radius-radius12);
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: var(--dl-space-space-unit);
    justify-content: flex-end;
}

.creatorStudioCollectionAnalyticsContainer06 {
    gap: var(--dl-space-space-unit);
    flex: 0 0 auto;
    width: 100%;
    display: grid;
    align-items: flex-end;
    justify-content: flex-start;
    grid-template-columns: 1fr 1fr 1fr;
}


.creatorStudioCollectionAnalyticsItemData {
    gap: var(--dl-space-space-unit);
    flex: 1;
    height: 160px;
    display: flex;
    transition: 0.1s;
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    border-color: var(--dl-color-dark-blue-100);
    border-width: 2px;
    padding-left: var(--dl-space-space-twounits);
    border-radius: var(--dl-radius-radius-radius12);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
    background-color: var(--dl-color-dark-blue-50);
}

.creatorStudioCollectionAnalyticsItemData:hover {
    border-color: var(--dl-color-dark-blue-200);
    background-color: var(--dl-color-dark-blue-50);
}



.creatorStudioCollectionAnalyticsContainer07 {
    flex: 2;
    width: auto;
    height: 100%;
    display: flex;
    align-items: flex-start;
    padding-top: 0px;
    border-radius: var(--dl-radius-radius-radius12);
    flex-direction: column;
    padding-bottom: 0px;
    justify-content: space-between;
}

.creatorStudioCollectionAnalyticsLabelRow {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
}
.creatorStudioCollectionAnalyticsText16 {
    color: var(--dl-color-dark-blue-200);
    font-size: 16px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 600;
    line-height: 1.15;
    margin-bottom: var(--dl-space-space-unit);
    text-decoration: none;
}

.creatorStudioCollectionAnalyticsText17 {
    color: var(--dl-color-dark-green-200);
    font-size: 16px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 400;
    line-height: 1.15;
    margin-bottom: 12px;
    text-transform: none;
    text-decoration: none;
}

.creatorStudioCollectionAnalyticsValue {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.creatorStudioCollectionAnalyticsText18 {
    color: var(--dl-color-dark-white);
    font-size: 20px;
    font-family: Poppins;
    font-weight: 700;
    line-height: 1.15;
    margin-bottom: 0px;
    text-transform: none;
    text-decoration: none;
}

.creatorStudioCollectionAnalyticsText29 {
    font-style: normal;
    font-weight: 400;
}


.creatorStudioCollectionAnalyticsItemData06 {
    gap: var(--dl-space-space-unit);
    flex: 1;
    height: 160px;
    display: flex;
    transition: 0.1s;
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    border-color: var(--dl-color-dark-gray-370);
    border-width: 2px;
    padding-left: var(--dl-space-space-twounits);
    border-radius: var(--dl-radius-radius-radius12);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
    background-color: var(--dl-color-dark-gray-360);
}

.creatorStudioCollectionAnalyticsItemData06:hover {
    border-color: var(--dl-color-dark-gray-400);
    background-color: var(--dl-color-dark-gray-360);
}
.creatorStudioCollectionAnalyticsContainer13 {
    flex: 2;
    width: auto;
    height: 100%;
    display: flex;
    align-items: flex-start;
    padding-top: 0px;
    border-radius: var(--dl-radius-radius-radius12);
    flex-direction: column;
    padding-bottom: 0px;
    justify-content: space-between;
}
.creatorStudioCollectionAnalyticsLabelRow06 {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
}

.creatorStudioCollectionAnalyticsText40 {
    color: var(--dl-color-dark-gray-400);
    font-size: 16px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 600;
    line-height: 1.15;
    margin-bottom: var(--dl-space-space-unit);
    text-decoration: none;
}


.creatorStudioCollectionAnalyticsText41 {
    color: var(--dl-color-dark-green-200);
    font-size: 16px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 400;
    line-height: 1.15;
    margin-bottom: 12px;
    text-transform: none;
    text-decoration: none;
}


.creatorStudioCollectionAnalyticsValue06 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.creatorStudioCollectionAnalyticsText42 {
    color: var(--dl-color-dark-white);
    font-size: 20px;
    font-family: Poppins;
    font-weight: 700;
    line-height: 1.15;
    margin-bottom: 0px;
    text-transform: none;
    text-decoration: none;
}

.creatorStudioCollectionAnalyticsText44 {
    font-style: normal;
    font-weight: 400;
}


@media(max-width: 1200px) {

    .creatorStudioCollectionAnalyticsContainer06 {
        grid-template-columns: 1fr 1fr;
    }

}


@media(max-width: 767px) {
    .creatorStudioCollectionAnalyticsContainer06 {
        align-items: stretch;
        grid-template-columns: 1fr;
    }

    .creatorStudioCollectionAnalyticsItemData {
        gap: 0;
        height: auto;
        padding: var(--dl-space-space-unit);
        padding-top: var(--dl-space-space-halfunit);
        padding-left: var(--dl-space-space-halfunit);
        border-radius: var(--dl-radius-radius-radius8);
        padding-right: var(--dl-space-space-halfunit);
        padding-bottom: var(--dl-space-space-halfunit);
    }
    
    .creatorStudioCollectionAnalyticsContainer07 {
        height: auto;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .creatorStudioCollectionAnalyticsLabelRow {
        margin-bottom: 0px;
        justify-content: space-between;
    }
    .creatorStudioCollectionAnalyticsText16 {
        font-size: 13px;
    }
    .creatorStudioCollectionAnalyticsText17 {
        font-size: 13px;
    }
    .creatorStudioCollectionAnalyticsContainer13 {
        height: auto;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .creatorStudioCollectionAnalyticsLabelRow06 {
        margin-bottom: 0px;
        justify-content: space-between;
    }

    .creatorStudioCollectionAnalyticsText40 {
        font-size: 13px;
    }

    .creatorStudioCollectionAnalyticsText41 {
        font-size: 13px;
    }

    .creatorStudioCollectionAnalyticsText42 {
        font-size: 14;
        margin-bottom: 0px;
    }
}