.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-dark-gray-200);
}

.home-collections {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
}

@media(max-width: 767px) {
  .home-collections {
    gap: var(--dl-space-space-twounits);
    margin-top: 0px;
  }
}
