.container {
    gap: var(--dl-space-space-twounits);
    width: auto;
    display: flex;
    align-self: flex-start;
    justify-content: flex-start;

    >div {
        gap: var(--dl-space-space-unit);
        width: auto;
        height: auto;
        display: flex;
        align-self: center;
        align-items: flex-start;
        padding-top: 0px;
        border-radius: var(--dl-radius-radius-radius12);
        flex-direction: column;

        >div {
            gap: 4px;
            width: 100%;
            display: flex;
            max-width: auto;
            align-items: flex-start;
            flex-direction: column;

            >div {
                gap: var(--dl-space-space-halfunit);
                display: flex;
                align-items: flex-start;
                margin-bottom: var(--dl-space-space-unit);
                flex-direction: row;

                .itemPageButton {
                    gap: var(--dl-space-space-halfunit);
                    color: var(--dl-color-dark-white);
                    height: 40px;
                    display: flex;
                    font-size: 14px;
                    align-self: flex-start;
                    font-style: normal;
                    transition: 0.05s;
                    align-items: center;
                    font-family: Poppins;
                    font-weight: 500;
                    line-height: 1.15;
                    padding-top: 12px;
                    border-color: var(--dl-color-dark-gray-360);
                    border-width: 2px;
                    padding-left: var(--dl-space-space-unit);
                    border-radius: var(--dl-radius-radius-radius8);
                    padding-right: var(--dl-space-space-oneandhalfunits);
                    padding-bottom: 12px;
                    text-transform: none;
                    justify-content: center;
                    text-decoration: none;
                    background-color: var(--dl-color-dark-gray-200);

                    &:hover {
                        background-color: var(--dl-color-dark-gray-360);
                    }

                    &:active {
                        border-color: var(--dl-color-dark-gray-360);
                        background-color: var(--dl-color-dark-gray-360);
                    }

                    >svg {
                        width: 20px;
                        height: 20px;
                    }

                    >span {
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 600;
                    }
                }



                .itemPageButton1 {
                    gap: var(--dl-space-space-halfunit);
                    color: var(--dl-color-dark-white);
                    height: 40px;
                    display: flex;
                    font-size: 14px;
                    align-self: flex-start;
                    font-style: normal;
                    transition: 0.05s;
                    align-items: center;
                    font-family: Poppins;
                    font-weight: 500;
                    line-height: 1.15;
                    padding-top: 12px;
                    border-color: var(--dl-color-dark-gray-360);
                    border-width: 2px;
                    padding-left: var(--dl-space-space-unit);
                    border-radius: var(--dl-radius-radius-radius8);
                    padding-right: var(--dl-space-space-oneandhalfunits);
                    padding-bottom: 12px;
                    text-transform: none;
                    justify-content: center;
                    text-decoration: none;
                    background-color: var(--dl-color-dark-gray-200);

                    &:hover {
                        background-color: var(--dl-color-dark-gray-360);
                    }

                    &:active {
                        border-color: var(--dl-color-dark-gray-360);
                        background-color: var(--dl-color-dark-gray-360);
                    }

                    >svg {
                        width: 20px;
                        height: 20px;
                    }

                    >span {
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 600;
                    }
                }



                .itemPageButton2 {
                    gap: var(--dl-space-space-halfunit);
                    color: var(--dl-color-dark-white);
                    height: 40px;
                    display: flex;
                    font-size: 14px;
                    align-self: flex-start;
                    font-style: normal;
                    transition: 0.05s;
                    align-items: center;
                    font-family: Poppins;
                    font-weight: 500;
                    line-height: 1.15;
                    padding-top: 12px;
                    border-color: var(--dl-color-dark-gray-360);
                    border-width: 2px;
                    padding-left: var(--dl-space-space-unit);
                    border-radius: var(--dl-radius-radius-radius8);
                    padding-right: var(--dl-space-space-oneandhalfunits);
                    padding-bottom: 12px;
                    text-transform: none;
                    justify-content: center;
                    text-decoration: none;
                    background-color: var(--dl-color-dark-gray-200);

                    &:hover {
                        background-color: var(--dl-color-dark-gray-360);
                    }

                    &:active {
                        border-color: var(--dl-color-dark-gray-360);
                        background-color: var(--dl-color-dark-gray-360);
                    }

                    >span {
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 600;
                    }
                }


            }

            >h2 {
                color: var(--dl-color-dark-white);
                height: auto;
                display: none;
                overflow: visible;
                flex-wrap: wrap;
                font-size: 14px;
                font-style: normal;
                font-family: Poppins;
                font-weight: 400;
                line-height: 1.5;
                white-space: normal;
                padding-right: var(--dl-space-space-threeunits);
                text-transform: none;
                text-decoration: none;
            }

            >p {
                color: var(--dl-color-dark-gray-400);
                font-size: 14px;
                font-style: normal;
                font-family: Poppins;
                font-weight: 400;
                line-height: 1.5;
                padding-right: var(--dl-space-space-threeunits);
                text-transform: none;
                text-decoration: none;
            }
        }
    }
}


@media(max-width: 991px) {
    .container {
        gap: var(--dl-space-space-unit);
        align-self: flex-start;

        >div {
            gap: var(--dl-space-space-halfunit);
            height: auto;
            padding-top: 0px;

            >div {
                gap: 2px;
            }
        }
    }
}

@media(max-width: 767px) {

    .container {
        gap: var(--dl-space-space-halfunit);
        align-self: flex-start;
        align-items: center;
        justify-content: flex-start;

        >div {
            gap: var(--dl-space-space-halfunit);
            height: auto;
            padding-top: 0px;

            >div {
                gap: 2px;
                padding-left: var(--dl-space-space-halfunit);

                .itemPageButton {
                    height: 39px;
                    padding-top: 0px;
                    padding-left: var(--dl-space-space-halfunit);
                    border-radius: var(--dl-radius-radius-radius8);
                    padding-right: var(--dl-space-space-halfunit);
                    padding-bottom: 0px;

                    >span {
                        display: none;
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 600;
                    }
                }



                .itemPageButton1 {
                    height: 39px;
                    padding-top: 0px;
                    padding-left: var(--dl-space-space-halfunit);
                    border-radius: var(--dl-radius-radius-radius8);
                    padding-right: var(--dl-space-space-halfunit);
                    padding-bottom: 0px;

                    >span {
                        display: none;
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 600;
                    }
                }

                .itemPageButton2 {
                    height: 39px;
                    padding-top: 0px;
                    padding-left: var(--dl-space-space-halfunit);
                    border-radius: var(--dl-radius-radius-radius8);
                    padding-right: var(--dl-space-space-halfunit);
                    padding-bottom: 0px;

                    >span {
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 600;
                    }
                }

                >h2 {
                    font-size: 13px;
                }

                >p {
                    width: auto;
                }
            }
        }
    }
}