.container {
    flex: 0 0 auto;
    width: 50px;
    height: 50px;
    display: none;
    padding: 0px;
    align-self: center;
    transition: 0.05s;
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: var(--dl-radius-radius-radius8);
    justify-content: center;

    >div {
        cursor: pointer;
        height: auto;
        display: inline-block;
        position: relative;
        border-radius: 2px;

        >div {
            fill: #595959;
            width: 100%;
            height: 100%;
            display: inline-flex;
            align-items: flex-end;
            padding-top: 0px;
            padding-left: 0px;
            border-radius: var(--dl-radius-radius-round);
            padding-right: 0px;
            padding-bottom: 0px;
            background-color: var(--dl-color-dark-gray-200);

            >svg {
                fill: var(--dl-color-dark-white);
                width: 28px;
                height: 28px;
            }

        }

        >ul {
            right: 0;
            width: 260px;
            display: none;
            z-index: 100;
            position: absolute;
            min-width: 100%;
            box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, 0.32);
            transition: 0.3s;
            align-items: stretch;
            padding-top: var(--dl-space-space-unit);
            padding-left: var(--dl-space-space-halfunit);
            border-radius: var(--dl-radius-radius-radius12);
            padding-right: var(--dl-space-space-halfunit);
            flex-direction: column;
            padding-bottom: var(--dl-space-space-unit);
            list-style-type: none;
            background-color: var(--dl-color-dark-gray-360);
            list-style-position: inside;

            .bigButtons {
                cursor: pointer;
                display: inline-block;
                position: relative;
                border-radius: 2px;
                margin-bottom: var(--dl-space-space-unit);

                .persona {
                    gap: 4px;
                    fill: #595959;
                    color: var(--dl-color-dark-white);
                    width: 100%;
                    display: inline-flex;
                    align-items: center;
                    padding-top: var(--dl-space-space-halfunit);
                    padding-left: var(--dl-space-space-halfunit);
                    border-radius: var(--dl-radius-radius-radius8);
                    margin-bottom: var(--dl-space-space-unit);
                    padding-right: var(--dl-space-space-halfunit);
                    padding-bottom: var(--dl-space-space-halfunit);

                    >span {
                        width: 54px;
                        cursor: pointer;
                        height: 40px;
                        display: flex;
                        overflow: hidden;
                        font-size: 40px;
                    }

                    >div {
                        width: 100%;
                        display: flex;
                        flex-direction: column;

                        span:nth-child(1) {
                            width: 100%;
                            cursor: pointer;
                            display: flex;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 600;
                            margin-bottom: 2px;
                        }

                        span:nth-child(2) {
                            color: var(--dl-color-dark-gray-400);
                            width: 100%;
                            cursor: pointer;
                            display: flex;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                        }
                    }
                }

                .profile {
                    gap: 4px;
                    fill: #595959;
                    color: var(--dl-color-dark-white);
                    width: 100%;
                    height: 58px;
                    display: inline-flex;
                    transition: 0.05s;
                    align-items: center;
                    padding-top: var(--dl-space-space-halfunit);
                    padding-left: var(--dl-space-space-unit);
                    border-radius: var(--dl-radius-radius-radius8);
                    margin-bottom: var(--dl-space-space-halfunit);
                    padding-right: var(--dl-space-space-unit);
                    padding-bottom: var(--dl-space-space-halfunit);
                    background-color: var(--dl-color-dark-gray-370);

                    span:nth-child(1) {
                        width: 54px;
                        cursor: pointer;
                        height: 40px;
                        display: flex;
                        overflow: hidden;
                        font-size: 38px;
                    }

                    span:nth-child(2) {
                        width: 100%;
                        cursor: pointer;
                        display: flex;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                        padding-top: 4px;
                    }
                }

                .profile:hover {
                    fill: #fff;
                    color: #fff;
                    background-color: var(--dl-color-dark-gray-400);
                }

                .creatorStudio {
                    gap: 4px;
                    fill: #595959;
                    color: var(--dl-color-dark-white);
                    width: 100%;
                    height: 58px;
                    display: inline-flex;
                    transition: 0.05s;
                    align-items: center;
                    padding-top: var(--dl-space-space-halfunit);
                    padding-left: var(--dl-space-space-unit);
                    border-radius: var(--dl-radius-radius-radius8);
                    margin-bottom: var(--dl-space-space-halfunit);
                    padding-right: var(--dl-space-space-unit);
                    padding-bottom: var(--dl-space-space-halfunit);
                    text-decoration: none;
                    background-color: var(--dl-color-dark-gray-370);


                    span:nth-child(1) {
                        width: 54px;
                        cursor: pointer;
                        height: 40px;
                        display: flex;
                        overflow: hidden;
                        font-size: 40px;
                    }

                    span:nth-child(2) {
                        width: 100%;
                        cursor: pointer;
                        display: flex;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                    }
                }

                .creatorStudio:hover {
                    fill: #fff;
                    color: #fff;
                    background-color: var(--dl-color-dark-gray-400);
                }
            }

            .userSettings {
                cursor: pointer;
                display: inline-block;
                position: relative;
                border-radius: 2px;

                .toggle01 {
                    gap: 0;
                    fill: #595959;
                    color: var(--dl-color-dark-white);
                    width: 100%;
                    height: 46px;
                    display: inline-flex;
                    transition: 0.05s;
                    align-items: center;
                    padding-top: var(--dl-space-space-unit);
                    padding-left: var(--dl-space-space-unit);
                    border-radius: var(--dl-radius-radius-radius8);
                    margin-bottom: 2px;
                    padding-right: var(--dl-space-space-unit);
                    padding-bottom: var(--dl-space-space-unit);
                    text-decoration: none;

                    span:nth-child(1) {
                        width: 40px;
                        cursor: pointer;
                        height: 24px;
                        display: flex;
                        overflow: hidden;
                        font-size: 24px;
                    }

                    span:nth-child(2) {
                        width: 100%;
                        cursor: pointer;
                        display: flex;
                        font-size: 14px;
                        font-style: normal;
                        font-family: Poppins;
                        font-weight: 400;
                        line-height: 1.15;
                        padding-top: 2px;
                        text-transform: none;
                        text-decoration: none;
                    }
                }

                .toggle01:hover {
                    fill: #fff;
                    color: #fff;
                    background-color: var(--dl-color-dark-gray-370);
                }

                .toggle02 {
                    gap: 0;
                    fill: #595959;
                    color: var(--dl-color-dark-white);
                    width: 100%;
                    height: 46px;
                    display: inline-flex;
                    transition: 0.05s;
                    align-items: center;
                    padding-top: var(--dl-space-space-unit);
                    padding-left: var(--dl-space-space-unit);
                    border-radius: var(--dl-radius-radius-radius8);
                    margin-bottom: 2px;
                    padding-right: var(--dl-space-space-unit);
                    padding-bottom: var(--dl-space-space-unit);
                    text-decoration: none;

                    span:nth-child(1) {
                        width: 40px;
                        cursor: pointer;
                        height: 24px;
                        display: flex;
                        overflow: hidden;
                        font-size: 24px;
                    }

                    span:nth-child(2) {
                        width: 100%;
                        cursor: pointer;
                        display: flex;
                        font-size: 14px;
                        font-style: normal;
                        font-family: Poppins;
                        font-weight: 400;
                        line-height: 1.15;
                        padding-top: 2px;
                        text-transform: none;
                        text-decoration: none;
                    }
                }

                .toggle02:hover {
                    fill: #fff;
                    color: #fff;
                    background-color: var(--dl-color-dark-gray-370);
                }



                .toggle03 {
                    gap: 0;
                    fill: #595959;
                    color: var(--dl-color-dark-white);
                    width: 100%;
                    height: 46px;
                    display: inline-flex;
                    transition: 0.05s;
                    align-items: center;
                    padding-top: var(--dl-space-space-unit);
                    padding-left: var(--dl-space-space-unit);
                    border-radius: var(--dl-radius-radius-radius8);
                    margin-bottom: 2px;
                    padding-right: var(--dl-space-space-unit);
                    padding-bottom: var(--dl-space-space-unit);
                    text-decoration: none;

                    span:nth-child(1) {
                        width: 40px;
                        cursor: pointer;
                        height: 24px;
                        display: flex;
                        overflow: hidden;
                        font-size: 24px;
                    }

                    span:nth-child(2) {
                        width: 100%;
                        cursor: pointer;
                        display: flex;
                        font-size: 14px;
                        font-style: normal;
                        font-family: Poppins;
                        font-weight: 400;
                        line-height: 1.15;
                        padding-top: 2px;
                        text-transform: none;
                        text-decoration: none;
                    }
                }

                .toggle03:hover {
                    fill: #fff;
                    color: #fff;
                    background-color: var(--dl-color-dark-gray-370);
                }

                .toggle04 {
                    gap: 0;
                    fill: #595959;
                    color: var(--dl-color-dark-white);
                    width: 100%;
                    height: 46px;
                    display: inline-flex;
                    transition: 0.05s;
                    align-items: center;
                    padding-top: var(--dl-space-space-unit);
                    padding-left: var(--dl-space-space-unit);
                    border-radius: var(--dl-radius-radius-radius8);
                    margin-bottom: 2px;
                    padding-right: var(--dl-space-space-unit);
                    padding-bottom: var(--dl-space-space-unit);
                    text-decoration: none;

                    span:nth-child(1) {
                        width: 40px;
                        cursor: pointer;
                        height: 24px;
                        display: flex;
                        overflow: hidden;
                        font-size: 24px;
                    }

                    span:nth-child(2) {
                        width: 100%;
                        cursor: pointer;
                        display: flex;
                        font-size: 14px;
                        font-style: normal;
                        font-family: Poppins;
                        font-weight: 400;
                        line-height: 1.15;
                        padding-top: 2px;
                        text-transform: none;
                        text-decoration: none;
                    }
                }

                .toggle04:hover {
                    fill: #fff;
                    color: #fff;
                    background-color: var(--dl-color-dark-gray-370);
                }

            }



            .logOut {
                cursor: pointer;
                display: inline-block;
                position: relative;
                border-radius: 2px;

                >div {
                    gap: 0;
                    fill: #595959;
                    color: var(--dl-color-dark-white);
                    width: 100%;
                    height: 46px;
                    display: inline-flex;
                    transition: 0.05s;
                    align-items: center;
                    padding-top: var(--dl-space-space-unit);
                    padding-left: var(--dl-space-space-unit);
                    border-radius: var(--dl-radius-radius-radius8);
                    margin-bottom: 2px;
                    padding-right: var(--dl-space-space-unit);
                    padding-bottom: var(--dl-space-space-unit);
                    text-decoration: none;

                    span:nth-child(1) {
                        width: 40px;
                        cursor: pointer;
                        height: 24px;
                        display: flex;
                        overflow: hidden;
                        font-size: 24px;
                    }

                    span:nth-child(2) {
                        width: 100%;
                        cursor: pointer;
                        display: flex;
                        font-size: 14px;
                        font-style: normal;
                        font-family: Poppins;
                        font-weight: 400;
                        line-height: 1.15;
                        padding-top: 2px;
                        text-transform: none;
                        text-decoration: none;
                    }
                }

                >div:hover {
                    fill: #fff;
                    color: #fff;
                    background-color: var(--dl-color-dark-gray-370);
                }

            }
        }
    }
}

.container:hover {
    background-color: var(--dl-color-dark-gray-360);
}


@media(max-width: 991px) {
    .container {
        display: flex;
        margin-left: 0px;
        margin-right: 0px;

        >div {

            >div {
                width: 50px;
                height: 50px;
                align-items: center;
                border-radius: 0px;
                justify-content: center;
                background-color: transparent;
            }

            >ul {

                .bigButtons {
                    .layoutWithSidebarText01 {
                        height: 40px;
                        font-size: 38px;
                    }

                    .profile {
                        height: 50px;
                    }

                    .creatorStudio {
                        height: 50px;
                    }
                }

                .userSettings {

                    .toggle01 {
                        height: 40px;
                        padding-top: 0px;
                        padding-left: var(--dl-space-space-unit);
                        padding-right: var(--dl-space-space-unit);
                        padding-bottom: 0px;

                        span:nth-child(1) {
                            font-size: 24px;
                        }

                        span:nth-child(2) {
                            text-transform: none;
                        }
                    }


                    .toggle02 {
                        height: 40px;
                        padding-top: 0px;
                        padding-left: var(--dl-space-space-unit);
                        padding-right: var(--dl-space-space-unit);
                        padding-bottom: 0px;

                        span:nth-child(1) {
                            font-size: 24px;
                        }

                        span:nth-child(2) {
                            font-size: 14px;
                            font-style: normal;
                            font-family: Poppins;
                            font-weight: 400;
                            line-height: 1.15;
                            text-transform: none;
                            text-decoration: none;
                        }
                    }

                    .toggle03 {
                        height: 40px;
                        padding-top: 0px;
                        padding-left: var(--dl-space-space-unit);
                        padding-right: var(--dl-space-space-unit);
                        padding-bottom: 0px;

                        span:nth-child(1) {
                            font-size: 24px;
                        }

                        span:nth-child(2) {
                            font-size: 14px;
                            font-style: normal;
                            font-family: Poppins;
                            font-weight: 400;
                            line-height: 1.15;
                            text-transform: none;
                            text-decoration: none;
                        }
                    }


                    .toggle04 {
                        height: 40px;
                        padding-top: 0px;
                        padding-left: var(--dl-space-space-unit);
                        padding-right: var(--dl-space-space-unit);
                        padding-bottom: 0px;
                    }
                }

                .logOut {
                    >div {
                        height: 40px;
                        padding-top: 0px;
                        padding-left: var(--dl-space-space-unit);
                        padding-right: var(--dl-space-space-unit);
                        padding-bottom: 0px;
                    }
                }
            }
        }
    }

}


@media(max-width: 767px) {

    .container {
        width: 44px;
        height: 44px;
        margin-left: 4px;
        margin-right: 0px;

        >div {
            border-radius: var(--dl-radius-radius-radius8);

            >div {
                width: 44px;
                height: 44px;
                padding-left: 0px;
                border-radius: var(--dl-radius-radius-radius8);

                >svg {
                    width: 22px;
                    height: 22px;
                }
            }


            >ul {
                display: none;
                border-radius: var(--dl-radius-radius-radius8);

                .bigButtons {
                    .persona {
                        padding-top: 12px;
                        padding-left: 12px;
                        padding-right: 12px;
                        padding-bottom: 10px;

                        >div {
                            span:nth-child(1) {
                                font-size: 13px;
                            }

                            span:nth-child(2) {
                                font-size: 13px;
                            }
                        }
                    }

                    .profile {
                        span:nth-child(1) {
                            font-size: 34px;
                        }

                        span:nth-child(2) {
                            font-size: 14px;
                        }
                    }

                    .creatorStudio {
                        span:nth-child(1) {
                            font-size: 36px;
                        }

                        span:nth-child(2) {
                            font-size: 14px;
                        }
                    }
                }

                .userSettings {
                    .toggle01 {
                        padding-top: 12px;
                        padding-left: 12px;
                        padding-right: 12px;
                        padding-bottom: 10px;
                    }

                    .toggle02 {
                        padding-top: 12px;
                        padding-left: 12px;
                        padding-right: 12px;
                        padding-bottom: 10px;
                    }

                    .toggle03 {
                        padding-top: 12px;
                        padding-left: 12px;
                        padding-right: 12px;
                        padding-bottom: 10px;
                    }

                    .toggle04 {
                        padding-top: 12px;
                        padding-left: 12px;
                        padding-right: 12px;
                        padding-bottom: 10px;
                    }
                }

                .logOut {
                    >div {
                        padding-top: 12px;
                        padding-left: 12px;
                        padding-right: 12px;
                        padding-bottom: 10px;
                    }
                }
            }
        }
    }

}