.collectionDropPageDropsContainer {
    width: 100%;
    display: flex;
    z-index: 500;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
}

.collectionDropPageWrapperAll {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    display: flex;
}

@media(max-width: 1200px) {
    .collectionDropPageWrapperAll {
        gap: var(--dl-space-space-unit);
    }

}

@media(max-width: 991px) {
    .collectionDropPageWrapperAll {
        gap: var(--dl-space-space-unit);
    }
}

@media(max-width: 767px) {
    .collectionDropPageWrapperAll {
        gap: 0;
        flex-direction: column;
    }
}