.container {
    width: 100%;
    display: flex;
    z-index: 500;
    position: relative;
    align-items: flex-start;
    flex-direction: column;

    >div {
        gap: var(--dl-space-space-unit);
        flex: 0 0 auto;
        width: 100%;
        display: grid;
        position: relative;
        max-height: auto;
        align-items: flex-start;
        grid-row-gap: var(--dl-space-space-twounits);
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

        .item {
            flex: 1;
            display: flex;
            position: relative;
            transition: 0.3s;
            align-items: flex-start;
            border-color: var(--dl-color-dark-gray-360);
            border-width: 5px;
            border-radius: var(--dl-radius-radius-radius12);
            flex-direction: column;
            text-decoration: none;
            background-color: var(--dl-color-dark-gray-360);
            border-top-width: 0px;
            border-left-width: 0px;
            border-right-width: 0px;

            &:hover {
                transform: translateY(-5px);
                border-color: var(--dl-color-dark-green-200);
                border-top-width: 0px;
                border-left-width: 0px;
                border-right-width: 0px;
                border-bottom-width: 5px;
            }

            .header {
                flex: 0 0 auto;
                width: 100%;
                height: auto;
                display: flex;
                align-items: flex-start;
                aspect-ratio: 3/2;
                border-radius: var(--dl-radius-radius-radius12);
                background-size: cover;
                background-image: url("/playground_assets/vlad__foton.is__radix.stream_landscape_from_a_star_wars_city_on_f4c0cd19-f3b4-41bd-bbf9-b240bdd757c1-1500w.png");
            }

            .box {
                gap: var(--dl-space-space-unit);
                flex: 0 0 auto;
                width: 100%;
                height: auto;
                display: flex;
                align-items: flex-start;
                padding-top: var(--dl-space-space-oneandhalfunits);
                padding-left: var(--dl-space-space-unit);
                padding-right: var(--dl-space-space-unit);
                flex-direction: column;
                padding-bottom: var(--dl-space-space-oneandhalfunits);
                justify-content: flex-start;

                .name {
                    flex: 0 0 auto;
                    width: 100%;
                    height: auto;
                    display: flex;
                    align-items: flex-start;

                    >span {
                        color: var(--dl-color-dark-white);
                        width: 100%;
                        height: auto;
                        display: inline-block;
                        overflow: hidden;
                        font-size: 18px;
                        font-style: normal;
                        font-family: Poppins;
                        font-weight: 600;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        text-transform: none;
                        text-decoration: none;
                    }
                }


                .details {
                    flex: 0 0 auto;
                    width: 100%;
                    height: auto;
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;

                    .dropsFloor {
                        gap: 3px;
                        flex: 1;
                        height: 100%;
                        display: flex;
                        align-items: flex-start;
                        flex-direction: column;

                        span:nth-child(1) {
                            color: var(--dl-color-dark-gray-400);
                        }

                        span:nth-child(2) {
                            color: var(--dl-color-dark-white);
                        }
                    }



                    .dropsVolume24 {
                        gap: 3px;
                        flex: 1;
                        height: 100%;
                        display: flex;
                        align-items: flex-end;
                        flex-direction: column;

                        span:nth-child(1) {
                            color: var(--dl-color-dark-gray-400);
                        }

                        span:nth-child(2) {
                            color: var(--dl-color-dark-green-200);
                        }
                    }

                }
            }
        }
    }
}


@media(max-width: 1200px) {
    .container {
        >div {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
}

@media(max-width: 991px) {
    .container {
        >div {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}


@media(max-width: 767px) {
    .container {
        >div {
            gap: var(--dl-space-space-halfunit);
            grid-template-columns: 1fr 1fr;

            .item {
                border-radius: var(--dl-radius-radius-radius8);

                .header {
                    border-radius: var(--dl-radius-radius-radius8);
                }

                .box {
                    .name {
                        >span {
                            font-size: 16px;
                        }
                    }

                    .details {
                        .dropsFloor {
                            span:nth-child(1) {
                                font-size: 11px;
                            }

                            span:nth-child(2) {
                                font-size: 13px;
                            }
                        }

                        .dropsVolume24 {
                            span:nth-child(1) {
                                font-size: 11px;
                            }

                            span:nth-child(2) {
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 479px) {
    .container {
        >div {
            .item {
                .box {
                    padding: 12px;
                    padding-top: var(--dl-space-space-unit);
                    padding-left: var(--dl-space-space-unit);
                    padding-right: var(--dl-space-space-unit);
                    padding-bottom: var(--dl-space-space-unit);
                }
            }
        }
    }
}